[2022-05-19 17:51] mohammedavez125 opened #3 "add text next to logo"
A brand name next to logo is missing , makking it look empty

[2022-05-20 05:22] Hirdey-1999 commented on #3
I Did This Check The Results in The Image

![image](https://user-images.githubusercontent.com/71271612/169456099-881bc3c0-ba32-40a3-93a8-20ad448b9ceb.png)

[2022-05-20 12:22] Susmita-Dey commented on #3
Looks awesome. I'm assigning it to you. Kindly create a PR.

[2022-05-20 12:31] mohammedavez125 commented on #3
looks great , I'll try to change explore button in container making it more
attractive

On Fri, 20 May 2022 at 17:52, Susmita Dey ***@***.***> wrote:

[2022-05-20 12:40] Hirdey-1999 commented on #3
Actually it is my first time can you help

[2022-05-21 04:45] Susmita-Dey commented on #3
Yes, sure. Where are you stuck?

[2022-05-21 04:46] Susmita-Dey opened #4 "Add CODE OF CONDUCT"
CODE OF CONDUCT needs to be added to this repository.

[2022-05-21 04:48] Susmita-Dey opened #5 "Add CONTRIBUTING GUIDELINES"
Create a file named `CONTRIBUTING.md` that must contain some guidelines for beginners to contribute to this repo.

[2022-05-21 04:49] Susmita-Dey commented on #3
@mohammedavez125 KIndly create a separate issue for that to get assigned and describe briefly what changes you wanna make.

[2022-05-21 13:03] Hirdey-1999 commented on #3
Creating The PR

[2022-05-21 13:11] Susmita-Dey commented on #3
Ok

[2022-05-21 14:58] Mount-Blanc commented on #4
Hello, I would like to work on this issue.

[2022-05-22 09:34] Hirdey-1999 commented on #3
Please Merge The Pull Request It Has Changes With Logo And The Name Of The Website

[2022-05-22 14:52] Susmita-Dey commented on #4
Go ahead

[2022-05-22 16:36] #4 closed

[2022-05-31 11:17] #3 closed

[2022-06-05 00:28] jibreel1 opened #8 "Navbar for mobile responsiveness"
I want to work on navbar for mobile responsiveness.

[2022-06-05 05:15] Susmita-Dey commented on #8
@jibreel1 Go ahead.

[2022-06-06 09:12] jibreel1 commented on #8
I have pushed my branch (jibreel1) to my repo, I wonder why it isn't showing on yours. what am I doing wrong?

[2022-06-06 09:13] Susmita-Dey commented on #8
@jibreel1 You have create a pull request

[2022-06-06 09:18] jibreel1 commented on #8
It's telling me there isn't anything to compare. What could be wrong?

[2022-06-06 15:25] Susmita-Dey commented on #8
I guess you are comparing in your forked repo which is wrong.

[2022-06-07 14:29] #8 closed

[2022-06-07 18:47] mhammadsaani opened #10 "Mobile design is less responsive"
There is work needed to be done for the responsiveness for this site. I can do this.

[2022-06-08 03:45] Susmita-Dey commented on #10
But I think it's responsive @mhammadsaani

[2022-06-22 15:22] MeghaKeshri commented on #5
I want to take it up.

[2022-07-20 03:51] Roshani9731 commented on #5
@Susmita-Dey Can I work on this ?

[2022-07-20 03:54] Roshani9731 commented on #10
@mhammadsaani Can I work on this issue?

[2022-07-21 16:58] Susmita-Dey commented on #5
@MeghaKeshri Since it's been a long time and you didn't create any PRs, I'm assigning it to @Roshani9731 .

[2022-07-21 16:59] Susmita-Dey commented on #5
Sure, go ahead.

[2022-07-21 16:59] Susmita-Dey commented on #10
Go ahead.

[2022-07-21 18:21] 2024-SANDHYA opened #11 "Favicon"
I want to add the favicon to the webpage, to make it look more professional. @Susmita-Dey

[2022-07-21 20:33] kakkarot0 commented on #11
hey can i work on this issue

[2022-07-22 11:50] dare-devilll opened #12 "Improving UI of the website."
Can I work on improving the UI and adding some nice animations to the website?

[2022-07-23 04:38] Susmita-Dey commented on #11
@2024-SANDHYA Do you want to take it over or shall I assign it to @kakkarot0 ?

[2022-07-23 04:39] Susmita-Dey commented on #12
@dare-devilll Can you show me what improvements or changes you have on your mind by showing a template of your idea?

[2022-07-23 19:28] dare-devilll commented on #12
I don't have a template right now but I want to add some animations to the cards, like some flip transitions, dashboard transitions, and hover effects on buttons, and improve the color scheme.
Making a design template with animations is hard for me...can I code and show it to you?

[2022-07-23 19:31] 2024-SANDHYA commented on #11
I would like to take it @Susmita-Dey

[2022-07-24 04:16] Susmita-Dey commented on #11
Go ahead. @kakkarot0 Sandhya is doing the work if she fails then I'd assign it to you later on

[2022-07-24 04:17] Susmita-Dey commented on #12
Yes code it and show it to me

[2022-07-26 14:50] #11 closed

[2022-07-27 19:08] vandana3869 commented on #12
Can I work on its UI enhancement and logo designing

[2022-07-28 05:11] Susmita-Dey commented on #12
Show me the template of the changes you wanna make

[2022-07-28 05:12] Susmita-Dey commented on #12
@vandana3869 and @dare-devilll First show me a template of the changes you wanna make and then I'll choose and will tell you to create a PR

[2022-07-28 18:08] vandana3869 commented on #12
@Susmita-Dey  here is the demo template ....we enhance while actual coding
https://sukoon.my.canva.site/

[2022-07-28 18:22] dare-devilll commented on #12
@Susmita-Dey I am currently coding the animations for the team and service section and as I told it's hard to show animations in a template...give me 3-4 days to show the final product.

[2022-07-29 04:23] Susmita-Dey commented on #12
Take you time

[2022-07-29 04:25] Susmita-Dey commented on #12
The site looks awesome but some improvements are needed. Let's wait for @dare-devilll and I'll confirm both of you then after that.

[2022-07-30 07:18] nandinitrivedi05 commented on #12
Hey, I am working on this in a few hours I will send you the demo temp.

[2022-07-30 09:35] nandinitrivedi05 commented on #12
So, here's the link : https://hhtp.my.canva.site/

[2022-07-30 12:06] Susmita-Dey commented on #12
Many things need improvement. Some of them are like:
- text color
- navbar
- contact section

[2022-07-31 04:15] Harsh3363 commented on #5
Can i work on this?

[2022-07-31 05:28] Harsh3363 opened #14 "Improvement in the UI/UX of the website"
Adding a hover effect to the Let's connect button in the About us section will look good

https://sukoon-stress-free.netlify.app/index.html#about.

[2022-07-31 05:28] Harsh3363 commented on #14
Hii @Susmita-Dey, please assign this to me

[2022-07-31 12:07] Susmita-Dey commented on #5
@Roshani9731 Are you working on this? If not, then I'll assign it to @Harsh3363
Kindly inform me.

[2022-07-31 12:08] Susmita-Dey commented on #14
@Harsh3363 go ahead

[2022-07-31 13:26] YasirObaibullah99 commented on #12
I can improve the text color,navbar and contact section

[2022-07-31 17:15] kshitijmishra27 commented on #5
hi @Susmita-Dey
I want to work on this issue as I have some relevant experience in documentation
 https://onecompiler.com/cheatsheets/cpp
I created this one earlier
so... i am the best match for this😄

[2022-07-31 17:18] vaibhavchaubey opened #15 "Improvement in the UI of Contact Us Form"
Can I work on improving the UI of the Contact Us Form and adding some nice styling to it?

[2022-07-31 17:20] Harsh3363 commented on #5
Bro even I have writing experience 😅

https://www.geeksforgeeks.org/solidity-programming-erc-721-token/

[2022-07-31 17:35] kshitijmishra27 opened #16 "improving UI of audio therapy page"
hey @Susmita-Dey
on the audio therapy page
I wanted to change the colour of texts "music" and "stress relief sounds" to white as it will look good with green colour and also I will add hover effect with white background to nav bar and these texts....it will make your website look cool 😄😄

as soon as you assign me I am ready to work for it 😄

[2022-08-01 13:28] Kirankp25 opened #17 "To improvement in UI( Font and Color)"
In audiothereapy section, the text used is not clearly visible and mismatched with its background, so I would like to change the color and font of a given text. So assigned me.

![SSOC issue 1](https://user-images.githubusercontent.com/87818185/182157528-671f8e13-8970-4b2a-b04e-3d7d6d1577a4.png)

[2022-08-01 18:10] Cypher1002 commented on #17
i would like to work on this issue will change the font using google fonts and enchance the colours using a gradient color shades and make it look more user frendly

[2022-08-01 18:12] radzhiv25 commented on #15
Will improve the UI by taking reference from behance or dribble
Will be glad if it gets assigned soon

[2022-08-01 18:13] Cypher1002 commented on #15
would like to work on this issue adding more styles and improving the user experience by using fonts and animation and hover effects to look the contact us  forms more appealing to audience and also fix the buttons

[2022-08-01 18:14] radzhiv25 commented on #16
Can work on this and will improve it

[2022-08-01 18:15] radzhiv25 commented on #12
Will improve this websites UI by taking reference from behance or dribbble.

[2022-08-01 18:15] Cypher1002 commented on #16
would like to work on the issue and improve it a lot

[2022-08-02 10:40] radzhiv25 opened #18 "Improvement in Navbar"
Will redesign the navbar

[2022-08-02 10:43] Cypher1002 opened #19 "improvement in footer section"
creating a minimalist footer

[2022-08-02 13:57] Susmita-Dey commented on #19
Are you an SSOC participant?

[2022-08-02 13:58] Susmita-Dey commented on #18
Are you an SSOC participant?

[2022-08-02 13:58] Susmita-Dey commented on #17
Are you an SSOC participant?

[2022-08-02 13:58] Susmita-Dey commented on #16
Are you an SSOC participant?

[2022-08-02 14:00] Susmita-Dey commented on #12
@vandana3869 @radzhiv25 @YasirObaibullah99 @nandinitrivedi05 Are you all SSOC participant?

[2022-08-02 14:01] Susmita-Dey commented on #14
@Harsh3363 Are you an SSOC participant?

[2022-08-02 14:12] Cypher1002 commented on #15
@Susmita-Dey yes want to work over it under ssoc

[2022-08-02 14:13] Susmita-Dey commented on #15
I can't assign it to you now

[2022-08-02 14:15] radzhiv25 commented on #12
Yes SSOC participant

[2022-08-02 14:16] radzhiv25 commented on #18
Yes I am SSOC participant

[2022-08-02 14:17] Susmita-Dey commented on #18
@radzhiv25 Sorry I can't assign it you now since the contribution has not started yet. Closing this now.

[2022-08-02 14:17] #18 closed

[2022-08-02 14:19] Susmita-Dey commented on #5
@Harsh3363 @kshitijmishra27 @Roshani9731 @MeghaKeshri Are you all SSOC participants?

[2022-08-02 14:19] Harsh3363 commented on #14
Yea

[2022-08-02 14:28] dare-devilll commented on #12
@Susmita-Dey I am also in the SSOC.

[2022-08-02 14:30] Susmita-Dey commented on #12
I can't assign it to you now

[2022-08-02 15:10] vandana3869 commented on #12
Yes

[2022-08-02 15:16] YasirObaibullah99 commented on #12
@Susmita-Dey I am also in the SSOC.

[2022-08-02 18:54] kshitijmishra27 commented on #16
yup

[2022-08-03 07:04] Anubhavgupta14 opened #20 "Improving About us Page"
Improving About us Page

[2022-08-03 07:06] Anubhavgupta14 opened #21 "Adding Animations in our services section while hover on boxes."
Adding Animations in our services section while hover on boxes.

[2022-08-03 07:29] vaibhavchaubey commented on #15
Yes. Please assign me the issue

[2022-08-03 12:44] Harsh3363 commented on #5
@Susmita-Dey can I work on this?

[2022-08-03 14:18] SiddheshKukade opened #22 "Feature Request [Developement ]: No issue and PR template in github repository"
### Problem : Currently there is not any issue and Pull Request  templates available in the repository. Due to that we can't get a clear details about the new issues posted  or it just takes too much time  to  organize the details about an issue
#### Solution:
- We can add a `issue template` in the `.github/ISSUE_TEMPLATE/` folder and `.github/PULL_REQUEST_TEMPLATE/`
- This article explains benefi

[2022-08-03 14:21] SiddheshKukade commented on #22
Sir I would like to work on this

[2022-08-03 17:45] YasirObaibullah99 commented on #21
@Anubhavgupta14  I can do it

[2022-08-03 18:00] YasirObaibullah99 opened #23 "In About us will add card and shadow"

[2022-08-03 18:52] vaibhavsharma1234 commented on #10
i also want to work on this project

[2022-08-03 18:59] vaibhavsharma1234 commented on #17
i like to improve profile cards on main page can i do it i am a ssoc participant

[2022-08-04 08:30] Vanshiii203 opened #24 "Improving UI of About Section and Contact Us Form"
I would like to Improve the  UI of About Section by adding cards and some changes in the  button.

[2022-08-04 10:02] MohitNamdev22 opened #25 "Improving Landing page UI and improving navbar with glassmorphism"

[2022-08-04 10:27] vaibhavsharma1234 opened #26 "i want to improve the about us page by improving its ui and using eye pleasing colours kindly assign it to me"

[2022-08-04 10:29] vaibhavsharma1234 opened #27 "i want to make footer responsive for mobile design as most of the user are generally use mobile"
kindly assign it to me

[2022-08-04 16:25] #27 closed

[2022-08-04 16:25] #26 closed

[2022-08-04 16:25] #25 closed

[2022-08-04 16:25] #24 closed

[2022-08-04 16:26] #23 closed

[2022-08-04 16:26] #22 closed

[2022-08-04 16:26] #21 closed

[2022-08-04 16:26] #20 closed

[2022-08-04 16:26] #19 closed

[2022-08-04 16:27] #17 closed

[2022-08-04 16:27] #16 closed

[2022-08-04 16:27] #15 closed

[2022-08-04 16:27] #12 closed

[2022-08-04 16:27] #10 closed

[2022-08-04 16:38] SiddheshKukade commented on #22
@Susmita-Dey  there are no PR or issue templates in the repository so why the issue is closed ?

[2022-08-04 16:55] Cypher1002 commented on #19
@Susmita-Dey  yes

[2022-08-04 17:18] Kirankp25 opened #28 "To improve UI (background and color scheme with text fonts in different color)"
I would like to make some changes to the UI of the audio therapy page its background and text are not visible clearly.
assign me this issue.

![Screenshot (210)](https://user-images.githubusercontent.com/87818185/182911139-248d2855-3f2d-4748-b74e-20b9d71dad55.png)

[2022-08-04 17:30] Susmita-Dey commented on #28
Closing this now. We'll have a meeting and after that you can start contributing.

[2022-08-04 17:30] #28 closed

[2022-08-04 17:38] Kirankp25 commented on #28
ya ok

[2022-08-05 02:57] Ashxsh1 opened #29 "Add Transition to the Cards, Improve the Footer Section, Change the layout of home, about and services and add Team section with them."

[2022-08-05 06:49] keerthana054 opened #30 "Improvement of UI in last segment of website(ie contact details) and explore button"
The last segment of the website can be made even more engaging, by using better interacting UI. And explore button needs to be in some other light color rather than pale green.

[2022-08-05 06:50] keerthana054 opened #31 "Working on Laughing therapy"
I would like to work on laughing therapy and update the feature.

[2022-08-05 07:19] YasirObaibullah99 opened #32 "Working on navbar and About section"
In About us will add card and shadow will improve navbar

[2022-08-05 07:27] #30 closed

[2022-08-05 07:27] #31 closed

[2022-08-05 08:11] Ashxsh1 opened #33 "Add Transition to the buttons."

[2022-08-05 09:34] leesha19 opened #34 "improve explore button styling"

[2022-08-05 09:36] #34 closed

[2022-08-05 12:44] #32 closed

[2022-08-05 13:35] YasirObaibullah99 opened #35 "Working on navbar and About section"
I want to change the navbar and give shadow effect in About section
And I am in SSOC also

[2022-08-05 13:35] ShivamAgarwal-code opened #36 "Adding scroll to top button in the website"

[2022-08-05 13:39] Vanshiii203 opened #37 "Working on the Contact us form"

[2022-08-05 13:39] MohitNamdev22 opened #38 "Improving the Landing page UI and Font Family"

[2022-08-05 13:39] Susmita-Dey commented on #35
@YasirObaibullah99 Go ahead

[2022-08-05 13:41] YasirObaibullah99 commented on #35
Sure

[2022-08-05 13:42] siddhi-244 commented on #38
Please describe the issue more

[2022-08-05 13:43] Susmita-Dey commented on #38
@MohitNamdev22 Check #35 What extra you wanna add?

[2022-08-05 13:43] vandana3869 opened #39 "Enhancing the Sukoon Logo and the Home page"
Here is the improved design template https://sukoon.my.canva.site/
I'm a SSoc Participant

[2022-08-05 13:45] MohitNamdev22 commented on #38
I'll improve the font family of landing page text / headings give them proper visuality. And wanna add a glass morphism effect to NavBar.

[2022-08-05 13:46] MohitNamdev22 commented on #38
If someone is already assigned to Navbar, you may assign me Landing Page issue...

[2022-08-05 13:46] Susmita-Dey commented on #29
Create another issue and tag mentors on discord

[2022-08-05 13:46] #29 closed

[2022-08-05 13:46] Susmita-Dey commented on #33
Create another issue and tag mentors on discord

[2022-08-05 13:46] #33 closed

[2022-08-05 13:46] Kirankp25 opened #40 "To improve UI"
I would like to contribute to your project by making some changes to the audio therapy page its background and text is not visible clearly so I won't change its color and fonts and also some essential changes, so assign me this task.

![Screenshot (210)](https://user-images.githubusercontent.com/87818185/183089883-7cea4205-af80-41d9-8928-48d086e9acf6.png)

[2022-08-05 13:49] Atharv-110 commented on #37
Elaborate the issue, then it will be assigned to you.
Provide description.

[2022-08-05 13:49] siddhi-244 commented on #38
Navbar issue is already been assigned to someone else. Landing page font issue can be done by you !

[2022-08-05 13:49] vaibhavsharma1234 opened #41 "i want to improve the services section its ui please assign it to me i am a ssoc participant"

[2022-08-05 13:50] siddhi-244 commented on #41
Describe the issue

[2022-08-05 13:50] Atharv-110 commented on #36
Go ahead @ShivamAgarwal-code!
Assigned to you!

[2022-08-05 13:52] MohitNamdev22 commented on #38
Thanks! Yeah I'll work on Landing Page

[2022-08-05 13:53] vaibhavsharma1234 opened #42 "website responsive ness is lacking i would like to improve it kindly assign it to me i am a ssoc participant"

[2022-08-05 13:54] Atharv-110 commented on #40
Nice @Kirankp25!
Go ahead, assigned to you!

[2022-08-05 13:57] siddhi-244 commented on #39
Lgtm

[2022-08-05 13:58] Vanshiii203 commented on #37
I would like to improve the UI of the form.

[2022-08-05 13:58] Atharv-110 commented on #42
@vaibhavsharma1234 please provide the description and attach some screenshot for the same.

[2022-08-05 14:01] Kirankp25 opened #43 "To make its footer more effective"
I want to do some changes in the footer to make him more attractive by changing the background and text fonts colors etc.
so assign me this task.

![footer](https://user-images.githubusercontent.com/87818185/183092548-df307ba5-d6b7-47f8-9573-87a11299c521.png)

[2022-08-05 14:02] Atharv-110 commented on #37
Refer #40 issue for how the description is drafted!

[2022-08-05 14:04] vaibhavsharma1234 commented on #42
![p2](https://user-images.githubusercontent.com/96341386/183093404-15654e7e-fa03-4397-91a0-0a35a22daac1.png)
please refer to this sir

[2022-08-05 14:05] Kirankp25 commented on #40
ya sure

[2022-08-05 14:06] keerthana054 opened #44 "Working on laughing therapy"
I would like to give this new feature of laughing therapy, which leads to a new tab where we find therapies to get stress free- through laughter.

[2022-08-05 14:07] vaibhavsharma1234 commented on #41
its very plain ui  i can add glassmorphism effect and make a ui little better by using eye pleasing colors
currently it quite plan and average

[2022-08-05 14:12] imaaquibali opened #46 "update readme.md"

[2022-08-05 14:13] Kirankp25 opened #47 "To improve UI of About Us page(photo frames and background)"
I would like to change, the UI of the About us page and add photo frames to respective admins of a project and also a beautiful background. assign me this issue.

![aboutus](https://user-images.githubusercontent.com/87818185/183094914-d76203af-54d3-4978-a2e2-1a9e303ded75.png)

[2022-08-05 14:14] Surya8991 opened #48 "Footer content and social link changes"
Hi I am SSOC Participant I would like the website more responsive in mobile version by centering the contents in footer and make the logo little bigger

[2022-08-05 14:18] Surya8991 commented on #48
![image](https://user-images.githubusercontent.com/85568108/183096217-87b8f718-c3d9-464b-a805-7ff4ee61c832.png)
As you c in the pic above

[2022-08-05 14:20] Surya8991 commented on #48
Closing as already an issue is created

[2022-08-05 14:20] #48 closed

[2022-08-05 14:23] dare-devilll opened #49 "Adding dropdown animations in navbar"
I want to add some cool dropdown animations which will be responsive with the mobile version and add some minimalistic hover effects on them

[2022-08-05 14:23] Vanshiii203 commented on #37
I would like to add a placeholder to  the message box, add animation to the button and a hover effect to the go back option. Also, I would like to do  some basic padding and margin changes .

[2022-08-05 14:35] Kirankp25 opened #50 "To add new feature at home page"
I would like to improve the features of the home page by adding some more attractive buttons and background it is very dull to look.
assign me this issue.

![mainpage](https://user-images.githubusercontent.com/87818185/183099162-ee7179d2-e1ec-461d-bac1-3190bcb0f204.png)

[2022-08-05 14:45] souravbhunia07 opened #51 "Hey i am a ssoc contributor, I wish to add a authentication page with backend."

[2022-08-05 14:50] Koustavjr opened #52 "Working on reading therapy"
I want to add motivational quotes and self books link and stuffs for people.
@Susmita-Dey can u please assign me this issue under SSOC'22?

[2022-08-05 14:52] Atharv-110 commented on #37
Go ahead @Vanshiii203.
Assigned to you.
All the best.

[2022-08-05 14:54] Atharv-110 commented on #43
Go ahead @Kirankp25.
Assigned to you.

[2022-08-05 15:02] myhacktech commented on #44
@keerthana054 that means you will add a new webpage,right..?

[2022-08-05 15:03] keerthana054 commented on #44
yes!

[2022-08-05 15:15] Ashxsh1 opened #54 "Add Transition to the Cards and buttons, Improve the Footer Section, Change the layout of home, about and services and add Team section with them."

[2022-08-05 15:20] imaaquibali commented on #54
@Ashxsh1 Go for it.

[2022-08-05 15:21] imaaquibali commented on #51
@souravbhunia07 Go for it.

[2022-08-05 15:28] souravbhunia07 commented on #51
ok.

[2022-08-05 15:34] edilson258 commented on #36
Hi, i would like to try this one. how can i do it?

[2022-08-05 15:51] Vanshiii203 commented on #37
Thanks!

[2022-08-05 16:44] SujalSamai opened #55 "Use Flexbox to align the cards of Our Services Section, so that it can be responsive too and have better alignment"

[2022-08-05 16:55] Atharv-110 commented on #55
Hello @SujalSamai please give the description about the problem and attach a screenshot of the preferred solution like issue #40

[2022-08-05 16:58] samvid2020 commented on #40
hey, can I work on this issue?

[2022-08-05 17:06] SujalSamai commented on #55
![image](https://user-images.githubusercontent.com/87236576/183126061-318cb2e7-a019-44dd-a313-4a06b14dd0fe.png)
As we can see, the services section has 6 cards, and they are not aligned and much of space is wasted in the second row. SO I would like to make the cards responsive so that they can get aligned column wise using flexbox. Something like this
![image](https://user-images.githubusercontent

[2022-08-05 17:16] Atharv-110 commented on #55
Go ahead @SujalSamai.
Assigned to you.

[2022-08-05 18:07] Anubhavgupta14 opened #56 "Improving About us Page"

[2022-08-05 18:27] thisisamanmishra commented on #49
Assign this to me

[2022-08-05 18:35] dare-devilll commented on #49
Hey! I created the issue and I'm working on it.

[2022-08-05 18:37] SahilDahekar opened #57 "Improving UI on the Audio therapy page"
- Will remove the rounded corners and may adding padding , margin and other UI improvements.

![Screenshot 2022-08-06 000106](https://user-images.githubusercontent.com/97726887/183139742-244a3ee6-dbc7-42ca-ae18-15215eb33542.png)

- Improve the styling applied on each book card like font color.
- Overall improving the designing of the page.

![Screenshot 2022-08-06 000136](https://user-images.githu

[2022-08-05 18:37] SahilDahekar commented on #57
can i work on this issue?

[2022-08-05 19:17] rani620 opened #58 "want to give hover effect in home page button"
At home page hover is not good very  simple I want to modify it plz.  can assig it to me.
![Screenshot (822)](https://user-images.githubusercontent.com/96174308/183145874-d71ff5df-49d1-4de6-9991-aebdc4fc12a4.png)

[2022-08-05 22:33] rakshitgondwal opened #60 "Removing the white background from the logo."
By removing the white background of the logo, it would look professional and will have more visibility.
The go stressfree line is nearly invisible because of the white background as it limits us with the size of the logo.
By removing the white background and updating it with the new one, we will be able to resize the logo too.

I have a good experience with photoshop and illustrator both. I can wo

[2022-08-06 01:13] con-artist opened #61 "Improve the UI of the about section cards"
![image](https://user-images.githubusercontent.com/82517773/183227790-2bf2ab86-e91b-4568-a330-3c3d826d4b78.png)
I want to improve the UI of the cards by adding a background hover effects etc . Please assign me this

[2022-08-06 03:20] Atharv-110 commented on #40
@samvid2020 this issue is already assigned, you can create another different issue.

[2022-08-06 03:29] SachinMittal1766 commented on #47
Hey @Kirankp25, Go Ahead

[2022-08-06 03:30] SachinMittal1766 commented on #56
Already assigned https://github.com/Susmita-Dey/Sukoon/issues/47

[2022-08-06 03:30] #56 closed

[2022-08-06 03:34] SachinMittal1766 commented on #50
First Complete issues assigned to you
https://github.com/Susmita-Dey/Sukoon/issues/40
https://github.com/Susmita-Dey/Sukoon/issues/43
https://github.com/Susmita-Dey/Sukoon/issues/47

[2022-08-06 03:35] SachinMittal1766 commented on #57
Yes, Go for it

[2022-08-06 03:38] SachinMittal1766 commented on #58
Go Ahead

[2022-08-06 03:40] SachinMittal1766 commented on #60
@Susmita-Dey Pls look into it

[2022-08-06 03:40] SachinMittal1766 commented on #61
Someone is already working on same issue.

[2022-08-06 03:40] #61 closed

[2022-08-06 03:41] #50 closed

[2022-08-06 03:45] myhacktech commented on #41
@vaibhavsharma1234 issue of this type is already assigned

[2022-08-06 04:02] con-artist opened #62 "Create a new FAQ accordion"
I would like to create a FAQ section above footer section

[2022-08-06 04:15] vaibhavsharma1234 commented on #54
I have one query like if u will put all the issues in one issue then what's left to do
Just a query

[2022-08-06 04:26] vaibhavsharma1234 opened #63 "i would like to add a automatic slider on the hero section of the main page"

[2022-08-06 04:26] AnushkaMittal21 commented on #58
Can I be assigned this issue? @SachinMittal1766

[2022-08-06 04:28] vaibhavsharma1234 opened #64 "[FEATURE] Add a theme switcher button like dark and light theme"
i am a ssoc participant

[2022-08-06 04:29] Susmita-Dey commented on #60
@SachinMittal1766 Good observation. Go ahead and make a PR.

[2022-08-06 04:32] SachinMittal1766 commented on #58
@AnushkaMittal21 Are you a SSOC participant ?

[2022-08-06 04:33] AnushkaMittal21 opened #65 "Contact Us Page"
Want to improve the contact us page form.

[2022-08-06 04:36] #65 closed

[2022-08-06 04:37] Susmita-Dey commented on #60
@rakshitgondwal Good observation. Go ahead.

[2022-08-06 05:16] AnushkaMittal21 opened #66 "Yoga Therapy"
Can I create a yoga therapy page?
Will contain all the services, tricks and techniques for yoga therapy. Will be a responsive page.

[2022-08-06 06:20] myhacktech opened #68 "i want to change the hover effect of explore button"
![Screenshot (654)](https://user-images.githubusercontent.com/86517958/183237005-a6d1029d-b22a-47c9-8beb-2f7a33dccb86.png)

[2022-08-06 06:21] myhacktech commented on #68
https://sukoon-stress-free.netlify.app/

[2022-08-06 06:27] #68 closed

[2022-08-06 07:35] Surya8991 opened #70 "Add more music In Audio Therapy page | SSOC 2022 Participant"
I would like add a section for Nature Sounds which would be calm and soothing to mind and also make the nature sound section responsive in both pc and mobile.
Do Assign it to me.

[2022-08-06 08:23] SahilDahekar commented on #57
Should I fetch from the SSOC branch or the main branch

[2022-08-06 08:27] fykaa commented on #58
@SachinMittal1766 Assign this issue to me, I am a SSOC participant

[2022-08-06 08:34] fykaa opened #71 "Adding Hover and Aesthetics to the About Section"
@Susmita-Dey @imaaquibali Please Assign me this Issue
SSOC'22 Participant

![image](https://user-images.githubusercontent.com/97490463/183241525-9b496620-4f89-45b6-9a7b-4c73f191c170.png)

[2022-08-06 08:45] imaaquibali commented on #71
@fykaa Go for it.

[2022-08-06 09:14] ShivanshAr97 opened #72 "Improving Contact page UI for SSOC Contribution"
**Improving the user interface of contact page**

![image](https://user-images.githubusercontent.com/96040322/183242719-0a3fbdcc-d24d-49a9-8547-6e18466896af.png)

[2022-08-06 09:29] 29Aastha opened #73 "improvise the style of heading"
I m a SSOC participant

-add gradient to h1
- add animation to gradient
- change font style of h1

[2022-08-06 09:48] Susmita-Dey commented on #66
Yes, go ahead

[2022-08-06 09:50] Susmita-Dey commented on #66
@AnushkaMittal21 First tell me are you an SSOC participant?

[2022-08-06 09:55] Susmita-Dey commented on #70
@Surya8991 Do you have any API in your mind?

[2022-08-06 09:56] #46 closed

[2022-08-06 09:57] Susmita-Dey commented on #41
@vaibhavsharma1234 Kindly find any bugs in the website or think of other enhancement or feature you can add/.make. Since it's a duplicate issue, I'm closing it.

[2022-08-06 09:57] #41 closed

[2022-08-06 10:03] rani620 commented on #58
yes sir I am a SSOC participant. becoz i created this issue so plzzz assign it to me .

[2022-08-06 10:05] Surya8991 commented on #70
No I thought let me use spotify but will search for api and will suggest u if I could find one

[2022-08-06 10:08] Susmita-Dey commented on #58
@rani620 Go ahead and create a PR.

[2022-08-06 10:26] fykaa opened #74 "Improve Footer Design"
Please Assign me this Issue
SSOC'22 Participant

Changing Aesthetics and designing of the footer using css and html and altering design.
Somewhat like this:
![Screenshot (679)](https://user-images.githubusercontent.com/97490463/183244975-ebdc3e73-c320-4f7e-9ba7-617eefbe2ad7.png)

[2022-08-06 10:27] SachinMittal1766 commented on #72
Elaborate the issue

[2022-08-06 10:38] ShivanshAr97 commented on #72
Providing margin and padding, adding image, improving button style(matching with other buttons), adding message placeholder, and changing font size.

[2022-08-06 10:56] rakshitgondwal commented on #60
@Susmita-Dey what do you think about this one?
![Sukoonpng](https://user-images.githubusercontent.com/98955085/183246018-45b78673-7614-4bbe-ad01-e3921043d92d.png)

[2022-08-06 11:20] rakshitgondwal commented on #60
@Susmita-Dey What do you think about this one
![SukoonPNGlogo](https://user-images.githubusercontent.com/98955085/183246717-825cbece-879b-4cf5-9870-b7209108da2f.png)
?

[2022-08-06 11:51] siddhi-244 commented on #74
Lgtm

[2022-08-06 11:52] Susmita-Dey commented on #73
@29Aastha Check issue #38 Your issue seems to be duplicate.

[2022-08-06 12:52] itsmdasifraza opened #75 "Fix .gitignore file : prevent unusual file upload"
I will add directory paths to stop uploading unusual files to github: like /node_modules, /vscode

[2022-08-06 12:53] SachinMittal1766 commented on #63
Explain a bit more about the issue. Then, I will assign it to you

[2022-08-06 12:55] SachinMittal1766 commented on #5
@Harsh3363 Are you a SSOC Contributor ?

[2022-08-06 13:40] Susmita-Dey commented on #75
@itsmdasifraza Go ahead

[2022-08-06 13:58] vaibhavsharma1234 commented on #64
which level of issue is this ?

[2022-08-06 14:03] vaibhavsharma1234 commented on #63
Currently there is only one image
Wouldn't it be nice that image automatic changes
Like a slider but it will be automatically

[2022-08-06 14:04] Harsh3363 commented on #5
Yes

[2022-08-06 14:34] #75 closed

[2022-08-06 15:01] #38 closed

[2022-08-06 15:05] #36 closed

[2022-08-06 15:08] #52 closed

[2022-08-06 15:08] rakshitgondwal commented on #60
@SachinMittal1766 I was wondering if you could look into this too.

[2022-08-06 15:46] Monishobaid opened #80 "Improvise and enhance the UI of reading therapy Page"

[2022-08-06 15:47] Monishobaid commented on #80
Can you assign this to me?

[2022-08-06 15:58] 09khu opened #81 "Want to add Login section."

[2022-08-06 16:04] Susmita-Dey commented on #80
@Monishobaid Go ahead

[2022-08-06 16:05] Susmita-Dey commented on #81
Do you wanna make the complete backend or only make a simple login and registration page?

[2022-08-06 16:08] 09khu commented on #81
I can also do backend but only in php.

On Sat, 6 Aug, 2022, 9:36 pm Susmita Dey, ***@***.***> wrote:

[2022-08-06 16:27] arvindbatham600 commented on #81
I want to work on this issue

[2022-08-06 17:42] imaaquibali commented on #63
@vaibhavsharma1234 start working on it.

[2022-08-06 17:43] imaaquibali commented on #81
@09khu start working on it.

[2022-08-06 17:44] imaaquibali commented on #81
@arvindbatham600 sorry brother it will assigned to @09khu raise another issue. Happy coding xd.

[2022-08-06 17:45] imaaquibali commented on #54
@vaibhavsharma1234 sorry i can't get you. Can you clear more plz?

[2022-08-06 17:54] arvindbatham600 commented on #81
okii

[2022-08-06 17:58] vaibhavsharma1234 commented on #54
I just mean that if u look at this issue it can be divided into 5 diffrent issue and there is a chance that other people can also work on those but if all of these are combined into one issue then only one person can work that's it
I am just stating my thoughts

[2022-08-06 18:00] vaibhavsharma1234 commented on #63
Thanks for assigning please add the difficulty of issue tag also

[2022-08-06 18:11] AnushkaMittal21 commented on #66
Yes!

[2022-08-06 18:23] soumil1 opened #83 "Improve grammatical errors in description"
I discovered a few grammatical errors in the project description. I can make it better.

[2022-08-06 18:43] vedant-3010 opened #84 "Improving the file structure"
Many files have the same name, making it difficult to navigate and also changing internal CSS to external CSS. Basically structuring the codebase.
Can I work on this?

[2022-08-06 18:44] Susmita-Dey commented on #84
@dare-devilll Go ahead

[2022-08-06 18:45] Susmita-Dey commented on #83
@soumil1 Go ahead

[2022-08-06 18:57] Vanshiii203 opened #85 "Talking Therapy"
Can I create a talking therapy page?
It will contain  benefits of talking therapy along with some blogs and information about some counsellors.

[2022-08-06 20:28] YasirObaibullah99 opened #89 "Yoga Therapy Page"
I can create a Yoga Therapy page?
It will contain benefits of talking therapy along with some blogs and information about some counsellors.

[2022-08-06 23:55] 09khu commented on #81
I have to do both backend and frontend or only frontend?

[2022-08-07 02:00] AnshuMishra01 opened #92 "Button Transitions are not smooth"
Button Transitions are not smooth, I want to make them work smoothly.

![image](https://user-images.githubusercontent.com/95041038/183271877-9733230d-818b-45bb-978c-a5fa5da5bb10.png)

[2022-08-07 02:01] AnshuMishra01 opened #93 "Alot of Senseless space in the Navbar"
Alot of Senseless space in the Navbar, Which make it look bad, I want to remove those spaces.

![image](https://user-images.githubusercontent.com/95041038/183271901-fdb7affc-c04e-4036-b6e0-30138f208cb6.png)

[2022-08-07 02:03] AnshuMishra01 opened #94 "About Us section Improvement"
The Colore combination, texting and styling of about us section does not look up to the mark i want to improve it

![image](https://user-images.githubusercontent.com/95041038/183271939-55b26f32-d09e-4d97-acb1-289088073e60.png)

[2022-08-07 04:45] edilson258 opened #95 "Layout: back to top button is some times hidden by the cards."

[2022-08-07 05:42] 29Aastha commented on #73
@Susmita-Dey  issue#38 is already closed so can you assign me this issue ?
I am planning to apply animated gradient to the text on home page

https://user-images.githubusercontent.com/101136877/183277033-3c7985b8-4b4f-4e6c-ba54-297340e1b644.mp4

<img width="838" alt="image" src="https://user-images.githubusercontent.com/101136877/183277065-0fb554c8-af82-4bcb-b693-4f8304edb7d7.png">

[2022-08-07 05:56] SachinMittal1766 commented on #95
Good Observation!
Go Ahead

[2022-08-07 05:58] SachinMittal1766 commented on #94
Same issue https://github.com/Susmita-Dey/Sukoon/issues/47

[2022-08-07 05:58] #94 closed

[2022-08-07 05:59] SachinMittal1766 commented on #93
Explain a bit more about the issue & what you want to change

[2022-08-07 06:00] SachinMittal1766 commented on #92
Go for it

[2022-08-07 06:02] SachinMittal1766 commented on #89
Duplicate to https://github.com/Susmita-Dey/Sukoon/issues/66

[2022-08-07 06:02] #89 closed

[2022-08-07 06:03] #37 closed

[2022-08-07 06:03] SachinMittal1766 commented on #85
Go for it

[2022-08-07 06:05] SachinMittal1766 commented on #73
Nice

[2022-08-07 06:08] SachinMittal1766 opened #96 "Modify Coming Soon Page"
UI of "[Coming Soon](https://sukoon-stress-free.netlify.app/html/comingsoon)" page is not that good.
If any Contributor wants to work, I can assign it to you.

[2022-08-07 06:09] rani620 commented on #58
ok maam

[2022-08-07 06:12] SachinMittal1766 opened #97 ""Code of Conduct" link not working properly"
Link should take user to https://github.com/Susmita-Dey/Sukoon/blob/main/CODE_OF_CONDUCT.md
If anyone wants to work Comment below, I will assign to you

[2022-08-07 06:22] YasirObaibullah99 opened #99 "Talking Therapy page"
I can create a Talking Therapy page?
It will contain benefits of talking therapy along with some blogs and information about some counsellors.

[2022-08-07 06:25] vaibhavsharma1234 commented on #96
I want to work

[2022-08-07 06:26] vaibhavsharma1234 commented on #97
I will do it please assign

[2022-08-07 06:26] SachinMittal1766 commented on #99
Same as https://github.com/Susmita-Dey/Sukoon/issues/85

[2022-08-07 06:26] #99 closed

[2022-08-07 06:29] SachinMittal1766 commented on #97
First complete assigned issues: https://github.com/Susmita-Dey/Sukoon/issues/64, https://github.com/Susmita-Dey/Sukoon/issues/63, https://github.com/Susmita-Dey/Sukoon/issues/42

[2022-08-07 06:29] SachinMittal1766 commented on #96
First complete assigned issues: https://github.com/Susmita-Dey/Sukoon/issues/64, https://github.com/Susmita-Dey/Sukoon/issues/63, https://github.com/Susmita-Dey/Sukoon/issues/42

[2022-08-07 06:31] YasirObaibullah99 commented on #96
I can do if its not assigned to any one

[2022-08-07 06:31] vaibhavsharma1234 commented on #96
ok sir
the 42 one is causing problem in merge conflict
it will be solved till night

[2022-08-07 06:39] MohitNamdev22 opened #100 "Adding Proper Transition / Animation to Our Services Page Buttons"
Buttons ( Let's Explore & Coming Soon ) don't have a transition in hover, so I want to fix it under SSOC'22.

Here I've attached the Screenshot of Page -
![button in services](https://user-images.githubusercontent.com/89779447/183278568-c34468d1-0b1f-4a65-af04-80937a0aea82.png)

[2022-08-07 06:54] MohitNamdev22 commented on #97
May I fix this issue?

[2022-08-07 10:37] popcandy1x commented on #96
Sir can i work on this issue

[2022-08-07 13:15] #42 closed

[2022-08-07 13:42] soumil1 commented on #83
@Susmita-Dey Can you check [4b8c79e](https://github.com/Susmita-Dey/Sukoon/pull/105/commits/4b8c79e33d75114800cfa63e3285e05ad85c21a3)

[2022-08-07 14:09] Vanshiii203 opened #106 "Add transitions and effects in the about section"
Add transitions and effects to the buttons and the cards.
![Screenshot (275)](https://user-images.githubusercontent.com/94471189/183294777-c007f847-8def-468c-bb76-e82382a4fdc0.png)

[2022-08-07 16:09] rakshitgondwal commented on #60
@Susmita-Dey

[2022-08-07 16:56] itsmdasifraza opened #107 "Footer taking too much bottom padding"
Footer bottom padding is too large, you can see in the given picture,
I will also add .png logo in footer after removing white background of logo

![Screenshot (99)](https://user-images.githubusercontent.com/58258334/183302140-4e621172-9d56-4ea4-9e3b-5d31a992ee5b.png)

[2022-08-07 17:03] itsmdasifraza commented on #107
I will also add .png logo in footer after removing white background of logo

[2022-08-07 17:09] imaaquibali commented on #107
@itsmdasifraza Start working on it.

[2022-08-07 17:10] imaaquibali commented on #106
@Vanshiii203 Go for it.

[2022-08-07 17:51] AnshuPathak-88825 opened #108 "Add cursor pointer to top-scroll button"
This scroll button should be cursor pointer
![Screenshot from 2022-08-07 23-18-07](https://user-images.githubusercontent.com/78332454/183304231-5cf02bbf-709f-4c17-8e51-3d93cda13b91.png)

[2022-08-07 20:03] #73 closed

[2022-08-07 21:27] #74 closed

[2022-08-08 00:58] con-artist opened #110 "Add a testimonials section"
I would like to add a testimonials section where past users can share there experiences in form of cards.
Please assign this to me.

[2022-08-08 02:55] SachinMittal1766 commented on #110
Go for it

[2022-08-08 02:56] SachinMittal1766 commented on #108
No, It looks good

[2022-08-08 02:56] #108 closed

[2022-08-08 02:58] SachinMittal1766 commented on #54
@Ashxsh1 Updates? If you are not working, Issue will be assigned to someone else

[2022-08-08 02:59] SachinMittal1766 commented on #5
@Harsh3363 Go Ahead

[2022-08-08 03:00] SachinMittal1766 commented on #35
@YasirObaibullah99 Updates? It is more than 3 days

[2022-08-08 03:01] SachinMittal1766 commented on #39
@vandana3869 Updates?

[2022-08-08 03:02] SachinMittal1766 commented on #40
Updates @Kirankp25

[2022-08-08 03:22] YasirObaibullah99 commented on #35
@SachinMittal1766  Its already merge

[2022-08-08 03:25] YasirObaibullah99 commented on #35
![Screenshot from 2022-08-08 08-54-22](https://user-images.githubusercontent.com/83706868/183332231-5761572c-7b08-4cc0-8dd4-84af1c4a3510.png)

[2022-08-08 05:09] MohitNamdev22 opened #113 "Laughing Therapy Page"
I will create the complete page of laughing therapy with all the relevant information, how to perform, benefits ...
So can you Assign it to me?

SSOC'22
![Screenshot 2022-08-08 103735](https://user-images.githubusercontent.com/89779447/183343465-359ebb39-cb35-4da2-a994-c65158e54ce1.png)

[2022-08-08 05:18] #62 closed

[2022-08-08 05:21] SachinMittal1766 commented on #97
@MohitNamdev22 Go for it

[2022-08-08 05:22] SachinMittal1766 commented on #113
@MohitNamdev22 Go Ahead

[2022-08-08 05:28] con-artist opened #114 "Improve the UI of Our services section"
![image](https://user-images.githubusercontent.com/82517773/183345634-6a971f60-3cde-4283-bfaf-25ae2fb84488.png)
I would like to add a little spacing between the cards and make the ""Coming soon" button aligned properly in one line. Also I would like to improve the card designs a little

[2022-08-08 05:34] vaibhavsharma1234 commented on #64
Currently working on this just a little busy due to college

[2022-08-08 05:34] vaibhavsharma1234 commented on #63
Currently working on this just a little busy due to college

[2022-08-08 05:49] Vanshiii203 opened #115 ""Donate" link not working properly"
I want to fix the link issue.
![Screenshot (286)](https://user-images.githubusercontent.com/94471189/183348064-8dc3f4f7-7032-4b7c-93f3-161ea7d12190.png)

[2022-08-08 05:50] ShivanshAr97 opened #116 "Improvement in the navigation bar of Audio therapy tab (UI & responsiveness) [SSOC]"
Reducing the margin, padding, placing logo without background, increasing font size, matching UI with the main page and making the navbar responsive.

![image](https://user-images.githubusercontent.com/96040322/183347610-1531dbe7-869e-404c-a549-b2b20b6a2c97.png)

For SSOC contribution.

[2022-08-08 05:52] ShivanshAr97 commented on #116
Please assign it to me

[2022-08-08 06:06] MohitNamdev22 commented on #113
I'm closing this issue because it has been assigned to someone else earlier, Sorry for the inconvenience

[2022-08-08 06:06] #113 closed

[2022-08-08 06:09] Susmita-Dey commented on #115
Go ahead

[2022-08-08 06:11] Susmita-Dey commented on #115
@Vanshiii203 Use this [link](https://www.buymeacoffee.com/susmitadey) to fix it.

[2022-08-08 06:12] Susmita-Dey commented on #114
@con-artist Go ahead

[2022-08-08 06:14] Susmita-Dey commented on #57
fetch from main branch and copy the main branch only

[2022-08-08 07:10] MohitNamdev22 opened #118 "Removing the white space from page footer"
I have attached a Screenshot, as you can see the white space at the bottom of the page looks bad. I want to fix this under SSOC'22.
Can you please assign it to me?
![Screenshot 2022-08-08 123715](https://user-images.githubusercontent.com/89779447/183360041-5537dfaa-8e51-4d2b-a0eb-9384a39fc324.png)

[2022-08-08 07:15] Susmita-Dey opened #119 "[FEATURE] Add login button to website"
Add login/sign in button to the website in the right hand corner.

[2022-08-08 07:18] 09khu commented on #119
I want to work it on

[2022-08-08 07:18] AnshuPathak-88825 commented on #119
pls assign me this issue

[2022-08-08 07:19] Susmita-Dey commented on #118
Check issue #107
It's a duplicate issue. I've to close it. You can go and comment there. If the person assigned fails to complete, then you'll get assigned.

[2022-08-08 07:19] #118 closed

[2022-08-08 07:19] Vignesh2131 commented on #119
I haven't started yet so please assign it to me

[2022-08-08 07:23] MohitNamdev22 commented on #118
Okay Sure!

[2022-08-08 07:32] Susmita-Dey commented on #119
@Vignesh2131 go ahead

[2022-08-08 07:32] Vanshiii203 opened #121 "Make the Services section responsive"
The text is overlapping the image
![Screenshot_20220808-125730](https://user-images.githubusercontent.com/94471189/183364049-0f79123f-b3c0-4fea-b13d-48674470a4e7.jpg)

[2022-08-08 07:33] Susmita-Dey commented on #121
Good observation. Go ahead

[2022-08-08 07:36] Susmita-Dey opened #122 "[FEATURE] Make Sign Up Page"
Make a complete Sign Up page with beautiful design

[2022-08-08 07:41] 09khu commented on #122
I want to work on it

[2022-08-08 07:42] 09khu commented on #122
Please assign it to me

[2022-08-08 07:45] AnshuPathak-88825 commented on #64
pls assign me this issue

[2022-08-08 07:45] Susmita-Dey commented on #64
@vaibhavsharma1234 First complete your previous issues.

[2022-08-08 07:46] Susmita-Dey commented on #64
go ahead

[2022-08-08 07:47] Vignesh2131 commented on #119
for the confirmation, the issue is adding only the login and sign-in button in the navbar. Is that it?

[2022-08-08 07:57] #83 closed

[2022-08-08 07:59] #97 closed

[2022-08-08 08:30] MohitNamdev22 opened #123 "Improving the Heading Font Family & Font Size of About Us Section"
The font family & size of the heading of the about section not looking good, and the previous contributors worked on the transition & aesthetics, not on the Heading. So can you assign me to work on the Heading of About Section?

![Screenshot_11](https://user-images.githubusercontent.com/89779447/183374723-92aac776-e215-45c0-8b28-363a4647c0b6.png)

[2022-08-08 08:37] SujalSamai opened #124 "The navbar is overlapping with main section of Mobile Layout"
We need to add some css and Javascript to this section so that it doesn't get overlapped.
![Screenshot_2022-08-08-14-03-59-39_40deb401b9ffe8e1df2f1cc5ba480b12](https://user-images.githubusercontent.com/87236576/183376157-045818de-6d22-4b8e-b11d-de4eab50fc9a.jpg)

[2022-08-08 08:48] Susmita-Dey commented on #123
Go ahead

[2022-08-08 08:50] Susmita-Dey commented on #124
Go ahead

[2022-08-08 09:00] Vanshiii203 commented on #121
I have one small doubt, for fixing this do I have to re-fork the repository? because this issue appeared after the merge of a PR

[2022-08-08 09:05] Susmita-Dey commented on #121
No just fetch and pull the changes done before making any changes and pushing to the repository back

[2022-08-08 09:53] con-artist opened #127 "Improvement in the About Us section (UI & responsiveness)"
![image](https://user-images.githubusercontent.com/82517773/183390925-4807d3bf-8d29-43e1-9cb7-49313be60a0e.png)
I would like to improve this section by
1. Changing the UI and making it much more better looking.
2. Making it completely responsive as well

Please assign it to me

[2022-08-08 10:24] akanksha0812 commented on #81
please assign this issue to me

[2022-08-08 10:48] Vanshiii203 commented on #121
Ok thanks!

[2022-08-08 10:59] Vanshiii203 opened #132 "Update text in FAQ section."
Fixing the grammatical errors in FAQ section.
![Screenshot (293)](https://user-images.githubusercontent.com/94471189/183403271-461dea72-20cb-4806-8626-15bd481ee3b6.png)

[2022-08-08 11:05] Ashxsh1 commented on #54
I Have added transition to the buttons and I'm working on the footer.

On Mon, 8 Aug, 2022, 8:28 am Sachin Mittal, ***@***.***>
wrote:

[2022-08-08 11:30] vaibhavsharma1234 commented on #64
i only have one issue left
i could have done this too

[2022-08-08 13:22] ArunaAT opened #134 "Heading is overlapping navbar in mobile view"
![1](https://user-images.githubusercontent.com/98509070/183426894-86741a52-3522-4259-8401-d4a813ff35bc.PNG)
you can correct it by z-index

.menu .open{
z-index:1;
}

[2022-08-08 14:08] #114 closed

[2022-08-08 14:10] Susmita-Dey commented on #134
@ArunaAT Check issue #124
This is a duplicate issue. You can go and comment there.
If the person assigned there fails then you would be assigned next.

[2022-08-08 14:10] #134 closed

[2022-08-08 14:12] Susmita-Dey commented on #132
Do you wanna change that `on` to `at` in that section?

[2022-08-08 14:16] Susmita-Dey commented on #64
Complete that first

[2022-08-08 14:17] Susmita-Dey commented on #54
@Ashxsh1 After you have done the changes kindy show me in discord and also before commiting any changes do `git fetch` and `git pull` and recent changes made

[2022-08-08 14:28] Shivam-Katare opened #135 "Improve Cards of Audiobooks"
I think we can add and improve this card section. Here we can add these audiobooks with more animations. Like some hover effects, and I would love to work on this issue.

![08 08 2022_19 53 22_REC](https://user-images.githubusercontent.com/91705825/183441164-afff17dc-e084-4441-8a59-755b657a1dad.png)

[2022-08-08 14:32] Susmita-Dey commented on #135
@Shivam-Katare Go ahead

[2022-08-08 14:33] Susmita-Dey commented on #81
If @09khu fails to add, then you can work on it.

[2022-08-08 14:47] popcandy1x opened #136 "Title not displayed properly in the reading therapy website"
In the reading therapy website the title at the top of browser window is not displayed correctly.Instead of showing Sukoon name and its favicon it shows 'Document' along with no favicon.
![Screenshot 2022-08-08 at 8 05 37 PM](https://user-images.githubusercontent.com/81379049/183445440-45893f7a-0bcb-4535-81bd-98f500a49624.png)
I would like to fix the issue and make the title display 'Sukoon' and i

[2022-08-08 14:48] Vanshiii203 commented on #132
Yes! I would also like to improve the way some questions are answered.

[2022-08-08 14:50] Susmita-Dey commented on #132
First change the title of this issue to `Update text in FAQ section.`
Then I'll assign it to you.

[2022-08-08 14:51] Susmita-Dey commented on #132
@Vanshiii203 Have you completed your previously assigned issues?

[2022-08-08 14:54] Susmita-Dey commented on #136
@popcandy1x Go ahead

[2022-08-08 15:02] Vanshiii203 commented on #132
I have to make the changes that were asked in my PR.

[2022-08-08 15:08] Susmita-Dey commented on #132
Complete it first and then start working on it.

[2022-08-08 15:20] #107 closed

[2022-08-08 15:21] #119 closed

[2022-08-08 15:30] itsmdasifraza commented on #121
@Vanshiii203  Please mention this issue in your pull request using #

[2022-08-08 15:42] itsmdasifraza opened #140 "Bug: Signup page has no input validation"
Input validations must be required...

[2022-08-08 15:44] Susmita-Dey commented on #140
Describe more what do you wanna add

[2022-08-08 15:47] #136 closed

[2022-08-08 15:48] itsmdasifraza commented on #140
@Susmita-Dey  I will add email validation, password validation, and name field
please assign

[2022-08-08 15:49] itsmdasifraza commented on #140
![183456059-c99cea1d-94aa-4bca-82a0-1580bac35205](https://user-images.githubusercontent.com/58258334/183459096-a32436c9-8c39-41f8-9df0-3200ba172e02.png)

[2022-08-08 15:51] Susmita-Dey commented on #140
@itsmdasifraza Go ahead

[2022-08-08 16:12] #100 closed

[2022-08-08 16:13] #5 closed

[2022-08-08 16:59] #55 closed

[2022-08-08 17:04] Sampurankishoresrivastava commented on #93
Please assign this to me.
Here are some sample of nav-bar made by me.
[Files.zip](https://github.com/Sulagna-Dutta-Roy/Webeginner-projects/files/9283473/Files.zip)

[2022-08-08 17:15] AnshuPathak-88825 opened #141 "Login button cursor problem"

[2022-08-08 17:16] AnshuPathak-88825 commented on #141
login button should be cursor pointer

[2022-08-08 17:16] AnshuPathak-88825 commented on #141
pls assign me this issue

[2022-08-08 17:47] Anubhavgupta14 opened #143 "Improving audiotherapy Page UI, Design, adding Caursal"
Improving audiotherapy Page UI, Design,

[2022-08-08 18:57] ShivanshAr97 commented on #143
Please see it does not clash with issue #116 🙂

[2022-08-08 18:59] Anubhavgupta14 commented on #143
@ShivanshAr97 I have only changed the background of header in that page, you can go ahead.

[2022-08-08 19:04] SahilDahekar opened #147 "Making the Navbar on Audio Page responsive"
![Screenshot 2022-08-09 003232](https://user-images.githubusercontent.com/97726887/183494164-c95eabf1-52d8-496f-9f2a-f9245c2ba5fb.png)

- The Navbar on audio Page is not responsive.

[2022-08-08 19:04] SahilDahekar commented on #147
can I take up this Issue ?

[2022-08-08 19:48] Anubhavgupta14 opened #149 "Changing Background of Our Team."
Changing Background of Our Team.(Animation)

https://user-images.githubusercontent.com/97956667/183501934-22eb581b-fdb4-4ea7-b01b-9f451d239b25.mp4

[2022-08-08 19:52] Anubhavgupta14 commented on #149
@Susmita-Dey  Assign me so that I can raise PR for this change.

[2022-08-08 20:20] vandana3869 commented on #39
Yeah...Right now I'm working on its responsiveness and the Carousel for services section

[2022-08-09 01:21] myhacktech commented on #141
link has to be attached,to which u are referring to bcz many such pages will be designed in upcoming time, please follow instructions

[2022-08-09 03:45] keerthana054 opened #151 "Making email link responsive and enhancing design of social media icons [SSOC]"

[2022-08-09 04:11] Susmita-Dey commented on #151
@keerthana054 What do you mean by email link responsive?
Can you share the screenshot of the bug?

[2022-08-09 04:11] myhacktech commented on #151
she also wants to work on sociaal media icon

[2022-08-09 04:12] Susmita-Dey commented on #151
I know but since she mentioned 2 things, we must be aware of both the changes she wanna make.

[2022-08-09 04:13] myhacktech commented on #151
@keerthana054

[2022-08-09 04:16] myhacktech commented on #151
@keerthana054 always add screenshot and link of the changes you wish to make

[2022-08-09 04:16] keerthana054 commented on #151
https://user-images.githubusercontent.com/91015385/183562974-08e8e3b3-9156-4145-82fa-86a880e4af7b.mp4

[2022-08-09 04:17] keerthana054 commented on #151
Okay sir!

[2022-08-09 04:20] myhacktech commented on #151
that s not responsive
i think u want to make it active..right?

[2022-08-09 04:21] keerthana054 commented on #151
yes sir.

[2022-08-09 04:35] Susmita-Dey commented on #149
@Anubhavgupta14 Sorry but this animation won't look professional. Closing this as not planned.

[2022-08-09 04:35] #149 closed

[2022-08-09 04:40] MohitNamdev22 opened #152 "The Bottom to Up button doesn't have cursor pointer property & Hover effect"
I want to work on this issue and give a pointer & hover effect to the bottom to up button. So can you assign this issue to me?
![Screenshot_13](https://user-images.githubusercontent.com/89779447/183565570-9ac6ecf0-fcb9-4674-bf7f-a8f9b3b9ec52.png)

SSOC'22

[2022-08-09 04:49] keerthana054 commented on #151
Can I also change the name Video therapy to Laughing therapy? as video therapy is not available in services.

[2022-08-09 04:53] Susmita-Dey commented on #152
@MohitNamdev22 How many issues are left which have been assigned to you?

[2022-08-09 04:54] MohitNamdev22 commented on #152
No issues are left from yesterday, this one is first issue of the day

[2022-08-09 04:55] MohitNamdev22 commented on #152
All previous issues are completed & merged, So can you assign it to me?

[2022-08-09 05:13] myhacktech commented on #151
i didn't get ur point..

[2022-08-09 05:21] Ashxsh1 commented on #54
Sure!

On Mon, Aug 8, 2022 at 7:48 PM Susmita Dey ***@***.***> wrote:

[2022-08-09 06:17] popcandy1x commented on #80
Can I take this issue and work on it as it has been 3 days and no update has been provided on it.

[2022-08-09 06:23] Susmita-Dey commented on #147
@SahilDahekar Go ahead

[2022-08-09 06:23] SahilDahekar commented on #147
yep

[2022-08-09 06:23] #57 closed

[2022-08-09 06:25] Susmita-Dey commented on #143
Duplicate issue #57

[2022-08-09 06:25] #143 closed

[2022-08-09 06:26] Susmita-Dey commented on #80
@Monishobaid Are you still working on this issue?
If not, then I'll assign it to @popcandy1x

[2022-08-09 06:27] Susmita-Dey commented on #152
Go ahead

[2022-08-09 06:30] Susmita-Dey commented on #151
@keerthana054 It's a seperate issue which must be created if there are no duplicate issues. For now Wwork on this particular issue.

[2022-08-09 07:02] ShivanshAr97 commented on #147
I have taken care of this issue in issue #116. Please see once.

[2022-08-09 07:35] Monishobaid commented on #80
sorry for not updating I got stuck with few other works sure @popcandy1x can go ahead with this issue on work on it

[2022-08-09 07:53] Vignesh2131 opened #158 "Images in Our services section are getting overlapped at 870px to 700px"
While checking for responsiveness there is a minor bug during the minimization of the website.
So I want to work on this.
Please assign me this issue
![2022-08-09 (2)](https://user-images.githubusercontent.com/96634914/183595375-e06e178b-9997-4d66-8e7a-e433e68154ca.png)
.

[2022-08-09 09:08] #152 closed

[2022-08-09 10:29] dare-devilll opened #159 "Removing extra height from the logo"
<img width="250" alt="image" src="https://user-images.githubusercontent.com/92071471/183626803-6d7eba52-7585-4313-9f34-39c2abbf9d53.png">

[2022-08-09 10:32] dare-devilll commented on #159
I am working on the navbar and solving this issue will help me.

[2022-08-09 14:09] #121 closed

[2022-08-09 14:12] Susmita-Dey commented on #158
@Vignesh2131 I just checked the website. It's working fine. No such issues that you;re mentioning. Kindly do git fetch and git pull and merge the chanegs to see the changes made to the website locally.
Closing this now.

[2022-08-09 14:12] #158 closed

[2022-08-09 14:14] Susmita-Dey commented on #159
@dare-devilll Go ahead

[2022-08-09 14:15] Susmita-Dey commented on #141
@myhacktech He had found a good point.

[2022-08-09 14:15] Susmita-Dey commented on #141
@AnshuPathak-88825 Good observation. Go ahead.

[2022-08-09 14:16] dare-devilll commented on #159
I already made a pr, can you check?

[2022-08-09 14:19] Susmita-Dey commented on #93
@Sampurankishoresrivastava I'm assigning it to you for now but while making the changes show me on discord before making any PR.

[2022-08-09 14:29] AnshuPathak-88825 commented on #141
thanks

[2022-08-09 14:33] #60 closed

[2022-08-09 14:36] AnshuPathak-88825 commented on #64
Hey @Susmita-Dey  I 've created theme changer but now I'm facing problem  should I remove background image and add gradient colour to it because if we change colour then background image won't change that's why I'm asking pls let me know what should I do ?
[Screencast from 09-08-22 07:57:43 PM IST.webm](https://user-images.githubusercontent.com/78332454/183675489-68d4a4f4-5cf5-4544-8aae-50f1a0212e

[2022-08-09 14:38] Susmita-Dey commented on #159
Yes, checking

[2022-08-09 14:48] dare-devilll commented on #159
can I close the issue?

[2022-08-09 14:55] #135 closed

[2022-08-09 14:58] dare-devilll opened #162 "[bug]Login button not connected to login page."
I can fix it.

[2022-08-09 15:06] #159 closed

[2022-08-09 15:06] Susmita-Dey commented on #162
@dare-devilll Go ahead

[2022-08-09 15:07] #124 closed

[2022-08-09 15:07] #96 closed

[2022-08-09 15:09] Susmita-Dey commented on #80
@popcandy1x Go ahead but while making changes show me on discord before creating a final PR.

[2022-08-09 15:10] Susmita-Dey commented on #64
@vaibhavsharma1234 Do you want to make a theme changes as in the video?
If yes, then it would remove the navbar and the hero section which is a drastic change and also not allowed.

[2022-08-09 15:20] undextered opened #163 "Improving the UI of About Us section of the website"
The about us section of the website does not feel consistent with the whole website so I would like to change it.

[2022-08-09 15:22] Susmita-Dey commented on #163
Describe more what changes you wanna make

[2022-08-09 15:24] popcandy1x commented on #80
Ok👍

[2022-08-09 16:26] 09khu opened #165 "Want to make signup/login button responsive."

[2022-08-09 16:26] 09khu commented on #165
Assign it to me.

[2022-08-09 16:37] Susmita-Dey commented on #165
@09khu Go ahead

[2022-08-09 16:40] #81 closed

[2022-08-09 16:48] #162 closed

[2022-08-09 17:07] SahilDahekar opened #167 "Improving the responsiveness of home page"
1. Responsiveness is not properly done.

![Screenshot 2022-08-09 223040](https://user-images.githubusercontent.com/97726887/183713149-530907bf-038f-4326-9c38-10e1c1c10fde.png)
![Screenshot 2022-08-09 223157](https://user-images.githubusercontent.com/97726887/183713138-0df2493f-b81f-4055-9d3d-8efe1aebfc46.png)

2. Back to top button is getting overlapped by elements inside About section.

![Screens

[2022-08-09 17:07] SahilDahekar commented on #167
hey i want to work on this issue can u assign this to me?

[2022-08-10 03:19] SachinMittal1766 commented on #39
@vandana3869 Make PR by tomorrow

[2022-08-10 03:20] SachinMittal1766 commented on #167
@SahilDahekar Assigned

[2022-08-10 03:22] #85 closed

[2022-08-10 04:23] MohitNamdev22 opened #169 "Adding responsiveness to the Subheading of About Us Page"
The sub-heading of the about us page isn't responsive, so can I fix this issue?

![image](https://user-images.githubusercontent.com/89779447/183815393-5ddd91d6-f1c6-474f-b0e5-98e3464c9bd5.png)

[2022-08-10 05:35] 29Aastha opened #170 "Improving the UI of About Us page"
<img width="407" alt="image" src="https://user-images.githubusercontent.com/101136877/183823274-94abd3dc-d6d0-4af7-bad4-a1c8ec811160.png">

- changing background
- adding animation and hover effects
- changing layout of boxes

[2022-08-10 05:45] myhacktech commented on #170
add link as well

[2022-08-10 06:32] ak232001 opened #171 "Want to improve navbar section"
![s1](https://user-images.githubusercontent.com/93785942/183831045-d45e0c16-c178-46cb-855e-09943cf2c9ea.png)

This not looks good, i want to add signup/login button in the Toggle bar of the navbar section.

[2022-08-10 06:39] imaaquibali commented on #171
@ak232001 Go for it. XD : )

[2022-08-10 06:40] imaaquibali commented on #169
@MohitNamdev22 Start working on it 👍

[2022-08-10 06:41] imaaquibali commented on #163
@undextered Can you please describe more about your issue?

[2022-08-10 08:26] Vanshiii203 opened #172 "Making the navbar on Talking Therapy page responsive"
![Screenshot (306)](https://user-images.githubusercontent.com/94471189/183853210-770eb81b-2c05-4735-a776-d2ffd7caf2af.png)

[2022-08-10 08:58] Sampurankishoresrivastava commented on #93
Ye Sure!

[2022-08-10 09:16] AnshuPathak-88825 commented on #141
there's was one more problem if click corner of button then anchor tag won't work I've solved that issue too

[2022-08-10 09:16] AnshuPathak-88825 commented on #141
pls merge this pr

[2022-08-10 14:56] Susmita-Dey commented on #172
@Vanshiii203 Go ahead

[2022-08-10 19:23] ShivanshAr97 opened #175 "Homogeneity missing in the text [SSOC]"
Homogeneity in the text content is missing in "Our Services" section

![ss](https://user-images.githubusercontent.com/96040322/184002237-a1ab9389-bb19-48d8-90db-91e283452b08.jpg)

(For SSOC Contribution)

[2022-08-10 19:23] ShivanshAr97 commented on #175
Please assign it to me !

[2022-08-11 02:52] con-artist opened #176 "fix headSection UI"
![image](https://user-images.githubusercontent.com/82517773/184067511-25e7e5e3-a0ce-4cce-bbbd-774eabf4b607.png)
I want to fix this

[2022-08-11 02:52] con-artist opened #177 "fix headSection UI"
![Uploading image.png…]()
I want to fix this

[2022-08-11 02:52] #177 closed

[2022-08-11 04:34] Susmita-Dey commented on #175
@ShivanshAr97 Do you wanna change the button text or the picture?

[2022-08-11 04:40] #110 closed

[2022-08-11 04:49] #116 closed

[2022-08-11 04:59] Susmita-Dey commented on #176
@con-artist Image didn't uploaded properly.

[2022-08-11 05:01] con-artist commented on #176
Check now

[2022-08-11 05:05] Susmita-Dey commented on #176
@con-artist Go ahead

[2022-08-11 08:08] dare-devilll opened #182 "Maintaining consistency across all home page card."
Different contributor developed the cards, so I think the cards need to have one particular theme, which remains consistent across
the website, I want to work on it.

[2022-08-11 08:12] dare-devilll opened #183 "[bug]talking therapy page don't have proper nav-links."
I want to fix this bug.

[2022-08-11 09:40] thisisamanmishra opened #185 "Want to improve Signup and Login page"

[2022-08-11 09:43] AnshuPathak-88825 commented on #185
assign me this issue

[2022-08-11 09:45] thisisamanmishra commented on #185
@AnshuPathak-88825 Hey, I want to work on this that's why I've raise this issue

[2022-08-11 09:47] AnshuPathak-88825 opened #186 "Want to add scrolling feature in Talking Therapy in html page"

[2022-08-11 09:48] AnshuPathak-88825 commented on #186
pls assign me this issue

[2022-08-11 09:48] AnshuPathak-88825 commented on #185
ok no problem

[2022-08-11 09:52] AnshuPathak-88825 opened #187 "lets explore button in services section should be in same line"

[2022-08-11 09:53] AnshuPathak-88825 commented on #187
![Screenshot (343)](https://user-images.githubusercontent.com/78332454/184108336-82740f13-edf5-481d-8272-d20010bf3b18.png)

I want to make let's explore button in same line

[2022-08-11 09:53] AnshuPathak-88825 commented on #187
pls assign me this issue

[2022-08-11 09:55] AnshuPathak-88825 opened #188 "Improve UI using gradient colour"

[2022-08-11 09:55] AnshuPathak-88825 commented on #188
pls assign me this issue

[2022-08-11 10:05] Surya8991 opened #189 "Adding Footer for all therapy page"
[SSOC 2022 Participant]
I would like to add Footer Section  for all therapy pages so that it will be easy to move between pages rather then going to the main page every time.
![image](https://user-images.githubusercontent.com/85568108/184110433-502190ce-0f4f-4152-b850-a22104cfc533.png)

[2022-08-11 10:17] Surya8991 opened #190 "Fixing the link in audio therapy page logo"
[SSOC 2022 Participant]
As You can see the link in both the home button and logo to home page is different and when we click on the logo we get an error saying page not found so I would like to fix this bug by changing the link in the logo to point to the home page.

![image](https://user-images.githubusercontent.com/85568108/184111955-3fba2d57-492e-4216-b893-41f93ed871ca.png)
![image](https://use

[2022-08-11 10:45] #169 closed

[2022-08-11 10:47] Susmita-Dey commented on #188
@AnshuPathak-88825 What gradient colors do you wanna use and which section's UI do you wanna change?

[2022-08-11 10:48] Susmita-Dey commented on #183
@dare-devilll Are you talking about the **videos** link in the navbar?

[2022-08-11 10:49] Susmita-Dey commented on #186
@AnshuPathak-88825  Do you mean smooth-scrolling?

[2022-08-11 10:51] Susmita-Dey commented on #185
@thisisamanmishra Do you wanna improve the UI of signup and login page?

[2022-08-11 10:54] Susmita-Dey commented on #190
@Surya8991 Good observation. Go ahead

[2022-08-11 10:56] Surya8991 commented on #190
Sure

[2022-08-11 10:57] thisisamanmishra commented on #185
@Susmita-Dey Yes

[2022-08-11 11:00] Susmita-Dey commented on #185
@thisisamanmishra A PR with the backend of signup login page is already awaiting.
Can you kindly hold on for some days before the PR gets merged?
I'm asking this beacuse it will create a mess later on with the frontend and backend part.

[2022-08-11 11:01] thisisamanmishra commented on #185
@Susmita-Dey okay no issue

[2022-08-11 11:12] #190 closed

[2022-08-11 11:28] Surya8991 opened #192 "Fixing the logo link in Reading and Talking therapy Page"
I would like to fix the logo link issue in Reading and Talking therapy Page
![image](https://user-images.githubusercontent.com/85568108/184123577-1261e09e-1422-4070-8dfc-e04078915049.png)
![image](https://user-images.githubusercontent.com/85568108/184123632-a9a913b8-3a25-4ad7-a27a-01de9dba55df.png)

[2022-08-11 13:43] AnshuPathak-88825 commented on #186
yes

[2022-08-11 14:26] #140 closed

[2022-08-11 14:27] Susmita-Dey commented on #186
@AnshuPathak-88825 Go ahead

[2022-08-11 16:23] ShivanshAr97 commented on #175
Yes! Changing the button text of "Talking Therapy" (I have indicated with arrow)

It should match with other buttons

[2022-08-11 17:35] Vanshiii203 opened #200 "Improving the login button"
I would like to change the color, font size  font family and font weight of login button.
![Screenshot (309)](https://user-images.githubusercontent.com/94471189/184196914-87144bd7-e9b2-4781-ae6d-1417ed637c33.png)

[2022-08-11 18:35] dare-devilll commented on #182
I really liked the theme of the talking therapy cards, I want to create something like that.
Also, I will try to make colors matching the logo rotate around the cards on the border.
Let's see if it's possible🤞🏻

[2022-08-11 18:37] dare-devilll commented on #183
Yes, also the logo link takes us nowhere, and the home link.

[2022-08-12 05:49] MohitNamdev22 opened #201 "Improve the font family of FaQ Section"
In the FaQ Section Heading, Sub-Heading, and Description all have the same font family and it seems attractive. So can I work on this?

![image](https://user-images.githubusercontent.com/89779447/184292660-675b3cd9-ca5a-4799-ba3c-180961e3102d.png)

[2022-08-12 09:04] Akayush-17 commented on #72
Hey I would like to work on this

[2022-08-12 09:15] ShivanshAr97 commented on #72
@Akayush-17 issue is already solved

[2022-08-12 09:15] ShivanshAr97 commented on #72
@siddhi-244 @SachinMittal1766 Why is this still open?
This issue is already merged in the website

https://github.com/Susmita-Dey/Sukoon/pull/82

[2022-08-12 09:33] #72 closed

[2022-08-12 10:05] #106 closed

[2022-08-12 10:06] #172 closed

[2022-08-12 10:19] imaaquibali commented on #200
@Vanshiii203 Go for it!

[2022-08-12 10:28] imaaquibali commented on #192
@Surya8991 Start working!

[2022-08-12 10:36] imaaquibali commented on #201
@MohitNamdev22 go for it.

[2022-08-12 10:36] imaaquibali commented on #188
@AnshuPathak-88825 can you explain bit more?

[2022-08-12 10:47] Surya8991 commented on #192
Ok

[2022-08-12 10:53] imaaquibali commented on #187
@AnshuPathak-88825 start working!

[2022-08-12 14:59] Shivam-Katare opened #204 "Improve Testimonial Cards"
I want to improve the testimonial section with good UI and with some smooth animations.

![image](https://user-images.githubusercontent.com/91705825/184383274-4f83cd6a-2702-46d6-ad3d-8442544b94f7.png)

[2022-08-12 19:55] undextered commented on #163
The images look warped and the cards are too big. It lacks design, the border also looks ugly. In conclusion, I would like to revamp that to match the whole design of the website

[2022-08-12 19:55] Ashxsh1 opened #205 "Updating hero explore button"

[2022-08-12 20:39] dare-devilll commented on #182
can I do it?

[2022-08-13 03:53] SachinMittal1766 commented on #205
https://github.com/Susmita-Dey/Sukoon/pull/206 PR Merged

[2022-08-13 03:53] #205 closed

[2022-08-13 03:55] SachinMittal1766 commented on #204
Go Ahead!

[2022-08-13 06:09] MohitNamdev22 opened #207 "Improve the UI of Landing Page & Navbar on Reading Therapy Page"
The UI of the Landing Page is not looking good & the size of the Navbar is too large. So can I work on this?

![image](https://user-images.githubusercontent.com/89779447/184471177-90ef148c-103b-48ac-953f-71ac022c2647.png)

[2022-08-13 07:52] SahilDahekar commented on #147
@ShivanshAr97 Your PR got merged but it still got issues and also i have added additional feature of toogling the hamburger svg with cross svg.

[2022-08-13 08:01] Vanshiii203 opened #209 "The login and signup button doesn't have cursor pointer property & Hover effect"
![Screenshot (316)](https://user-images.githubusercontent.com/94471189/184474945-3a785ff2-5add-447f-8e23-198077e25aa5.png)

[2022-08-13 08:06] MohitNamdev22 commented on #207
Closing this issue as it was already in working by someone else

[2022-08-13 08:06] #207 closed

[2022-08-13 08:12] MohitNamdev22 opened #210 "Hyperlinking sukoon email at the footer section"
The mail address present at the footer is only in typed form, it can be hyperlinked with mail to ( Email ). Then it would be easy for the user to mail. So can I work on this?

![image](https://user-images.githubusercontent.com/89779447/184475139-1fbdb3b9-f69d-41e9-97f2-a282842c3266.png)

[2022-08-13 09:41] Akayush-17 opened #211 "Creating Consult a Doctor webpage design and webpage"
hey I would like to contribute to this section of website

[2022-08-13 10:51] popcandy1x opened #212 "Adding more questions to the faq section about the services"
Original:-
![Screenshot 2022-08-13 at 4 18 04 PM](https://user-images.githubusercontent.com/81379049/184480333-2fd85479-0f5d-4fca-8f0e-bb7de2df031b.png)
Changes:-
![Screenshot 2022-08-13 at 4 06 48 PM](https://user-images.githubusercontent.com/81379049/184480382-6a8eca96-7a13-4442-9703-2fda92cde61b.png)
![Screenshot 2022-08-13 at 4 06 56 PM](https://user-images.githubusercontent.com/81379049/18448

[2022-08-13 15:01] myhacktech commented on #210
this issue already assigned,someone is working on this

[2022-08-13 15:02] myhacktech commented on #210
i m closing this

[2022-08-13 15:02] #210 closed

[2022-08-13 15:45] SujalSamai opened #215 "Improve UI of the Reading Therapy Page"
I would like to improve the readability, background colors, and alignment of the Reading Therapy Page and will work on bringing it to a symmetry to the audio therapy page. Right now both the pages look too different from each other (font sizes, color combination etc.)
![image](https://user-images.githubusercontent.com/87236576/184501212-211ec644-42d2-4a1a-949c-87a8544fe54c.png)

[2022-08-13 17:33] AnshuPathak-88825 opened #216 "Top scroll z-index problem in home page"

[2022-08-13 17:34] AnshuPathak-88825 commented on #216
![image](https://user-images.githubusercontent.com/78332454/184504699-0997e964-6dbe-4abd-96ba-3b16a96837cc.png)

z-index of top scroll should be higher than profile card

[2022-08-13 17:35] AnshuPathak-88825 commented on #216
pls assign me this issue

[2022-08-13 19:29] Atharv-110 commented on #215
Go aheah @SujalSamai, Assigned to you.

[2022-08-13 19:52] popcandy1x commented on #215
I have already worked upon this issue and fixed it in a previous issue:-
issue:-https://github.com/Susmita-Dey/Sukoon/issues/80

[2022-08-13 19:54] popcandy1x commented on #215
Sorry to say but do you guys even check before assigning people to issues without addressing and merging the previous prs

[2022-08-13 20:09] Atharv-110 commented on #215
@SujalSamai this was assigned already, my bad.
You can work on other issues.

[2022-08-14 04:24] MohitNamdev22 opened #219 "Glassmorphism Effect on the Navbar of Reading Therapy page"
Can I work on the Navbar of Reading Page Therapy?

![image](https://user-images.githubusercontent.com/89779447/184522406-1846041a-5e08-443e-909d-a219e8b05c4d.png)

[2022-08-14 05:56] undextered opened #220 "Improving the UI of Login/Signup Page"
I have created UI for the login and signup pages in Figma and would like to incorporate them into the website.
The link for the Figma prototype is given below.

https://www.figma.com/proto/1IFC7cugSJUblflUjN4oo5/Sukoon-Login?node-id=2%3A8&scaling=scale-down&page-id=0%3A1&starting-point-node-id=2%3A8

https://user-images.githubusercontent.com/76005012/184524473-1d640709-1564-4ec5-942a-8bef9b67eba0.

[2022-08-14 07:01] SahilDahekar commented on #216
This issue is already fixed in issue #167

[2022-08-14 07:20] SahilDahekar opened #221 "Improving responsiveness and Navbar design on Talking Therapy page."
1. Follwing is the issue in Navbar on mobile layout:
  - When you toggle the menu and try to scroll the menu with options goes up with the page.
  - On keeping the menu open and making the window full screen u can still see the mobile layout menu.

2. I will improve the design on navbar and make it similar to audio therapy page and fix all the above issues.

![Screenshot 2022-08-14 123915](https:/

[2022-08-14 07:20] SahilDahekar commented on #221
I would like to work on this issue can u plz assign it to me

[2022-08-14 08:09] ShivanshAr97 opened #222 "Improving footer section"
I would like to improve the footer section of website. [SSOC contribution]
By adding the new logo, improving font size of text and increasing size of icons, removing underline and adding better hover effects.

**Screenshot**
![image](https://user-images.githubusercontent.com/96040322/184528094-85802670-8fb6-4e15-855e-2155c2a995d9.png)

[2022-08-14 08:09] ShivanshAr97 commented on #222
Please assign it to me!

[2022-08-14 08:16] tanisha-byte opened #223 "Enhance the UI of the videos section of the talking therapy page"
![videos-talktherapy](https://user-images.githubusercontent.com/72216611/184528396-872e35fc-83e2-4384-842e-e02e3916ff75.png)
The spacing in the video section of the talking therapy page is not proper, will fix the spacing and enhance the UI of the talking therapy page by using the color palette that has been used on the home page.

[2022-08-14 08:55] con-artist opened #225 "Add footer section in each of the services page"
I would like to add a footer section in each service page .

[2022-08-14 08:56] con-artist opened #226 "Faq section for the reading therapy page"
I would like to create faq section for therapy page

[2022-08-14 09:06] Vanshiii203 commented on #44
@myhacktech @Susmita-Dey Can I work on this issue?

[2022-08-14 10:17] myhacktech commented on #222
issue of this type already assigned

[2022-08-14 10:24] myhacktech commented on #44
@keerthana054 are u still working on this?

[2022-08-14 10:41] ShivanshAr97 opened #227 "Making sticky navbar"
I would like to make a sticky navbar so that it is visible even when the page is scrolled down.

For SSOC Contribution.

[2022-08-14 10:42] ShivanshAr97 commented on #227
Please assign it to me!

[2022-08-14 12:05] #141 closed

[2022-08-14 13:07] Vanshiii203 opened #229 "Fixing the Videos nav-link in talking therapy page"

[2022-08-14 13:28] AnshuPathak-88825 commented on #186
[Screencast from 14-08-22 06:49:47 PM IST.webm](https://user-images.githubusercontent.com/78332454/184539041-7b6b0349-a9cd-4151-8666-0998aa0fb7f0.webm)

I've added smooth scrolling feature to every file

[2022-08-14 14:06] imaaquibali commented on #227
@ShivanshAr97 Go for it.

[2022-08-14 14:07] imaaquibali commented on #226
@con-artist go for it!

[2022-08-14 14:07] imaaquibali commented on #225
@con-artist start working!

[2022-08-14 14:08] imaaquibali commented on #229
@Vanshiii203 do it!

[2022-08-14 14:09] imaaquibali commented on #188
@AnshuPathak-88825 If you working on this issue please let me know. otherwise i will close this issue XD

[2022-08-14 14:10] imaaquibali commented on #182
@dare-devilll Do it man!

[2022-08-14 14:12] AnshuPathak-88825 commented on #188
you can close it

[2022-08-14 14:13] imaaquibali commented on #209
@Vanshiii203 Do it. Try to add hover button like [this](https://github.com/imaaquibali/Color-Button-Animation)

[2022-08-14 14:14] imaaquibali commented on #211
@Akayush-17 Can you describe more! XD

[2022-08-14 14:15] imaaquibali commented on #216
@SahilDahekar Sorry the issue is already resolved! XD

[2022-08-14 14:15] #216 closed

[2022-08-14 14:38] #188 closed

[2022-08-14 15:37] myhacktech commented on #44
@Vanshiii203 yes u may go this issue

[2022-08-15 07:40] Akayush-17 commented on #211
The page will consist UI design of a patient doctor interaction and will consist of a chat feature in order to chat with doctor

[2022-08-15 09:47] AliReza1083 opened #232 "Opening and Closing Navbar"
## Functionality
I'd like to make a responsive Navbar that has a good functionality.

[code]

[2022-08-15 10:25] #123 closed

[2022-08-15 10:25] #201 closed

[2022-08-15 10:46] AliReza1083 commented on #227
@ShivanshAr97
Try to make a navbar that when someone `scrolls downward`, the navbar disappear and when the someone `scrolls upward`, the navbar should appear.
It'll be great.

[2022-08-15 11:55] ShivanshAr97 opened #234 "Adding a preloader in the website [SSOC]"
I would like to add a preloader in the website, which would be rendered before the pages load

For SSOC contribution

[2022-08-15 11:55] ShivanshAr97 commented on #234
Please assign it to me!

[2022-08-15 13:42] ShivanshAr97 opened #236 "Improving the testimonials section [SSOC]"
I would like to improve the testimonial section like adding hover and focus effects, improving font size and text,

For SSOC contributions

**Screenshot**
![image](https://user-images.githubusercontent.com/96040322/184646517-73ea28f0-867c-49d3-84ef-afdf70430639.png)

[2022-08-15 13:42] ShivanshAr97 commented on #236
Please assign it to me!

[2022-08-16 23:56] AliReza1083 commented on #232
Please assign it to me.

[2022-08-17 04:11] siddhi-244 commented on #236
I think it is already made by someone

[2022-08-17 06:35] Susmita-Dey commented on #236
Is it a duplicate issue?

[2022-08-17 09:05] Vanshiii203 opened #243 "Fixing logo link in talking therapy page"
![Screenshot (324)](https://user-images.githubusercontent.com/94471189/185079643-24ac74fb-3485-4004-ab4d-788f325d3f7b.png)

[2022-08-17 12:44] #70 closed

[2022-08-18 08:36] #236 closed

[2022-08-18 13:23] Kritika0035 opened #245 "Book audio UI issue."
The play buttons are not aligned properly, and the UI of audio playlist also looks so conjusted. So may I work on this issue ?

[2022-08-18 13:55] Kritika0035 commented on #245
thank you sir

[2022-08-18 16:45] shivam-rathour-maersk commented on #232
Good i also want to join

[2022-08-19 05:05] #80 closed

[2022-08-19 05:09] #132 closed

[2022-08-19 05:22] #212 closed

[2022-08-19 05:25] #66 closed

[2022-08-19 05:47] #243 closed

[2022-08-19 05:51] #229 closed

[2022-08-19 07:02] SujalSamai opened #247 "Responsive Layout is overlapping in Reading Therapy"
Heading and Description of Articles section is overlapping
![Screenshot_2022-08-19-12-24-23-67_40deb401b9ffe8e1df2f1cc5ba480b12](https://user-images.githubusercontent.com/87236576/185561938-b08ab734-f776-4714-89f2-666336c3c7c9.jpg)

[2022-08-19 07:07] Vanshiii203 opened #248 "Making navbar of reading therapy page responsive"

[2022-08-19 07:24] MohitNamdev22 opened #249 "Sevices in footer aren't hyperlinked to respective pages."
In the footer section the links of services like audio therapy, reading therapy, etc. Are not redirecting to respective pages. So, can I fix this issue under SSOC'22?

![image](https://user-images.githubusercontent.com/89779447/185566064-07f06db8-e2a6-4204-93f6-cf044f7c6fb7.png)

[2022-08-19 08:02] Susmita-Dey commented on #249
@MohitNamdev22 Have you checked for duplicate issues?

[2022-08-19 08:05] Susmita-Dey commented on #249
@MohitNamdev22 Go ahead

[2022-08-19 08:06] Susmita-Dey commented on #248
@Vanshiii203 screenshot please

[2022-08-19 08:08] #35 closed

[2022-08-19 08:11] AliReza1083 opened #250 "Making the service section Responsive.."
For tablet Device this might make a problem.
So, I want to fix this Issue.

Please assign it to me.

![image](https://user-images.githubusercontent.com/99729607/185574392-31edc29f-7b25-45dd-9292-fa9d7c2be629.png)

[2022-08-19 08:11] Susmita-Dey commented on #40
@Kirankp25 The audio therapy itself looks good and no changes as your mentioned are not needed now. closing this as no reply for a number if days.

[2022-08-19 08:11] #40 closed

[2022-08-19 08:12] Susmita-Dey commented on #43
@Kirankp25 any updates?

[2022-08-19 08:15] Susmita-Dey commented on #250
@AliReza1083 Have you fetched and merged the changes made recently to the website?

If no, then do it first. To me it's been already fixed. If any further issues lies, report to me again,

[2022-08-19 08:40] AliReza1083 commented on #250
can I fix this issue?

[2022-08-19 08:43] #249 closed

[2022-08-19 08:44] AliReza1083 commented on #250
For tablet device, it is 3 columns, So if it was 2 columns, it would be great.

Please assign to me to fix it.
![image](https://user-images.githubusercontent.com/99729607/185580631-3cf9d180-0b20-4344-8f1a-6228d8d103ff.png)

[2022-08-19 08:46] Susmita-Dey commented on #250
@AliReza1083 Go ahead

[2022-08-19 08:53] Susmita-Dey opened #252 "[DUPLICATE ITEMS] Footer items duplicate"
Delete duplicate items from the footer.
- Services
- Contact
These 2 things are replicated in the footer.
![image](https://user-images.githubusercontent.com/79099734/185582520-931d9678-3bf9-4766-a1da-8073478e8764.png)

[2022-08-19 08:56] ShivanshAr97 opened #253 "Making a customized scroll bar [SSOC]"
I would like to make a designed scroll bar rather than the default scroll bar

**Screenshot**
![image](https://user-images.githubusercontent.com/96040322/185583407-e99b1f11-cb42-435e-b445-54b28c05ffa8.png)

[2022-08-19 08:59] ShivanshAr97 commented on #252
You can assign it to me

[2022-08-19 08:59] MohitNamdev22 commented on #252
Can I work on this?

[2022-08-19 08:59] Vanshiii203 commented on #252
Can I work on this?

[2022-08-19 09:01] ShivanshAr97 commented on #253
please assign it to me

[2022-08-19 09:02] Susmita-Dey commented on #252
@MohitNamdev22 @Vanshiii203 Since @ShivanshAr97 commented first, I've to assign it to him

[2022-08-19 09:03] Susmita-Dey commented on #252
@ShivanshAr97 Go ahead

[2022-08-19 09:04] Susmita-Dey commented on #253
@ShivanshAr97 Go ahead

[2022-08-19 09:06] Vanshiii203 commented on #248
@Susmita-Dey
![Screenshot (325)](https://user-images.githubusercontent.com/94471189/185584990-db83e0a2-df4d-4bec-aaee-8c3cde579487.png)

[2022-08-19 09:11] Susmita-Dey commented on #248
@Vanshiii203 Go ahead

[2022-08-19 09:20] rakshitgondwal opened #254 "No website link in the readme"
There is no link to the website in the readme of the project.

[2022-08-19 09:21] rakshitgondwal opened #255 "Update website screenshot in readme."
The screenshot of the website in the readme is old. Need to update it with new one

[2022-08-19 10:03] #220 closed

[2022-08-19 10:04] ShivanshAr97 commented on #175
Please assign if possible?

[2022-08-19 10:10] ShivanshAr97 opened #258 "Improvement in UI of coming soon page"
I would like to improve the interface of coming soon page which looks pretty childish and unprofessional and is not functioning properly as well.

**Screenshot**
![image](https://user-images.githubusercontent.com/96040322/185596808-2ff96e3b-ab39-4b79-bfff-21169f54897e.png)

[2022-08-19 10:10] ShivanshAr97 commented on #258
Please assign it to me!

[2022-08-19 10:30] #252 closed

[2022-08-19 10:30] #253 closed

[2022-08-19 10:31] ShivanshAr97 opened #260 "Adding a smooth scroll in the reading section [SSOC]"
I would like to add a smooth scroll feature in the reading section of the website for smooth transition between the sections of the page.

[2022-08-19 10:35] Susmita-Dey commented on #258
@ShivanshAr97 Go ahead

[2022-08-19 10:37] Susmita-Dey commented on #260
@ShivanshAr97 Go ahead

[2022-08-19 10:43] Susmita-Dey commented on #175
@ShivanshAr97 go ahead

[2022-08-19 11:02] #255 closed

[2022-08-19 11:06] #254 closed

[2022-08-19 11:18] AliReza1083 opened #263 "Back to top button"
I want to make the button to look differently and has an amazing functionality.

Please Assign it to me.

![image](https://user-images.githubusercontent.com/99729607/185607276-9711b668-bab3-4462-9b3d-f224ebad1117.png)

[2022-08-19 11:24] #200 closed

[2022-08-19 11:24] #260 closed

[2022-08-19 11:26] Susmita-Dey commented on #263
What functionality you wanna add to it other than the already added one?

[2022-08-19 11:33] AliReza1083 commented on #263
I want to make a button that will enter the page from right, while entring the page, the text inside will coming from top of it.
I can't sent the video to show how the functionality but it will be amazing.

Like this:
![image](https://user-images.githubusercontent.com/99729607/185609583-e3963641-14eb-4c24-83ae-7b70e34e32ac.png)

[2022-08-19 11:36] Vanshiii203 opened #265 "Making login/signup page responsive"
The image is not responsive
![Screenshot (326)](https://user-images.githubusercontent.com/94471189/185609965-901b851a-7e79-464c-bf90-3b078251480b.png)

[2022-08-19 11:41] #245 closed

[2022-08-19 11:44] Susmita-Dey commented on #263
@AliReza1083 I'm assigning it to you but before creating a PR dm me in disocrd the video to show the functionality

[2022-08-19 11:45] Susmita-Dey commented on #265
@Vanshiii203 Go ahead

[2022-08-19 11:54] #209 closed

[2022-08-19 12:05] AliReza1083 commented on #263
Sorry, I don't have your Discord.

[2022-08-19 12:47] popcandy1x opened #267 "Improving the fonts readability in yoga therapy page and make the videos section responsive"
Unreadable font:-
![Screenshot 2022-08-19 at 6 05 27 PM](https://user-images.githubusercontent.com/81379049/185621020-25dadac2-9fe4-4e46-b49c-d2c21cdfca65.png)
![Screenshot 2022-08-19 at 6 05 34 PM](https://user-images.githubusercontent.com/81379049/185621156-7a918147-21a7-4092-9fcb-5c6062d8bcf7.png)
Video thumbnail not appearing completely properly in smaller view:-
![Screenshot 2022-08-19 at 6 0

[2022-08-19 12:53] AliReza1083 commented on #263
My project is done.
You can check the video by this link:
https://drive.google.com/file/d/1HSHBapS8lLZjPEG887AlEpcybODATit5/view?usp=sharing

[2022-08-19 13:24] popcandy1x opened #268 "Fixing the position of overlapping button in audiobooks section of audio therapy page"
button coming out of audiobook card:-
![Screenshot 2022-08-19 at 6 46 59 PM](https://user-images.githubusercontent.com/81379049/185628332-16f6df78-32dc-470d-8b8a-97052d4e68b3.png)

[2022-08-19 14:21] SahilDahekar opened #269 "Improving the design of accordian when open."
- The contrast on the Button of card is not good its hard to see on hover.

![Screenshot 2022-08-19 194656](https://user-images.githubusercontent.com/97726887/185639253-91809751-9ce8-4ddd-9be6-8abb13d6a334.png)

- Fixing the look of the links in Footer.

![Screenshot 2022-08-19 194610](https://user-images.githubusercontent.com/97726887/185639293-1857354e-2d53-41d1-b8aa-925b75277afe.png)

- Improvi

[2022-08-19 14:25] SahilDahekar opened #270 "Issue with how the PR are merged"
- My PR of Improving the responsiveness of the Home page was merged here is the link.
https://github.com/Susmita-Dey/Sukoon/pull/208

- Now i dont know how the PR are merged but the current home page is not at all responsive.
- Maybe because after my PR was merged some else's PR had the older home page and it overrided mine.
- Have any idea how should we deal with this ? , i  have the branch whos

[2022-08-19 14:45] ShivanshAr97 opened #273 "Improving button UI in yoga page [SSOC]"
I would like to improve the interface of this button

**Screenshot**
![image](https://user-images.githubusercontent.com/96040322/185644582-56e68e48-08bd-479c-999e-d36fcaf68d0d.png)

[2022-08-19 14:47] ShivanshAr97 commented on #269
Well the issue in the footer, it was because of someone who made a wrong PR raise or something I am not sure.

[2022-08-19 14:48] ShivanshAr97 commented on #269
But I have corrected it again in the PR #272

[2022-08-19 14:49] ShivanshAr97 commented on #269
As well as the scroll bar Someone maybe did it wrong

[2022-08-19 14:49] ShivanshAr97 commented on #269
You can see it in deploy log if you wish I have corrected both of them

[2022-08-19 14:52] ShivanshAr97 opened #274 "Improving the yoga section [SSOC]"
I would like to improve the upper region of yoga section so as to improve the readability of the text

**Screenshot**
![image](https://user-images.githubusercontent.com/96040322/185646123-741a0f37-2e03-416d-be4e-96271923b49a.png)

[2022-08-19 15:47] ShivanshAr97 opened #275 "Adding the custom scroll bar in all the pages [SSOC]"
I would like to add the scroll bar which was created by me in all the pages

[2022-08-19 15:56] Vanshiii203 opened #276 "Fixing the UI of footer"
![Screenshot (330)](https://user-images.githubusercontent.com/94471189/185658974-aa435ef3-0781-45c7-81a2-1e67c5292723.png)

[2022-08-19 16:02] ShivanshAr97 commented on #276
been taken care of 👍
See deploy log of PR #272

[2022-08-19 16:40] myhacktech commented on #269
@SahilDahekar make sure ur work are different from others to avoid clashes

[2022-08-19 17:10] Vanshiii203 commented on #276
Okay!!

[2022-08-19 17:10] #276 closed

[2022-08-19 17:12] SahilDahekar commented on #269
well i'll find different issues
i'll put a comment here before working on it

[2022-08-19 17:33] AnshuPathak-88825 commented on #275
Bro I've already made PR
PR #230

[2022-08-19 17:47] IAmTamal opened #277 "Fix : Home Page ( About Us) Images"
## Home Page (About Us)

 - The Members has images, which looks `streched out` and can be fixed with some minor fixes.

## Take a look at the streched out images

![image](https://user-images.githubusercontent.com/72851613/185677578-172cd0c2-b01b-4584-83a8-6de7d25d25e9.png)

I would like to work on this !

[2022-08-19 17:52] ShivanshAr97 commented on #275
Bro
I think scroll BAR and SMOOTH scroll feature is different🙂

[2022-08-19 17:58] popcandy1x commented on #274
Bro I have already raised this issue:https://github.com/Susmita-Dey/Sukoon/issues/267

[2022-08-19 18:01] popcandy1x commented on #273
Bro I have already raised this issue:https://github.com/Susmita-Dey/Sukoon/issues/267

[2022-08-19 18:01] popcandy1x commented on #274
Bro I have already raised this issue:https://github.com/Susmita-Dey/Sukoon/issues/267

[2022-08-19 18:03] ShivanshAr97 commented on #274
okay

[2022-08-19 18:03] #274 closed

[2022-08-19 18:06] vandana3869 opened #278 "Adding a Carousel effect to the Testimonials section [SSOC]"
here is the demo
https://user-images.githubusercontent.com/84574563/185762499-77a55027-afea-4414-8b71-6574ce139cd5.mp4

[2022-08-19 19:46] continualWolf opened #279 "Invisible buttons on Mobile view of Reading Therapy page"
![Invisible Buttons On Mobile](https://user-images.githubusercontent.com/77812385/185694702-1c3e22bf-426d-4127-95f1-2bc722b00e05.PNG)
On the Reading Therapy page, on the mobile view there are some invisible buttons(the buttons that say "read" under the book information).
This is my first time doing open source, so i would like to work on this :)

[2022-08-19 20:00] #273 closed

[2022-08-20 02:20] myhacktech commented on #270
create another issue ,and then raise PR
 @Susmita-Dey what 's ur views on this?

[2022-08-20 04:27] MohitNamdev22 opened #280 "Fixing the list style issue in footer social links"
In the footer section, the social media icons do have a list style, So can I fix it?
![image](https://user-images.githubusercontent.com/89779447/185728897-83f37031-ca74-472f-b2a3-2e606450797b.png)

[2022-08-20 05:01] Vanshiii203 opened #281 "Improving the background and submit button"
I want to improve the submit button and also the background of this page.
![Uploading Screenshot (332).png…]()

[2022-08-20 05:06] MohitNamdev22 commented on #280
Closing this issue, as it was already done by PR 272 which is yet to be merged.

Sorry for inconvenience.

[2022-08-20 05:06] #280 closed

[2022-08-20 05:14] SahilDahekar commented on #269
The accordian issue is different i'll work on it

[2022-08-20 05:16] SahilDahekar commented on #219
@myhacktech i have already made a PR regrading this you can check out #221
And actually this issue is on talking therapy page

[2022-08-20 05:17] SahilDahekar commented on #270
@myhacktech So should i create a issue and make a PR again??

[2022-08-20 05:49] Vanshiii203 opened #282 "SignUp Button"
I fixed the button and the PR was merged, Here is the link- https://github.com/Susmita-Dey/Sukoon/pull/240
The current deployed website doesn't have these changes. 
Should I raise a PR again?

[2022-08-20 06:35] MohitNamdev22 opened #283 "In Yoga Therapy Section, Image looks too stretched & can add bullets to the points"
The image SVG below Benefits of Yoga looks too stretched and the benefit's readability can be increased by using any bullet.
Can I work on this issue?
![image](https://user-images.githubusercontent.com/89779447/185732477-8982c11e-e9d4-44c6-8888-3b4f4dd0d68e.png)

[2022-08-20 07:40] Susmita-Dey commented on #283
@MohitNamdev22 Go ahead

[2022-08-20 07:41] Susmita-Dey commented on #282
@Vanshiii203 We have 2 types of login signup html files. Someone needs to delte the old ones.

[2022-08-20 07:43] Susmita-Dey commented on #270
@myhacktech @SahilDahekar I guess it's overriden by some other PR.

[2022-08-20 07:44] Susmita-Dey commented on #270
@SahilDahekar just push the code by creating another PR and mention that this was the issue as it will be a duplicate PR and also  no extra points will be given as I've allotted points for your previous PR and now you're going to push the same code.

[2022-08-20 07:45] Susmita-Dey commented on #219
@SahilDahekar @MohitNamdev22 wants to do it on Reading Therapy and not Talking therapy. Don't quarrel with each other.

[2022-08-20 07:47] Susmita-Dey commented on #281
@Vanshiii203 Screenshot has not been uploaded properly

[2022-08-20 07:48] Susmita-Dey commented on #279
@continualWolf Go ahead

[2022-08-20 07:49] Susmita-Dey commented on #279
@continualWolf Are you in SSoC?

[2022-08-20 08:16] Vanshiii203 commented on #281
![Screenshot (332)](https://user-images.githubusercontent.com/94471189/185735904-16bdd759-b952-4b1f-8474-f6e8b3654a0d.png)

[2022-08-20 08:21] Vanshiii203 commented on #282
I was talking about-
![Screenshot (333)](https://user-images.githubusercontent.com/94471189/185735968-fc185632-11e5-4bd4-8a95-c5d9fcf769a5.png)

For that login signup file, I have linked the new file in my previous PR which is currently not merged

[2022-08-20 10:04] con-artist opened #285 "Fix home page footer"
![image](https://user-images.githubusercontent.com/82517773/185740689-c17d9025-edb4-4268-bd65-dfd11d3a43fb.png)

The contact icons and the links are not styled properly
I will fix them and make it like the footers on the service pages

[2022-08-20 10:07] con-artist opened #287 "Laughing therapy page"
![image](https://user-images.githubusercontent.com/82517773/185740832-de7330a4-b408-4c76-ab53-9c298b5a437c.png)
update the coming soon page with the laughing therapy page

[2022-08-20 12:30] myhacktech commented on #285
probably this issue is created already

[2022-08-20 12:55] MridulTi commented on #278
Can you add a bit more information on the specifics of precisely the kind of result that you are looking forward to

[2022-08-20 13:25] con-artist commented on #285
@myhacktech  are you sure ? I don't see any such issue

[2022-08-20 13:39] continualWolf commented on #279
@Susmita-Dey  What is SSoc ?

[2022-08-20 13:39] continualWolf commented on #279
Did not mean to close that haha

[2022-08-20 13:40] continualWolf commented on #279
.

[2022-08-20 13:54] myhacktech commented on #285
ok let me chk,i 'll assign if its not

[2022-08-20 13:55] myhacktech commented on #285
yeah actually many tried to improve footer,but it is still not best,u can go with the issue

[2022-08-20 13:56] Kritika0035 opened #289 "improve the navigation bar UI."
the element needs to be aligned and a proper between them is to be made. also fixing the navigation bar is to be done.

[2022-08-20 13:57] Kritika0035 commented on #289
May I work on this issue then?

[2022-08-20 14:03] myhacktech commented on #289
@Kritika0035 attach screenshot or link to explain

[2022-08-20 14:19] Vanshiii203 commented on #287
@myhacktech @con-artist I am already working on this issue #44

[2022-08-20 14:26] con-artist commented on #287
@Vanshiii203  Are you creating a laughing Therapy page?

[2022-08-20 14:28] Vanshiii203 commented on #287
Yes

[2022-08-20 14:35] con-artist commented on #287
Well there is already a page created by someone. I am just linking it to the home page. You can create the new page and replace it with the old one

[2022-08-20 15:01] Kritika0035 commented on #289
![Screenshot (196)](https://user-images.githubusercontent.com/92821377/185752968-de3c2352-de3d-4244-951e-6865761cfba7.png)

also need to change the hover to maintain the hierarchy of the design.

[2022-08-20 15:03] myhacktech commented on #287
yeah that page is still not created and it will be done by @Vanshiii203 ,u @con-artist should look for some other ways of improving it,or close the issue,till then i am unassigning it

[2022-08-20 16:22] popcandy1x opened #291 "Fix the position of the nav bar elements on home page"
The nav bar elements look inappropriate at the center of the page so it would be better to shift them to the right of the page.
Original:-
![Screenshot 2022-08-20 at 9 48 14 PM](https://user-images.githubusercontent.com/81379049/185756607-e1f8ab71-af49-427c-8253-ab50453b4aad.png)
After Changes:-
![Screenshot 2022-08-20 at 9 48 21 PM](https://user-images.githubusercontent.com/81379049/185756616-e32

[2022-08-20 19:04] vandana3869 commented on #278
here is the preview of the result for reference
https://user-images.githubusercontent.com/84574563/185762499-77a55027-afea-4414-8b71-6574ce139cd5.mp4

[2022-08-20 19:19] #287 closed

[2022-08-20 21:24] AliReza1083 commented on #263
Should I create a PR?

[2022-08-21 01:06] Surya8991 commented on #192
closing issue as the changes have been made. And I couldn't do because i was busy.

[2022-08-21 01:06] #192 closed

[2022-08-21 05:30] AliReza1083 commented on #263
What should I do now? haha

[2022-08-21 10:36] Vanshiii203 opened #294 "Changing the background Image of Yoga Therapy"
![Screenshot (334)](https://user-images.githubusercontent.com/94471189/185786976-a98c0b31-b662-474d-a356-11e0ca874dc4.png)

[2022-08-22 05:18] Vanshiii203 opened #299 "UI of Yoga Therapy page"
To maintain the similarity, I would like to improve the UI of the Yoga Therapy page by making it similar to the other pages.

![Screenshot (336)](https://user-images.githubusercontent.com/94471189/185844548-19bc9606-f983-4bf3-814b-611908eed0f0.png)

[2022-08-22 08:24] rani620 opened #300 "reading therapy page"
want to change the reading therapy  page  ui and hover effect

[2022-08-22 09:16] AnshuPathak-88825 opened #301 "want to add some property to contact section"
![image](https://user-images.githubusercontent.com/78332454/185885497-801aec43-8ae9-4c10-ad94-bbbdd32de215.png)

there's underline ,bullents and not proper color I want to make some chanes regarding it

[2022-08-22 09:16] AnshuPathak-88825 commented on #301
pls assgin me this issue

[2022-08-22 12:18] vedsom opened #303 "Incorrect orientation of videos for different sizes of screen"
I have observed that in Talking therapy section videos at the end are not properly placed.
They have different orientation for short  range  of size change.
** Assign me to solve this issue.**

![Sukoon - Google Chrome 22-08-2022 17_33_08](https://user-images.githubusercontent.com/96954912/185918647-6ff6cd8d-e31b-46cb-8bf5-047f12bf02fd.png)
![Sukoon - Google Chrome 22-08-2022 17_32_58](https://use

[2022-08-22 12:21] vedsom commented on #285
@myhacktech if this issue pending can I solve it.

[2022-08-22 12:22] vedsom commented on #303
@myhacktech kindly assign the issue!!

[2022-08-22 12:38] rani620 opened #304 "want to change about section"
will give some transition ,want to
![Screenshot (22)](https://user-images.githubusercontent.com/96174308/185922894-53046252-b34b-4c8c-a67e-bda8ca5e88a8.png)
 change some layout and color and want to add some hover effect.

[2022-08-22 13:44] con-artist commented on #285
I am working on it

[2022-08-22 15:44] Vanshiii203 opened #305 "Read button on reading therapy page"
Improving the transition and hover effect of Read button and making them visible without the hover effect.

![Screenshot (341)](https://user-images.githubusercontent.com/94471189/185962490-66985d29-537d-426c-929f-7dbcea67e309.png)

[2022-08-22 18:14] vedsom opened #308 "Want to work on laughing therapy"
I want to work on tis by adding great memes, comedy videos, and many more.

kindly @Susmita-Dey assign me this issue!!

[2022-08-22 18:19] vedsom opened #309 "Create a problem sharing section"
want to create a problem sharing section where different people can post their problems and get a solution.
It will help suffering person to share problem with others.

@Susmita-Dey assign me this issue!!

[2022-08-22 18:29] imaaquibali commented on #304
@rani620 assigned

[2022-08-22 19:27] SahilDahekar opened #310 "Changing the design of the Navbar on Yoga therapy page and also fixing its position"
- On Mobile Layout on Yoga Therapy page the navbar is getting scrolled with page content.
- Also the design of Navbar is not that appealing.
- The on returning to full screen with the navbar toggle on the navbar remains as it is with the original navbar.

<img width="360" alt="Screenshot 2022-08-23 005616" src="https://user-images.githubusercontent.com/97726887/186002711-4aa6b15d-74b0-4667-86f4-c5

[2022-08-22 19:28] SahilDahekar commented on #310
I want to work on this issue.

[2022-08-23 03:10] myhacktech commented on #300
attach screenshot for better explanation
@rani620

[2022-08-24 04:34] imaaquibali commented on #278
@vandana3869 Go for it!

[2022-08-24 07:34] ShivanshAr97 opened #312 "Converting the website into PWA [SSOC]"
I would like to convert the website into a Progressive Web Application so that it can be installed in the user device or added to home screen and can also function offline.

(For SSOC contribution)

[2022-08-24 07:34] ShivanshAr97 commented on #312
Please assign it to me

[2022-08-24 07:35] Kirankp25 commented on #43
yes, today I will make PR for it

[2022-08-24 13:32] Yash-RajSingh opened #315 "Add a preloader"
Currently there is no preloader in the website. I'd like to add a custom made preloader in the website. Kindly please assign this issue to me.

[2022-08-24 13:37] Yash-RajSingh opened #316 "Adding a custom scrollbar [SSOC]"
The website currently has the default scrollbar. The default scrollbar is contrasting to the color if the website, so I'd like to add a colored custom scrollbar. Kindly please assign this issue to me.

![image](https://user-images.githubusercontent.com/85413348/186432363-81a2c014-a854-4418-afc7-acd38207afa7.png)

[2022-08-24 13:41] Yash-RajSingh opened #317 "Minor fixes in the footer [SSOC]"
The elements of the footer currently have contrasting colors because of the links. Also, the bullets of the list items are still visible. I'd like to fix these minor ui problems. Kindly please assign this issue to me.

![image](https://user-images.githubusercontent.com/85413348/186433269-ac519b38-33e4-4f2e-9b83-1fe7e34c6e0d.png)

[2022-08-25 05:56] Susmita-Dey commented on #263
@AliReza1083 You should have tagged me in discord server

[2022-08-25 06:12] #147 closed

[2022-08-25 06:24] #176 closed

[2022-08-25 07:18] #221 closed

[2022-08-25 07:29] #265 closed

[2022-08-25 07:38] #258 closed

[2022-08-25 07:55] #268 closed

[2022-08-25 08:01] Susmita-Dey commented on #308
@vedsom Many things can be improved in that page. I have some yt videos link. Need to add them there.

[2022-08-25 08:03] #44 closed

[2022-08-25 08:04] vedsom commented on #308
@Susmita-Dey  Yaa i can do it.

[2022-08-25 08:18] #58 closed

[2022-08-25 08:34] #247 closed

[2022-08-25 08:40] #305 closed

[2022-08-25 08:43] Susmita-Dey commented on #315
@Yash-RajSingh It's already added.

[2022-08-25 08:48] Susmita-Dey commented on #312
@ShivanshAr97 Nice idea. Share some resources in discord via dm. I also wanna learn how to add this feature to websites.

[2022-08-25 08:48] Yash-RajSingh commented on #315
Okay got it!

[2022-08-25 08:49] #315 closed

[2022-08-25 08:57] Susmita-Dey commented on #308
@vedsom You'll make a section of videos and just embed those videos. Okay?

[2022-08-25 08:59] vedsom commented on #308
@Susmita-Dey yaa cool!! Should I add videos myself or you will provide them?

[2022-08-25 08:59] Susmita-Dey commented on #308
I'll share you the YT links soon, till then start making the section and add some comedy videos that will help people to laugh a lot and forget their stress. Some unique ones are there which I'll be sharing you by tonight here.

[2022-08-25 09:00] vedsom commented on #308
@Susmita-Dey  Ok 👍

[2022-08-25 09:02] Susmita-Dey commented on #317
@Yash-RajSingh Check #225 PR is already created.

[2022-08-25 09:02] #317 closed

[2022-08-25 09:04] Susmita-Dey commented on #316
@Yash-RajSingh Go here:- https://sukoon-stress-free.netlify.app/
Custom scrollbar is already there. Duplicate issue again. Closing this.

[2022-08-25 09:04] #316 closed

[2022-08-25 09:08] Yash-RajSingh opened #319 "Improving UI of the members card [SSOC]"
Currently the member cards just have a basic dark blue background. I'd like to add glassmorphism effect and improve the UI a bit. Please assign this issue to me.
![image](https://user-images.githubusercontent.com/85413348/186624259-64878c08-d8e9-4272-a5af-4710bf4ac940.png)

[2022-08-25 09:10] Susmita-Dey commented on #319
@Yash-RajSingh Create an UI in canva or figma or somewhere else you like and show me first.

[2022-08-25 09:12] Susmita-Dey commented on #300
@myhacktech Don't assign like this without ss otherwise later on when their PRs won't be merged, it will hurt them.

[2022-08-25 09:12] Susmita-Dey commented on #300
@rani620 Can you add screenshots of your changes?

[2022-08-25 09:13] Susmita-Dey commented on #309
@vedsom Nice idea.

[2022-08-25 09:52] Susmita-Dey commented on #285
@con-artist Wait a PR is already there with footer.

[2022-08-25 09:53] Susmita-Dey commented on #285
@myhacktech @con-artist Check #225 Closing this issue as duplicate

[2022-08-25 09:53] #285 closed

[2022-08-25 09:55] Susmita-Dey commented on #303
@vedsom Go ahead

[2022-08-25 09:56] Susmita-Dey commented on #301
Duplicate issue. Check #225 A PR is already creted.

[2022-08-25 09:56] #301 closed

[2022-08-25 09:57] Susmita-Dey commented on #299
@Vanshiii203 Show me the UI after having a sketch in Figma or Canva or whatever you prefer. I don't want to reject your PR later on if it doen't look good.

[2022-08-25 09:58] Susmita-Dey commented on #92
@AnshuMishra01 Are you gonna work on it?

[2022-08-25 09:59] Susmita-Dey commented on #294
@Vanshiii203 The background image itself looks good to me.
Have you found something more beautiful than this one? :thinking:

[2022-08-25 10:01] Susmita-Dey commented on #291
Looks better. Go ahead @popcandy1x

[2022-08-25 10:06] Susmita-Dey commented on #291
@popcandy1x Closing this as duplicate issue. Check #289

[2022-08-25 10:06] #291 closed

[2022-08-25 10:06] Susmita-Dey commented on #289
@Kritika0035 Make it like this:
![image](https://user-images.githubusercontent.com/79099734/186637187-988cb219-960b-45d7-bfe2-b8d80e037327.png)

[2022-08-25 10:13] Susmita-Dey commented on #275
@ShivanshAr97 Do you mean your changes have been deleted or you want to add the changes?

[2022-08-25 10:13] Susmita-Dey commented on #277
Hey @IAmTamal This is what I wanted to have actually. But are you an SSoC contributor?

[2022-08-25 10:22] Kritika0035 commented on #289
Okay maa'm... plz assign me this issue.

[2022-08-25 10:24] Susmita-Dey commented on #289
Go ahead

[2022-08-25 10:31] Susmita-Dey commented on #282
@Vanshiii203 Make the changes in that PR first and go with this. Also, after deleting the old files, rename the new ones as `login.html` and `signup.html`

[2022-08-25 10:31] IAmTamal commented on #277
Oops, i thought the repo was Open for all  !
No , i am not an SSoC contributor !

[2022-08-25 10:32] Susmita-Dey commented on #277
@IAmTamal It is open for all but currently it's under SSoC program for the next 2 months. Let me ask the team if I can assign others or not. If I can, then I will assign it to you.

[2022-08-25 10:35] Susmita-Dey opened #320 "Auto-fill turn on - Contact Us Page"
In this [page](https://sukoon-stress-free.netlify.app/html/contact.html), when I'm trying to fill up the form, a bad warning is being shown to me:

Need to fix it.

[2022-08-25 10:38] Susmita-Dey opened #321 "[TYPO] - FAQ Section"
![image](https://user-images.githubusercontent.com/79099734/186643605-481b1203-b35b-46a5-a6f6-f6271587c346.png)

Change the **w** to **W** in this section.

[2022-08-25 10:42] 29Aastha commented on #321
pls assign me this issue .. i m an ssoc participant

[2022-08-25 10:42] Kritika0035 commented on #289
I am a ssoc participant

[2022-08-25 10:52] Susmita-Dey commented on #321
@29Aastha Go ahead

[2022-08-25 10:53] Susmita-Dey commented on #277
@IAmTamal Sorry I can't assign this to you currently. You can check my other projects for improvement.

[2022-08-25 10:54] ShivanshAr97 commented on #320
You can assign to me.
I can work on it

[2022-08-25 10:54] Susmita-Dey commented on #277
Waiting for SSoC contributors to take up.

[2022-08-25 10:56] #279 closed

[2022-08-25 10:57] Susmita-Dey commented on #320
@ShivanshAr97 Go ahead

[2022-08-25 10:59] AnshuPathak-88825 opened #322 "Want to backend for login and signup"

[2022-08-25 11:01] Susmita-Dey commented on #322
I was thinking about the deployment. I don't think Netlify would handle the backend for free.

[2022-08-25 11:01] AnshuPathak-88825 commented on #322
I think we can do it on heroku

[2022-08-25 11:02] Susmita-Dey commented on #322
Do you think that heroku will keep data of all the users who will signup?

[2022-08-25 11:03] AnshuPathak-88825 commented on #322
data will store online in mongodb

[2022-08-25 11:04] ShivanshAr97 commented on #312
Ok 🙂

[2022-08-25 11:06] AnshuPathak-88825 commented on #322
My friend took my last project for his placement  and he uploaded on heroku https://intense-earth-34027.herokuapp.com/ . It is working fine

[2022-08-25 11:08] Susmita-Dey commented on #322
Site is getting changed everyday. It would be tough for you to handle things in between.

[2022-08-25 11:16] Susmita-Dey commented on #322
@AnshuPathak-88825 Netlify can deploy backend. See this [post](https://niruhan.medium.com/deploying-mern-fullstack-application-on-the-web-for-free-with-netlify-and-heroku-87d888012635)

But the thing is I'm waiting for the reply of the PR which already have the backend but it's been many days with that PR.

[2022-08-25 11:23] AnshuPathak-88825 commented on #322
Adding Backend is really hard I think he is unable to do it

[2022-08-25 11:25] AnshuPathak-88825 commented on #322
if I add backend file structure will changed completely

[2022-08-25 11:34] jainss commented on #277
Hello @Susmita-Dey  can i contribute in this issue i'm also a part of SSoC.

[2022-08-25 11:44] ShivanshAr97 commented on #275
In the previous PR, it was added in the Home page only
Now, I would like to add them in all the other pages as well

[2022-08-25 14:11] popcandy1x commented on #291
Ok👍

[2022-08-25 14:40] Susmita-Dey commented on #322
@AnshuPathak-88825 I know that the file structure will completely change and it's very hard work. Also, the site is changing day by day and it's difficult to handle. For now I'm thinking to keep it as a static site but at the time before the end of the program, I'll think about adding backend.

[2022-08-25 15:08] #248 closed, assigned to Vanshiii203

[2022-08-25 15:12] #321 closed

[2022-08-25 16:22] #312 closed

[2022-08-25 17:26] Susmita-Dey commented on #320
@ShivanshAr97 Follow the following syntax to fix the bug in the form
[code]

Make sure that you use this line:
[code]

[2022-08-25 17:51] #320 closed

[2022-08-25 17:54] ShivanshAr97 commented on #275
@Susmita-Dey see this

[2022-08-25 18:05] Susmita-Dey commented on #275
What exactly @ShivanshAr97 wanna add?

[2022-08-25 18:07] Susmita-Dey commented on #275
What exactly @ShivanshAr97 wanna add?

[2022-08-25 18:16] #227 closed

[2022-08-25 19:53] ShivanshAr97 opened #327 "Including PWA feature in readme [SSOC]"
I would like to add content about Progressive Web App in the Readme file of the repo

For SSOC contribution

[2022-08-26 05:23] MridulTi commented on #299
Is this issue still in progress or should I showcase the design I have in mind for the page?

[2022-08-26 06:09] ShivanshAr97 commented on #275
A scroll bar same as PR #257 but in all the pages

[2022-08-26 11:55] keerthana054 commented on #294
Can I change the font on this page? Enhancing it

[2022-08-26 14:03] Vanshiii203 commented on #294
![Screenshot (344)](https://user-images.githubusercontent.com/94471189/186920898-72633d4e-841b-4b76-ba87-8cc39f344e19.png)

![Screenshot (345)](https://user-images.githubusercontent.com/94471189/186920947-2bf65e7d-ac74-460f-ac13-1816820904de.png)

[2022-08-26 16:20] MohitNamdev22 opened #331 "Change the font family of "Let's Connect" Button on Meet our member section."
Let's Connect font style doesn't seem good, so can I change it with a new font under SSOC'22?

![image](https://user-images.githubusercontent.com/89779447/186948614-5362132d-136c-461d-bd80-88d7a607cffd.png)

[2022-08-27 05:41] SahilDahekar opened #333 "Added a blur filter in the background of the Home page navbar."
- The navbar on the home page has no background hence it clashes with other elements.
- We should add a blur filter so that we can distinguish the content and navbar.

<img width="946" alt="Screenshot 2022-08-27 111019" src="https://user-images.githubusercontent.com/97726887/187016613-99069567-131c-440a-925e-74e6a5a090cd.png">
<img width="944" alt="Screenshot 2022-08-27 111000" src="https://user-i

[2022-08-27 05:41] SahilDahekar commented on #333
I want to work on this issue

[2022-08-27 07:25] Susmita-Dey commented on #327
@ShivanshAr97 Go ahead

[2022-08-27 07:27] Susmita-Dey commented on #299
@MridulTi Wait for some more days to get assigned. I'll assign you if @Vanshiii203 fails to comment here within the next 10 days

[2022-08-27 07:29] Susmita-Dey commented on #275
@ShivanshAr97 Wait for some days, if @AnshuPathak-88825 PR gets merged then it will be an duplicate issue

[2022-08-27 07:38] Susmita-Dey commented on #294
@keerthana054 You can create a new issue for that.

[2022-08-27 07:38] Susmita-Dey commented on #294
@Vanshiii203 The image is in portrait. Will it look good? I guess it would be stretched. Try once to check it.

[2022-08-27 07:41] #283 closed

[2022-08-27 07:44] Susmita-Dey commented on #331
@MohitNamdev22 Go ahead

[2022-08-27 07:44] Susmita-Dey commented on #333
@SahilDahekar Go ahead

[2022-08-27 07:48] keerthana054 commented on #294
Okay :)

[2022-08-27 07:52] #281 closed

[2022-08-27 07:53] keerthana054 opened #334 "Enhancing font of yoga therapy"
![Screenshot (1)](https://user-images.githubusercontent.com/91015385/187020819-0569b5e0-c32d-4efb-baaf-cddecf0fed6e.png)

[2022-08-27 08:36] MridulTi commented on #299
sure

[2022-08-27 08:46] Vanshiii203 commented on #294
https://user-images.githubusercontent.com/94471189/187022708-3738b7c4-9095-4386-bebf-a23fff0ea616.mp4

[2022-08-27 08:57] MohitNamdev22 opened #336 "Fix the "X" sign on Talking Therapy page"
I wanted to change the Navbar design from a normal design to a Glass-morphism effect. Can I do this under SSOC'22?
Before -
![image](https://user-images.githubusercontent.com/89779447/187023159-c806aa15-7dde-43e8-883a-c8da5fcc2aa8.png)

After ( Want to make it like this ) -
![Screenshot 2022-08-27 142418](https://user-images.githubusercontent.com/89779447/187023172-fd77799b-ed7c-4bdb-a8fe-a9dabd92

[2022-08-27 09:21] Vanshiii203 opened #337 "The therapy pages are broken"
@Susmita-Dey
The laughing therapy page is not visible( PR #293 ), the talking therapy page is broken and also the responsiveness of the navbar of reading therapy is gone, I made it responsive in my last PR #325

![Screenshot (353)](https://user-images.githubusercontent.com/94471189/187023831-bc2fcf71-2734-484f-8318-8f484baad41d.png)

![Screenshot (354)](https://user-images.githubusercontent.com/94

[2022-08-27 09:52] Susmita-Dey commented on #337
@Vanshiii203 Let me check

[2022-08-27 09:53] Susmita-Dey commented on #336
@MohitNamdev22 Wait for a while. Someone has made drastic changes to the website.

[2022-08-27 10:11] Vanshiii203 commented on #337
Please check #302 as well

[2022-08-27 10:48] MohitNamdev22 commented on #336
@Susmita-Dey No issues Ma'am!

[2022-08-27 11:11] Vanshiii203 commented on #337
@Susmita-Dey
Should I fix the issues??

[2022-08-27 11:41] Susmita-Dey commented on #337
Yeah do it

[2022-08-27 13:43] SahilDahekar commented on #337
hey @Susmita-Dey @myhacktech  some of the issue in mentioned by @Vanshiii203 are already taken like fixing the navbar on home page is this issue #333

[2022-08-27 14:58] SahilDahekar opened #339 "Navbar on Audio Therapy has issues"
- The navbar has a cross svg on top right corner.
- The navbar toggled is not fixed to the page it goes up with content.
- Also the navbar that toggles is offset from navbar has space in between.
- On switching to full screen the navbar toggled menu stays on full screen.

<img width="944" alt="Screenshot 2022-08-27 201527" src="https://user-images.githubusercontent.com/97726887/187035341-de38a5f8-

[2022-08-27 15:35] SahilDahekar commented on #339
I want to work on this issue.

[2022-08-27 15:50] rani620 commented on #304
I am a SSOC participant.

[2022-08-27 15:56] rani620 commented on #300
maam if u assigned this issue to me afterthat i will have to work upon on it ..

[2022-08-27 16:01] rani620 commented on #300
![Screenshot (29)](https://user-images.githubusercontent.com/96174308/187038108-aa4a26bf-1ba2-4766-b113-9c83187c2367.png)

[2022-08-27 16:14] myhacktech commented on #300
yes

[2022-08-27 16:55] Vanshiii203 commented on #337
I have fixed the therapy pages. You can fix the navbar of home page.

[2022-08-27 20:14] shwetmala55 commented on #334
i want to work on this

[2022-08-28 02:15] AliReza1083 commented on #263
OHHH @Susmita-Dey
I should have tagged you in Fran's community, right?

[2022-08-28 03:27] Vanshiii203 opened #343 "Text in Faq section is not visible"
In mobile view the text in faq section is not completely visible.

Desktop view-
![Screenshot (356)](https://user-images.githubusercontent.com/94471189/187056006-64519839-b7ba-4b26-afe3-69dab516478c.png)

Mobile view-
![Screenshot_20220828-084337](https://user-images.githubusercontent.com/94471189/187056087-f20b383a-4c58-4f92-af14-6ead38f42985.jpg)

[2022-08-28 03:33] Vanshiii203 opened #344 "Improving footer on all therapy pages"
I would like to remove the text decoration and add a hover effect on the footer of all therapy pages, making it similar to the home page.

![Screenshot (357)](https://user-images.githubusercontent.com/94471189/187056137-a21854df-bb4a-42d4-b08e-8e9e31c30dc2.png)

[2022-08-28 08:43] MohitNamdev22 opened #345 "More Aasans button not visible due to yellow color in Yoga Section"
In Yoga Section, the More Aasans button is not visible properly, so can I change its color for better visibility, under SSOC'22?

![image](https://user-images.githubusercontent.com/89779447/187065494-47d7aea1-ec03-4bea-8d17-74d3642cf1ea.png)

[2022-08-28 17:49] Eknoor02 opened #346 "Fixing the Audio thereapy page"
Cross sign is appearing at the top-right corner of the Audio thereapy page.
SSOC 2022

[2022-08-28 18:20] myhacktech commented on #346
attach screenshot for explanation

[2022-08-29 01:53] MridulTi opened #347 "Making the Footer Revealable"
I would like to add a reveal/slide-out effect to the footer on all the pages. Reveal effect look something like this
![image](https://user-images.githubusercontent.com/92802892/187107508-e4ee4e16-312e-4292-9841-9ac7ff34577b.png)
![image](https://user-images.githubusercontent.com/92802892/187107536-81e86fed-3932-439b-a4e7-ee2a75f06d33.png)
Right now Footer does not have any kind of effect on it.
![

[2022-08-29 04:08] Surya8991 opened #348 "Make the mail in other therapy pages to Hyperlink"
SSOC 2022 Participant
Converting the mail in footer section from other pages to same as home . So we can send mail by clicking on it.
![image](https://user-images.githubusercontent.com/85568108/187120965-f3f17250-f890-4b2a-abc6-c9dbcdd341dd.png)
![image](https://user-images.githubusercontent.com/85568108/187120972-54673fd3-c0c9-4546-aa01-e68b958b8ed1.png)

[2022-08-29 04:24] MohitNamdev22 opened #349 "Giving transitions on hover to buttons of Aasanas Section on Yoga Page"
The Buttons in Aasanas Section Yoga Page aren't having any transition delay on hover, So can I fix this under SSOC'22?
![image](https://user-images.githubusercontent.com/89779447/187122694-2e5967d8-0268-4e9b-9f87-f213ce37afa3.png)

[2022-08-29 13:34] SahilDahekar commented on #346
i opened the same issue 2 days ago check this out #339

[2022-08-29 13:36] #270 closed

[2022-08-29 16:54] Anubhavgupta14 opened #353 "UI Fix needed in Reading Section"
UI Fix needed in Reading Section
![hyper](https://user-images.githubusercontent.com/97956667/187253416-18e1f13f-3703-4e8f-91d0-dc6956381ad4.jpg)

[2022-08-29 17:52] Anubhavgupta14 opened #354 "UI Improvement needed in Sign-Up page"
UI Improvement needed in Sign-Up page. @Susmita-Dey @vaibhavsharma1234 Please Assign it to me.

[2022-08-30 04:19] myhacktech commented on #346
ok

[2022-08-30 04:20] #346 closed

[2022-08-30 10:13] myhacktech commented on #354
better if u attach screenshot @Anubhavgupta14

[2022-08-31 05:35] Vanshiii203 commented on #353
@myhacktech @Anubhavgupta14
This issue is already been resolved.PR #341

[2022-08-31 05:43] myhacktech commented on #353
@Anubhavgupta14 highlight on screenshot u want to work upon ,as something similar is already created by other participant

[2022-09-01 04:39] AliReza1083 opened #356 "Service Section"
I fixed this issue but RN it is same like the last time.

![image](https://user-images.githubusercontent.com/99729607/187832510-83e9c3da-73b3-442e-843c-9a1d23b3a2fc.png)

[2022-09-01 07:24] imaaquibali commented on #356
@AliReza1083 did your PR merged?

[2022-09-01 07:25] #353 closed

[2022-09-01 07:26] imaaquibali commented on #334
@keerthana054 Can you describe!

[2022-09-01 20:08] Osman-Rasooli opened #357 "Add a Carousel in the Meet our Member section"
- It would be better to add a carousel-slider in the _**About Us**, **Meet our Members**_ section.
- The profile images in the _**About us**_ section are also stretched up, so using object-fit would be a great step.

[2022-09-01 21:55] AliReza1083 commented on #356
Yup, it was merged and we could see the changes inside the website but right now it is like the last one hh

[2022-09-02 13:35] Vignesh2131 opened #358 "Adding a color to Navbar"
When the page is getting scrolled as the navbar is sticky, it is fixed, but the navbar's visibility is getting low while getting to the testimonial section.
So I want to add color to the navbar. So that navbar will be visible
![image](https://user-images.githubusercontent.com/96634914/188157630-970e7440-0650-499b-b136-f9bfb08b30f2.png)

[2022-09-03 06:44] SahilDahekar commented on #358
@myhacktech  @Vignesh2131 this issue is already fixed with a pull request also being made #333

[2022-09-03 07:55] SahilDahekar opened #359 "Making the footer on therapy pages similar to home page."
1. On DIfferent Therapy pages the footer looks different.

- Home Page Footer.
<img width="943" alt="Screenshot 2022-09-03 131733" src="https://user-images.githubusercontent.com/97726887/188261504-3dd4b7ce-50cb-42cc-8c20-2d02093e7d1a.png">

- Audio Therapy Page Footer.
<img width="939" alt="Screenshot 2022-09-03 131805" src="https://user-images.githubusercontent.com/97726887/188261502-6f01c6a7-57f

[2022-09-03 07:56] SahilDahekar commented on #359
I want to work on this issue

[2022-09-03 08:13] Vanshiii203 commented on #359
@SahilDahekar this issue is already assigned to me #344

[2022-09-03 08:46] SahilDahekar opened #361 "Improving the design of the mobile layout navbar menu on home page"
- Want to change the background color on the home page menu.
- Want to improve the hover effect on the links in menu and also change the slide in animation.
- Also i want to create a svg toggling function between hamburger menu and close svg for the menu toggle.
- I think we can remove the home link in navbar on home page its senseless.

- This is how the menu looks and also the hamburger is too b

[2022-09-03 08:46] SahilDahekar commented on #361
I want to work on this issue plz assign it to me

[2022-09-03 12:38] #358 closed

[2022-09-04 15:16] MridulTi opened #363 "Changing Article and Summary of Book Sections to still images rather than Whole Webpage"
###Describe the Issue
On the Reading Therapy page, the articles and Summary of Book Section have embedded web pages to scroll through but it is not quite easily visible
like this-
###Original on Website
![image](https://user-images.githubusercontent.com/92802892/188320622-76ff0278-cfe6-40da-8b1d-9b00d451c19f.png)
I would Like to change these Block of the webpage to Still Images which on hover show

[2022-09-05 14:22] Shivam-Katare opened #365 "Update the landing Page of Sukoon"
We can improve the landing page. Instead of a plain photograph, we can add a video background to it that is relevant to therapy or calmness. This look of the **Sukoon** will look more attractive.

![image](https://user-images.githubusercontent.com/91705825/188470270-d71a211a-dd44-4b4c-8fb7-67d955ab9639.png)

- And I would love to work on this issue.

[2022-09-05 15:08] SahilDahekar commented on #359
okay i will close this issue

[2022-09-05 15:15] Susmita-Dey commented on #365
For me, it looks good by itself.
What video background you have in your mind?
Share the link here.

[2022-09-05 15:47] #359 closed

[2022-09-05 17:45] Shivam-Katare commented on #365
I am currently implementing the design. After completing it, I will share the link here.

[2022-09-07 03:55] #337 closed

[2022-09-07 12:24] Shaba1406 commented on #309
@Susmita-Dey I want to work on this issue please assign me

[2022-09-07 12:49] Susmita-Dey commented on #309
@vedsom Are you still working on this issue?
If not, then I'll assign it to @Shaba1406

[2022-09-07 13:03] vedsom commented on #309
I am working, I just got bussy in acedmics exams that's why I have been late.

[2022-09-07 14:47] SahilDahekar opened #367 "Improving the Responsiveness of the Yoga Therapy Page And Enhancing the design."
- Want to Improve the design of the yoga therapy page.
- Want to Improve the responsiveness of the yoga Therapy page.

What i will be improving :
- Will change the Theme of yoga therapy to this https://coolors.co/palette/ffffff-00171f-003459-007ea7-00a8e8.
- Will be changing the youtube video size on mobile layout.
<img width="307" alt="Screenshot 2022-09-07 210108" src="https://user-images.github

[2022-09-07 16:03] SahilDahekar commented on #367
I want to work on this issue

[2022-09-07 17:45] Susmita-Dey commented on #367
@SahilDahekar Show me the UI color changes after you're done. Go ahead

[2022-09-08 07:51] Anubhavgupta14 commented on #354
![sukoon sign](https://user-images.githubusercontent.com/97956667/189066189-ab0ee5bc-9479-4b8b-8093-fac20d4d19e6.jpg)
I will add the Navbar, Add Animated Background.

[2022-09-08 07:55] Anubhavgupta14 commented on #354
@myhacktech Please Assign it to me.

[2022-09-08 08:46] myhacktech commented on #357
attach sample,or ur work should be up to the mark,,then i will assign to u

[2022-09-08 11:57] SahilDahekar commented on #367
yep

[2022-09-08 13:57] MohitNamdev22 opened #371 "Properly design the navbar of landing page, so that it won't overlap with background content"
The navbar of landing page is overlapping with the background content. So, can I work on it and fix it? Under SSOC'22
![image](https://user-images.githubusercontent.com/89779447/189141118-c3345c78-8ed7-42f9-8c93-816e27819a7d.png)

[2022-09-09 06:12] #339 closed

[2022-09-09 06:22] #282 closed

[2022-09-09 06:35] Susmita-Dey commented on #356
@AliReza1083 Check #352 The issue will be fixed soon. Closing this as duplicate.

[2022-09-09 06:35] #356 closed

[2022-09-09 06:37] Susmita-Dey commented on #357
@Osman-Rasooli Are you a Social Summer of Code participant?

[2022-09-09 06:38] Susmita-Dey commented on #371
@MohitNamdev22 Check #352 This thing will be fixed soon. Closing this as duplicate

[2022-09-09 06:38] #371 closed

[2022-09-09 06:39] Susmita-Dey commented on #334
@keerthana054 Do you want to change the font size and color?

[2022-09-09 07:10] Osman-Rasooli commented on #357
Not actually, I was involved in family business for a while, so I had to
skip programming for a while. Now, I'm back to development.

On Fri, Sep 9, 2022, 11:07 AM Susmita Dey ***@***.***> wrote:

[2022-09-09 11:07] keerthana054 commented on #334
Kind of! Changing it as such that it looks good with the background!

[2022-09-09 12:11] Shivam-Katare commented on #365
I am thinking about this type of video background, Will this look good? I will change the font colors so fonts will look more visible.

https://user-images.githubusercontent.com/91705825/189346169-bc9bbf61-0100-4440-b808-1c0c6074db35.mp4

[2022-09-10 03:49] #343 closed

[2022-09-10 03:51] AliReza1083 commented on #361
It will be amazing.
Wish you all the best.

[2022-09-10 03:53] Susmita-Dey commented on #365
@Shivam-Katare It wil look good but don't you think it will take more time to load the page?

[2022-09-10 03:55] Susmita-Dey commented on #357
@Osman-Rasooli Since you're a not an SSoC participant, I can't assign it to you now as this project under SSoC

[2022-09-10 03:55] #357 closed

[2022-09-10 03:57] Susmita-Dey commented on #334
@keerthana054 Show me after you're done.

[2022-09-10 04:18] Vanshiii203 commented on #84
@Susmita-Dey  Can I work on this issue?

[2022-09-10 07:41] Vanshiii203 opened #373 "Update the Readme"
The logo and the Our services sections need to be updated.
![Screenshot (374)](https://user-images.githubusercontent.com/94471189/189473996-89bcd75c-3859-4e0d-bff0-820644f886bd.png)

[2022-09-10 08:19] imaaquibali commented on #365
@Shivam-Katare did you have any other opinion

[2022-09-10 10:42] Vanshiii203 commented on #348
@Surya8991 @myhacktech Resolved this in #372.

[2022-09-10 10:54] Vanshiii203 opened #375 "Adding list style to the content in yoga therapy"
Adding list style to the content-
![Screenshot (376)](https://user-images.githubusercontent.com/94471189/189479861-663f5008-5ed5-466d-9606-c8d16ae12760.png)

[2022-09-10 11:04] Vanshiii203 opened #376 "Improving the navbar of laughing therapy"
I want to improve the  navbar of laughing therapy page  and make it similar to other pages
On keeping the menu open and making the window full screen we can still see the mobile layout menu.
![Screenshot (377)](https://user-images.githubusercontent.com/94471189/189480398-938c4a1e-57b0-4476-814b-504c204c5601.png)

[2022-09-10 11:18] Shivam-Katare commented on #365
Yeah, you're right. It maybe takes time to load.

[2022-09-10 11:19] Shivam-Katare commented on #365
No, I don't have. If you have, you can share it.

[2022-09-10 12:46] Susmita-Dey commented on #373
@Vanshiii203 Go ahead

[2022-09-10 12:47] Susmita-Dey commented on #376
@Vanshiii203 Go ahead

[2022-09-10 12:48] Susmita-Dey commented on #375
It was fixed by @MohitNamdev22 earlier I guess.

[2022-09-10 12:58] MohitNamdev22 commented on #375
Yes I had worked on it and then after some time there was some issue on the page, due to which it's not visible I guess 🤔

[2022-09-10 13:01] Susmita-Dey commented on #375
@MohitNamdev22 Can you do it again?

[2022-09-10 13:02] #348 closed

[2022-09-10 13:04] Susmita-Dey commented on #84
@dare-devilll Are you still working on this issue? Also, are you an SSoC participant?

[2022-09-10 13:09] #310 closed

[2022-09-10 13:10] #333 closed

[2022-09-10 13:26] MohitNamdev22 commented on #375
Okay @Susmita-Dey

[2022-09-10 13:44] Susmita-Dey commented on #375
Closing this as of duplicate PR. When you'll pushing the same code, kindly write it as duplicate one.

[2022-09-10 13:44] #375 closed

[2022-09-10 17:46] dare-devilll commented on #84
@Susmita-Dey Yes I am SSOC participant, I was thinking of completing this issue at the end of ssoc, because everybody is making changes daily. I structured it once and the next day someone again wrote internal CSS.
Can we wait?

[2022-09-11 06:52] Vanshiii203 opened #380 "Changing the background of navbar of home page"
from->
![Screenshot (382)](https://user-images.githubusercontent.com/94471189/189515848-288b1db0-79e0-419e-ae1b-ed9bb2993021.png)

To->
![Screenshot (380)](https://user-images.githubusercontent.com/94471189/189515860-ae30ea58-3064-413a-a598-9f89025358d9.png)

[2022-09-11 10:30] Vignesh2131 opened #381 "Changing the font family in buttons in About us section"
The font inside the button "Let's connect" has no styling and go remained as sans serif

[2022-09-11 13:49] Susmita-Dey commented on #381
@Vignesh2131 So, you wanna change the font style right?

[2022-09-11 13:51] Vignesh2131 commented on #381
Yeah I want to change the font syle. It is displaying the sans serif at moment. I want to make it to Poppins
![image](https://user-images.githubusercontent.com/96634914/189531139-a2ee1358-0fb8-498b-b8a8-a9aacdc0aef1.png)

[2022-09-11 14:05] Susmita-Dey commented on #380
@imaaquibali @siddhi-244 @myhacktech What do you think about this?

[2022-09-11 14:07] Susmita-Dey commented on #84
@dare-devilll We can wait but you will lose your contribution. What can be done is to do it in the last week of contribution period and in the meanwhile we can stop taking contributions for a day or some hours.

[2022-09-11 14:07] Susmita-Dey commented on #381
@Vignesh2131 Go ahead

[2022-09-11 14:09] dare-devilll commented on #84
Ok.
When is the contribution period ending?

[2022-09-11 14:14] Susmita-Dey commented on #84
@dare-devilll On 1st October

[2022-09-11 14:22] #376 closed

[2022-09-11 14:38] #344 closed

[2022-09-11 14:40] #381 closed

[2022-09-11 14:43] #39 closed

[2022-09-11 15:18] Susmita-Dey opened #383 "Add new videos in Laughing Therapy"
New standup comedy videos to be added:
- https://youtu.be/KKnhgkmV7k8
- https://youtu.be/_9x9zagDbks
- https://youtu.be/L9pA6sZZjeY
- https://youtu.be/MLOp3iQFlXY
- https://youtu.be/AhacYw9dkyE

[2022-09-11 15:21] Vanshiii203 commented on #383
Can I work on this?

[2022-09-11 16:20] Susmita-Dey opened #385 "[FEATURE] Adding a Spiritual Service"
Shall We add a Spiritual service or make a section under Yoga therapy?
What do you think?

[2022-09-11 16:26] Susmita-Dey commented on #383
@Vanshiii203 Go ahead

[2022-09-11 16:28] #373 closed

[2022-09-11 16:50] MohitNamdev22 commented on #385
I think making a separate service section for spirituality will be better 🤔

[2022-09-11 16:51] MohitNamdev22 commented on #385
@Susmita-Dey can I work on this?

[2022-09-11 17:13] #349 closed

[2022-09-11 17:14] #331 closed

[2022-09-11 19:04] myhacktech commented on #380
it is quite difficult to select out of both.... @Susmita-Dey

[2022-09-12 03:05] Susmita-Dey commented on #385
@MohitNamdev22 Let's discuss this first in discord. I'll then assign it to you.

[2022-09-12 03:14] #186 closed

[2022-09-12 03:18] Susmita-Dey commented on #380
@myhacktech Yes, that's why I'm confused whether or not to assign her

[2022-09-12 03:45] Susmita-Dey commented on #336
@MohitNamdev22 Can you fix the "x" in talking therapy?
Just go to the original site, you'll get what I'm asking you to do

![image](https://user-images.githubusercontent.com/79099734/189569987-9d6e0ebf-ac9a-40b0-aee6-52d47e344891.png)

[2022-09-12 03:46] Susmita-Dey commented on #319
@Yash-RajSingh Any updates?

[2022-09-12 03:46] Susmita-Dey commented on #327
@ShivanshAr97 Any updates?

[2022-09-12 03:49] Susmita-Dey commented on #277
@jainss Can you do it?

[2022-09-12 03:50] Susmita-Dey opened #388 "[FEATURE] Addition in About Us Section"
We can add some lines with an image aligned right of the text in **About Us section** and what is our website about a little bit above the `Meet Our Members` part

[2022-09-12 04:08] MohitNamdev22 commented on #336
Yes @Susmita-Dey I can work on it 👍

[2022-09-12 04:10] MohitNamdev22 commented on #385
Yeah, we can arrange a meet and first discuss it👍
And then I'll make a page prototype on Figma  before coding the page.

[2022-09-12 04:56] Susmita-Dey commented on #385
That's a good idea

[2022-09-12 04:57] Susmita-Dey commented on #336
@MohitNamdev22 Change the issue title and go ahead

[2022-09-12 05:35] Susmita-Dey opened #389 "[DOCUMENTATION] GitHub Contribution badge"
Add github contribution badges to display the contributors of te repository in **README** file.

[2022-09-12 06:07] Vanshiii203 commented on #388
I would like to work on this.

[2022-09-12 06:43] Susmita-Dey commented on #388
@Vanshiii203 Go ahead

[2022-09-12 07:19] yvrjprshr opened #391 "There is something wrong with the images in audio therapy page."

[2022-09-12 07:20] yvrjprshr commented on #391
![Sukoon](https://user-images.githubusercontent.com/66880935/189595414-8f0eff2e-5341-4968-948b-336bb793b253.png)

[2022-09-12 07:26] Yash-RajSingh commented on #319
Hey, I'm sorry I forgot to raise a PR since I got busy with my internship. Since I don't know how to use Figma or canva, I've implemented the changes so that you can see the changes yourself

[2022-09-12 07:28] Susmita-Dey commented on #319
@Yash-RajSingh Yes checking.

[2022-09-12 07:32] Susmita-Dey commented on #391
Closing this as spam because everything is working fine.

[2022-09-12 07:34] yvrjprshr commented on #391
okay

[2022-09-12 07:34] #391 closed

[2022-09-12 07:42] Yash-RajSingh opened #392 "Fixing preloader scrollability. [SSOC]"
Due to the current properties of the preloader, Users are able to scoll down and access the site before the preloader disappears. I'd like to fix it such that while the preloader is loading, the users are not able to scroll down.

https://user-images.githubusercontent.com/85413348/189599121-5d28e4c7-38da-4c76-b22c-a69c143bb29a.mp4

[2022-09-12 07:45] Susmita-Dey commented on #392
@Yash-RajSingh Good observation. Go ahead

[2022-09-12 08:28] Yash-RajSingh commented on #392
I've added the fix to the preloader scrollability in the same PR #390 . But if we are to be evaluted on the basis of no fo PRs. should I raise a different PR for the scrollbar fix?

[2022-09-12 09:02] Susmita-Dey commented on #392
@Yash-RajSingh Raise a different PR. Based on your PR numbers, points will be counted.

[2022-09-12 12:59] #43 closed

[2022-09-12 12:59] #47 closed

[2022-09-12 12:59] #49 closed

[2022-09-12 13:00] #51 closed

[2022-09-12 13:00] #54 closed

[2022-09-12 13:00] #63 closed

[2022-09-12 13:00] #64 closed

[2022-09-12 13:01] #93 closed

[2022-09-12 13:01] #170 closed

[2022-09-12 13:01] myhacktech commented on #167
updates ?

[2022-09-12 13:01] #163 closed

[2022-09-12 13:02] #92 closed

[2022-09-12 13:02] #165 closed

[2022-09-12 13:02] #151 closed

[2022-09-12 13:03] #127 closed

[2022-09-12 13:03] #71 closed

[2022-09-12 13:03] #171 closed

[2022-09-12 13:03] #175 closed

[2022-09-12 13:03] #182 closed

[2022-09-12 13:04] #183 closed

[2022-09-12 13:04] #185 closed

[2022-09-12 13:04] #187 closed

[2022-09-12 13:04] #189 closed

[2022-09-12 13:04] #204 closed

[2022-09-12 13:04] #211 closed

[2022-09-12 13:04] #215 closed

[2022-09-12 13:05] #225 closed

[2022-09-12 13:05] #232 closed

[2022-09-12 13:05] #234 closed

[2022-09-12 13:05] #250 closed

[2022-09-12 13:06] myhacktech commented on #263
any updates @AliReza1083 ???

[2022-09-12 13:06] #267 closed

[2022-09-12 13:06] #269 closed

[2022-09-12 13:07] #275 closed

[2022-09-12 13:08] #289 closed

[2022-09-12 13:09] myhacktech commented on #294
updates @Vanshiii203

[2022-09-12 13:14] myhacktech commented on #299
are u interested to work on this @MridulTi ,reply or i will have to close issue

[2022-09-12 13:20] #167 closed

[2022-09-12 13:21] #294 closed

[2022-09-12 13:39] MridulTi commented on #299
I am Interested in working on it but I would need some time for it as it is a whole page I have to work on

[2022-09-12 13:46] jainss commented on #277
no i am not did it

[2022-09-12 13:47] jainss commented on #277
actually i'm busy in the collage placement so there is time issue you assign this to anyone

[2022-09-12 14:06] Yash-RajSingh commented on #392
Okay thanks!

[2022-09-12 14:35] Yash-RajSingh commented on #392
I've raised two different PRs for the two issues that I've worked on. Kindly review them.

[2022-09-12 16:14] Vignesh2131 opened #396 "Remove the cross symbol in navbar in Talking therapy section"
In the navbar, there is a float cross symbol making it untidy. I want to remove it.

![image](https://user-images.githubusercontent.com/96634914/189704185-ad3f47e8-fcbc-4066-8593-ad58a738a398.png)

[2022-09-12 16:19] Vignesh2131 commented on #396
Looks like it has fixed. Please close this issue.

[2022-09-13 05:42] #396 closed

[2022-09-13 05:43] Susmita-Dey commented on #277
Okay

[2022-09-13 05:47] #319 closed

[2022-09-13 12:33] #383 closed

[2022-09-13 15:02] #345 closed

[2022-09-13 16:06] Vanshiii203 opened #397 "fixing navbar of talking therapy page"
![Screenshot (388)](https://user-images.githubusercontent.com/94471189/189950772-b597bc4f-3ef5-4748-8cf7-ea7e0801b4dd.png)
![Screenshot (389)](https://user-images.githubusercontent.com/94471189/189950995-65e11815-8760-4bad-bf30-5e1962487994.png)

[2022-09-13 16:21] Susmita-Dey commented on #397
@Vanshiii203 Go ahead

[2022-09-13 16:22] Susmita-Dey commented on #397
@Vanshiii203 @MohitNamdev22 is working on removing the "x" part. Wait for him to create a PR first then you can create yours

[2022-09-14 04:20] Vanshiii203 commented on #397
Okay

[2022-09-15 14:49] YasirObaibullah99 commented on #389
I can add badges in the Readme file

[2022-09-15 14:56] Susmita-Dey commented on #389
@YasirObaibullah99 Go ahead

[2022-09-16 16:45] Susmita-Dey commented on #389
no, it's looking good

[2022-09-16 18:25] YasirObaibullah99 commented on #389
https://github.com/Susmita-Dey/Sukoon/pull/400 do review this one

[2022-09-17 05:01] Vanshiii203 opened #402 "Making the audio books open in new tab"
https://user-images.githubusercontent.com/94471189/190841294-ef4f2f1f-6bcd-4643-aab3-0f9e52831dc7.mp4

[2022-09-17 07:25] Susmita-Dey commented on #402
@Vanshiii203 good idea. go ahead

[2022-09-17 07:27] #389 closed

[2022-09-17 08:36] Vanshiii203 opened #405 "making font family of all headings on home page similar"
making the font family of other headings similar to about us

https://user-images.githubusercontent.com/94471189/190847960-d75d6414-e11d-45f6-a2c4-9b02dc37f2e5.mp4

[2022-09-17 15:32] myhacktech commented on #405
#405

[2022-09-17 15:33] myhacktech commented on #405
i think its ok,but still we expect PR to be better than present interface @Vanshiii203

[2022-09-17 15:36] Susmita-Dey opened #406 "[FEATURE] Adding a Child Therapy Page"
This page will contain various images or jokes or videos of a small baby that could release stress by watching them.

[2022-09-17 15:37] Vanshiii203 commented on #406
I would like to work on this

[2022-09-17 15:37] Susmita-Dey commented on #385
@MohitNamdev22 Go ahead

[2022-09-17 15:38] Susmita-Dey commented on #406
@Vanshiii203 Go ahead

[2022-09-17 15:41] #388 closed

[2022-09-17 16:04] SahilDahekar opened #407 "Implementing a custom scroll bar on all pages."
- Would like to improve a custom scroll bar on all the pages in the project.
- Also the scroll bar on home page need to be matched with the theme of the home page its not matching.

[2022-09-17 16:04] SahilDahekar commented on #407
@Susmita-Dey @myhacktech plz assign me this issue.

[2022-09-17 16:06] yvrjprshr commented on #277
Hey! I want to work on this issue.
Kindly assign me!

[2022-09-17 16:08] Susmita-Dey commented on #407
@SahilDahekar Go ahead

[2022-09-17 16:12] Susmita-Dey commented on #277
@yvrjprshr I have removed Shayan Pal recently from my project.  So, what you can do is add a line like this:
![image](https://user-images.githubusercontent.com/79099734/190866183-217ad015-358b-4f23-80fd-17893cfa396b.png)

Tell me if you can do it or not

[2022-09-17 16:13] #402 closed

[2022-09-17 16:17] SahilDahekar opened #408 "Adding new services section on the home page."
- Want to add cards of the new services like child and spritual service cards in the services section.

[2022-09-17 16:17] SahilDahekar commented on #408
want to work on this issue plz assign it to me. @Susmita-Dey @myhacktech

[2022-09-17 16:19] Vanshiii203 opened #409 "Improving the testimonial section"

[2022-09-17 16:19] yvrjprshr commented on #277
Can you explain me in brief
what line do you want to be added ?
Where do you want it to be added ?

By the was this issue is about fixing images in about section which is not looking good due to streching. Isn't it ?

[2022-09-17 16:20] SahilDahekar opened #410 "Make the about us section on home page responsive"
- Responsiveness of the about us section is not good.
- The spacing between lines is not consistent.

<img width="602" alt="Screenshot 2022-09-17 214911" src="https://user-images.githubusercontent.com/97726887/190866533-e4788e8d-29f7-49e5-9ee3-0c23f0e68b3f.png">
<img width="943" alt="Screenshot 2022-09-17 214936" src="https://user-images.githubusercontent.com/97726887/190866537-d4c97f17-27df-4030-

[2022-09-17 16:21] SahilDahekar commented on #410
plz assign me this issue @Susmita-Dey @myhacktech

[2022-09-17 16:32] SahilDahekar opened #411 "Improving the responsiveness of the laughing therapy page."
- The are clashing into one another on the laughing therapy videos section.
- The about part on laughing therapy page needs improvement in responsiveness.
- The top of the header has padding which can be seen through navbar and the padding is irrelevent.
- The menu is shifted towards left when u open it.
- The hover one video causes other to disappear.
- There is sidescrolling on the page.
- Can i

[2022-09-17 16:32] SahilDahekar commented on #411
want to work on this issue @Susmita-Dey @myhacktech

[2022-09-17 16:37] SahilDahekar opened #412 "Improving the responsiveness on the login pages"
- The login and sign up image is clashing the form content.
- The placement of the sign up section need improvement.
- Needs a link back to home on both sign up and login page.

<img width="460" alt="Screenshot 2022-09-17 220645" src="https://user-images.githubusercontent.com/97726887/190867219-1b496085-3f29-46e8-9d4e-a1c1bf037d46.png">
<img width="563" alt="Screenshot 2022-09-17 220626" src="http

[2022-09-17 16:37] SahilDahekar commented on #412
plz assign me this issue @Susmita-Dey @myhacktech

[2022-09-17 16:37] Vanshiii203 opened #413 "Adding two more audio books to audio therapy"
-  https://www.audible.in/pd/The-Monk-Who-Sold-His-Ferrari-Audiobook/B072MR2L6V?qid=1663432045&sr=1-2&ref=a_search_c3_lProduct_1_2&pf_rd_p=2d02bc98-4366-4f94-99d9-5e898cda0766&pf_rd_r=PBF08GY7EPN53D1K48CC

- https://www.audible.in/pd/Good-Vibes-Good-Life-Audiobook/1788174992?qid=1663432525&sr=1-1&ref=a_search_c3_lProduct_1_1&pf_rd_p=2d02bc98-4366-4f94-99d9-5e898cda0766&pf_rd_r=PFHFS2XZPZE9CNS18WVB

[2022-09-17 16:42] Vanshiii203 commented on #380
@Susmita-Dey Should I work on this?

[2022-09-18 02:18] MohitNamdev22 commented on #385
Sure @Susmita-Dey 👍

[2022-09-18 03:37] Vanshiii203 opened #414 "Adding the new services in FAQ section"
![Screenshot_20220918-090655~2](https://user-images.githubusercontent.com/94471189/190884615-6af039dd-b8bd-4c91-9819-aace668a8328.jpg)

[2022-09-18 05:50] Vanshiii203 commented on #277
@Susmita-Dey Can I work on this??
I will also align the Let's connect button
![Screenshot (396)](https://user-images.githubusercontent.com/94471189/190887796-8193985c-141f-4d41-a23d-d4c170bcae5c.png)

[2022-09-18 06:55] Susmita-Dey commented on #408
@SahilDahekar go ahead

[2022-09-18 06:55] Susmita-Dey commented on #409
@Vanshiii203 What do you want to improve?

[2022-09-18 10:33] Vanshiii203 commented on #409
As discussed in yesterday's meeting, we can write the actual reviews of the contributors and add their images, and a carousel can be added, displaying 3 reviews in a single slide.
Something like this-
![Screenshot_20220918-160240~2](https://user-images.githubusercontent.com/94471189/190897763-3f2c4057-081b-4509-a2a1-7a45c1fc0006.jpg)

[2022-09-19 11:21] Susmita-Dey commented on #409
@Vanshiii203 First we have take reviews from others for that I think.

[2022-09-19 11:21] Susmita-Dey commented on #413
@Vanshiii203 Go ahead

[2022-09-19 12:37] Vanshiii203 commented on #409
Yes we can take that on discord and then I can add them to the website

[2022-09-19 14:36] Eknoor02 opened #417 "Adding the Current page name in the title"

[2022-09-19 14:41] Eknoor02 opened #418 "Changing the font color on the yoga page"
![Screenshot (187)](https://user-images.githubusercontent.com/65605024/191044374-a621c535-067b-46b5-a838-e55c3d6eb508.png)

[2022-09-19 14:41] Eknoor02 opened #419 "Adding animations on the yoga page"
![Screenshot (188)](https://user-images.githubusercontent.com/65605024/191044541-4c98bb71-44bc-49c5-950c-88cfcf3abaf7.png)

[2022-09-20 14:49] Anubhavgupta14 opened #422 "Will Add Moving Animation in all div of "Meet our Members" and "Our Services""
Will Add Animation on Scroll in all div of "Meet our Members" and "Our Services"

[2022-09-20 14:49] Anubhavgupta14 commented on #422
@myhacktech @Susmita-Dey Please Assign it to me.

[2022-09-20 14:50] #354 closed

[2022-09-20 14:57] Anubhavgupta14 opened #423 "I will add Pre-Loader in all Pages."
I will add Pre-Loader in all Pages. Except main page.
Example:-
![Spin-Preloader-1](https://user-images.githubusercontent.com/97956667/191292421-a0223fef-efdc-4898-8b7e-e39489a00205.gif)

[2022-09-20 14:58] Anubhavgupta14 commented on #423
@Susmita-Dey @myhacktech Please Assign it to me.

[2022-09-20 19:58] Aniket1026 opened #424 "Let's Explore button position change"
### BUTTON POSITION
* Let's explore button on each card is not placed properly
* Placing the button towards bottom will make the user experience better

![Screenshot (110)](https://user-images.githubusercontent.com/92184189/191351973-e67065f0-6317-43db-b6b4-d5cffd701973.png)

As the screen size decreases the user experience becomes less and less attractive. As shown below

<img width="560" alt="Ha

[2022-09-20 20:27] Anubhavgupta14 commented on #367
@SahilDahekar  I want to work for this issue, as it is open since last 13 days. If you allow.

[2022-09-21 06:03] NageshMandal commented on #424
I want to work on this issue. Could you please assign it to me.

[2022-09-21 06:15] NageshMandal opened #426 "Need Some Enhancement In LogIn/SignUp Page"
![21 09 2022_11 36 28_REC](https://user-images.githubusercontent.com/106006006/191428026-c12d1e5f-b68d-49b0-bd16-96b8534357c6.png)

[2022-09-21 06:16] NageshMandal commented on #426
I want to work on this issue. Could you please assign it to me.

[2022-09-21 06:28] Susmita-Dey commented on #417
@Eknoor02 Share the ss before working

[2022-09-21 08:09] Susmita-Dey commented on #409
@Vanshiii203 I'm collecting data using the google form. I'll share it with you so that you can add them to the website.

[2022-09-21 08:10] Susmita-Dey commented on #426
@NageshMandal Are you an SSoC contributor?

[2022-09-21 08:11] Susmita-Dey commented on #424
@Aniket1026 Are you an SSoC contributor?

[2022-09-21 08:21] Susmita-Dey opened #427 "[FEATURE] Meme API"
Use a good Memes API in the laughing therapy page instead of these dummy images.
![image](https://user-images.githubusercontent.com/79099734/191453398-95e8b800-98b2-4e5b-9439-451aa9a9ed1a.png)

[2022-09-21 08:22] Yash-RajSingh commented on #427
I can take up this issue. Please assign this to me.

[2022-09-21 08:48] NageshMandal commented on #426
Yes I am a SSoC contributor
Want To Add Sukoon Logo In Login/Signup Section
Show/Hide Password In Login/Signup Section

[2022-09-21 09:05] NageshMandal commented on #424
yes

[2022-09-21 09:19] chakradhar4 commented on #427
I can take this issue i have good options available please assign this to me

[2022-09-21 12:28] Susmita-Dey commented on #427
@chakradhar4 @Yash-RajSingh First tell me what APIs you have in your mind?

[2022-09-21 12:35] Yash-RajSingh commented on #427
I was thinking about going with either a custom meme api by D3vd:- https://github.com/D3vd/Meme_Api
Or using the imgflip api

[2022-09-21 13:22] #278 closed

[2022-09-21 14:12] Aniket1026 commented on #424
@Susmita-Dey I want to contribute in this for the hacktoberfest .

[2022-09-22 04:43] ShravaniAK commented on #424
i want to work on this issue

[2022-09-22 06:13] Susmita-Dey commented on #424
@Aniket1026 This project is not under hacktoberfest.

[2022-09-22 06:21] ShravaniAK commented on #424
I will correct the button position and the all 3 look similar and more attractive

[2022-09-22 06:31] ShravaniAK commented on #414
i can add the new section in the faq if u provide me the data

[2022-09-22 06:42] Susmita-Dey commented on #426
@NageshMandal Go ahead

[2022-09-22 06:47] Susmita-Dey opened #431 "Arrange 2 files"
Arrange these two files inside a folder named `docs`
![image](https://user-images.githubusercontent.com/79099734/191676987-ca2859f6-a841-4f8c-96f9-0853d6532be8.png)

Task to perform:
- Create a new folder called `docs`
- Cut the two files and paste into `docs`

[2022-09-22 06:55] ShravaniAK commented on #431
i can work on this

[2022-09-22 06:56] ShravaniAK commented on #431
please assign me

[2022-09-22 06:58] Susmita-Dey commented on #431
@ShravaniAK Go ahead

[2022-09-22 07:12] #347 closed

[2022-09-22 07:22] ShravaniAK commented on #380
can i work on this ?

[2022-09-22 07:25] Susmita-Dey commented on #380
Closing this as not needed

[2022-09-22 07:25] #380 closed

[2022-09-22 07:28] #431 closed

[2022-09-22 07:29] Susmita-Dey commented on #427
@Yash-RajSingh Go ahead.
If you fail, then I'll assign it to @chakradhar4

[2022-09-22 07:35] ShravaniAK opened #433 "Make the about us section mobile responsive"
<img width="1440" alt="Screenshot 2022-09-22 at 1 03 28 PM" src="https://user-images.githubusercontent.com/97099574/191686074-adb21187-18ea-4dba-a27a-3ff224529342.png">
   align all the text to the centre.

[2022-09-22 07:36] Shivam-Katare opened #434 "Enhance the FAQ Section"
We can enhance the FAQ section with some smooth animations and icons.

Example 👇

https://user-images.githubusercontent.com/91705825/191686332-777283cc-2299-46f7-abb4-357ac17c4bd5.mp4

[2022-09-22 07:37] Susmita-Dey commented on #433
Good observation. Go ahead

[2022-09-22 07:40] Susmita-Dey commented on #434
It's a good idea.

[2022-09-22 07:54] #336 closed

[2022-09-22 08:09] #422 closed

[2022-09-22 10:54] Akayush-17 opened #436 "Adding animation to Testimonial section"
Making testimonial card more interactive with background shadow and animation effect when mouse placed on it

[2022-09-22 11:03] Stk-79 opened #437 "Changing the Border display of the cards."
On hovering :

![Screenshot (66)](https://user-images.githubusercontent.com/102925712/191729094-3a2e6ce9-bbed-4a03-825b-dad997abda3f.png)

Display Can be changed.

[2022-09-22 11:18] ShravaniAK opened #438 "yoga therapy is not mobile responsive."
<img width="1440" alt="Screenshot 2022-09-22 at 4 47 46 PM" src="https://user-images.githubusercontent.com/97099574/191733332-56888787-9369-4b1a-b23c-88a2049b1302.png">

[2022-09-22 11:21] ShravaniAK opened #439 "in laughter therapy the image is not loading and is overflowing"
<img width="1440" alt="Screenshot 2022-09-22 at 4 50 26 PM" src="https://user-images.githubusercontent.com/97099574/191733840-e9587e46-9dd6-482a-9c4c-70df9ded2a9c.png">

[2022-09-22 11:23] ShravaniAK opened #440 "put a backgroung image in laughter therapy."
<img width="1440" alt="Screenshot 2022-09-22 at 4 52 42 PM" src="https://user-images.githubusercontent.com/97099574/191734160-a2ddb226-fbce-49e5-b35a-dffbe7500461.png">

[2022-09-22 11:34] Stk-79 opened #441 "Color of the Paragraph in Home can be changed."
![Screenshot (67)](https://user-images.githubusercontent.com/102925712/191735910-bd27f253-64ff-448e-8a2f-30600d5dc64e.png)

[2022-09-22 12:10] Stk-79 opened #442 "Adding three new music to Audio Therapy."
https://open.spotify.com/track/7yhTiIqqQ2h4ZYnr2Hon6T?si=8b5dffb3e1954ce8

https://open.spotify.com/track/5ttepvppLr7vddWf07n3JH?si=95f6b5c5257b4f34

https://open.spotify.com/track/6RoHNiqVxig3TGzLp1aieF?si=a70c594603ef4aaa

[2022-09-22 12:42] myhacktech commented on #436
@Akayush-17 add image also,otherwise ur pr will not be considered

[2022-09-22 13:42] Anubhavgupta14 opened #444 "I will add Back to top button in other sub-pages."
I will add Back to top button in other sub-pages.
@myhacktech Kindly Assign it to me

[2022-09-22 14:27] Akayush-17 commented on #436
testimonials already has an image

[2022-09-22 14:49] #440 closed

[2022-09-22 15:45] Akayush-17 opened #447 "Adding typewriter effect to "Welcome to SUKOON" text on home page landing"
type writing effect as the website loads it will be eye catchy

[2022-09-22 18:58] itsmdasifraza opened #450 "Implement animation library to the app using AOS"
Main purpose of implementing animation is to make the app more attractive, checkout [official documentation](https://michalsnik.github.io/aos/)!

![Screenshot (160)](https://user-images.githubusercontent.com/58258334/192100546-81a7f05b-f2ec-4208-9282-993498d66664.png)

merge from #478

[2022-09-22 19:31] itsmdasifraza opened #451 "Enhance reading therapy with real time news using 'News API'"
News will be fetched using vanilla JavaScript from [News API](https://newsapi.org/) and will be shown on a reading therapy page.

![Screenshot (146)](https://user-images.githubusercontent.com/58258334/191834386-4f867a0c-fd91-40b4-8636-93cc376cc19e.png)

[2022-09-22 19:39] itsmdasifraza opened #452 "Missing pre loader on most of the Services pages"
Pages without pre loader are mentioned below:
1. <https://sukoon-stress-free.netlify.app/html/audiotherapy>
2. <https://sukoon-stress-free.netlify.app/html/readingtherapy>
3. <https://sukoon-stress-free.netlify.app/html/yogatherapy.html>
4. <https://sukoon-stress-free.netlify.app/html/laughtherapy>

[2022-09-23 04:44] myhacktech commented on #450
please explain properly

[2022-09-23 04:58] Susmita-Dey commented on #447
@Akayush-17 Before making PR, share the ss here or in discord.

[2022-09-23 05:19] ShivanshAr97 opened #454 "Matching font size and font weight on the landing page."
Some sections of the landing pages have different font sizes and font weight. I would like to maintain the consistency for this.

Images:
![image](https://user-images.githubusercontent.com/96040322/191896275-e3c6e75e-998e-497c-8051-a18b1651aa46.png)
![image](https://user-images.githubusercontent.com/96040322/191896294-d3dd8002-25c5-4814-8e45-77262a1dcc91.png)
![image](https://user-images.githubuse

[2022-09-23 05:21] ShivanshAr97 commented on #454
Please assign

[2022-09-23 05:25] ShivanshAr97 opened #455 "Adding "to the top button" on other service pages."
I would like to add the "to the top button" on the other services page like talking, ready, audio, yoga therapy.

Images:
![image](https://user-images.githubusercontent.com/96040322/191896804-5ea80e1f-678a-420e-8ccc-8a1ca1772f3d.png)

[2022-09-23 05:28] ShivanshAr97 commented on #455
Please assign

[2022-09-23 05:30] ShivanshAr97 opened #456 "Adding title tags on various therapy pages"
I would like to add title tags on the therapy pages like **Sukoon - Yoga Therapy** on the yoga therapy page and so on on other pages as well.

Images:
![image](https://user-images.githubusercontent.com/96040322/191897235-9f16e982-d75a-40c0-acb9-6720f0c44934.png)
.

[2022-09-23 05:35] ShivanshAr97 opened #457 "Hamburger icon not visible on Talking therapy page"
Hamburger icon is not visible in the mobile layout form in the navbar of talking therapy page

Image:
![image](https://user-images.githubusercontent.com/96040322/191897646-5629d921-14b0-46f3-8251-8de0f8627f09.png)

[2022-09-23 05:54] ShivanshAr97 commented on #456
Please assign

[2022-09-23 05:54] MohitNamdev22 commented on #385
@Susmita-Dey I have designed the website on Figma, please check the prototype & kindly give your suggestions

https://www.figma.com/file/4NbMFn3bG3cp8yClnPWwTg/Spirituality-Page---Sukoon?node-id=0%3A1

[2022-09-23 05:54] ShivanshAr97 commented on #457
Please assign

[2022-09-23 05:56] ShivanshAr97 opened #458 "Making signup page responsive"
I would like to make the signup page responsive

Image:
![image](https://user-images.githubusercontent.com/96040322/191898589-0447e0ee-ee2d-4922-9314-edee98b33259.png)

[2022-09-23 05:56] ShivanshAr97 commented on #458
Please assign

[2022-09-23 06:01] ShivanshAr97 opened #459 "Optimising site to be PWA again"
Some contributor has removed the links in the HTML file which are necessary to make a PWA. I would like to add them again to make it PWA.

[2022-09-23 06:16] Shivam-Katare opened #460 "Add 3d books to the Reading Therapy's books section"
Will, it looks good if we add 3D books instead of plain images, with some animations?

### Like this 👇

![Screenshot (25)](https://user-images.githubusercontent.com/91705825/191901365-57569546-8734-491b-9afc-5b2c941258f1.png)
![Screenshot (26)](https://user-images.githubusercontent.com/91705825/191901369-8644535b-f531-4b91-bead-f0980e51f558.png)
![Screenshot (27)](https://user-images.githubusercon

[2022-09-23 06:18] ShivanshAr97 commented on #407
@Susmita-Dey https://github.com/Susmita-Dey/Sukoon/issues/275 same issue was closed before as duplicate 😢

[2022-09-23 06:20] ShivanshAr97 commented on #459
Please assign

[2022-09-23 06:22] ShivanshAr97 opened #461 "Improving reading therapy navbar"
I would like to improve reading therapy navbar by adding some margin, padding and transitions so that it looks better.

Image:
![image](https://user-images.githubusercontent.com/96040322/191901016-fdaa6e65-34d7-4e93-9699-28adc56e0841.png)

[2022-09-23 06:25] ShivanshAr97 opened #462 "Improving UI of asanas in yoga therapy page"
Asana section looks dull. I would like to improve its design.

Image:
![image](https://user-images.githubusercontent.com/96040322/191902991-27eeaa54-70d6-4c88-81cb-ff08d166bcea.png)

[2022-09-23 06:45] Susmita-Dey commented on #460
How would you add them?
in the form of image?

[2022-09-23 06:51] Shivam-Katare commented on #460
No, I will remove these images and div, and instead of these, I will make those 3d books by using HTML and CSS with the hover effect.

![Screenshot (28)](https://user-images.githubusercontent.com/91705825/191905939-9c56227e-6a53-4e2f-849b-46978f85b3ca.jpg)

[2022-09-23 06:52] ShivanshAr97 opened #463 "Adding smooth scroll in laughing therapy section"
I would like to add smooth scroll in laughing therapy section so that when a user clicks on links in navbar, it transits smoothly to that section.

Image:
![image](https://user-images.githubusercontent.com/96040322/191903656-544ff1ae-798a-4ea0-bf5e-70b9eb833a98.png)

[2022-09-23 06:55] Susmita-Dey commented on #460
Sounds interesting

[2022-09-23 06:56] Susmita-Dey commented on #460
@Shivam-Katare Go ahead

[2022-09-23 06:56] ShivanshAr97 opened #464 "JavaScript error in index.js file"
Image:
![image](https://user-images.githubusercontent.com/96040322/191906887-512f845c-01f1-484e-b986-6f269b24db77.png)

[2022-09-23 06:57] ShivanshAr97 commented on #464
Please assign

[2022-09-23 06:57] ShivanshAr97 commented on #463
Please assign

[2022-09-23 06:58] ShivanshAr97 commented on #462
Please assign

[2022-09-23 06:58] ShivanshAr97 commented on #461
Please assign

[2022-09-23 07:09] Susmita-Dey commented on #462
A PR Is already there for yoga therapy UI. You have to wait to get assigned with this issue.

[2022-09-23 07:52] Eknoor02 opened #465 "Adding animation to the blogs and the video sections of the talking thereapy page"
![Screenshot (199)](https://user-images.githubusercontent.com/65605024/191914917-036e16c9-2b95-4965-a951-cb0afb3920e2.png)

[2022-09-23 08:01] Eknoor02 opened #466 "Adding transition to the text on the about section"
![Screenshot (200)](https://user-images.githubusercontent.com/65605024/191916506-4185efae-f86a-4d73-972f-05fd6bc61abf.png)

[2022-09-23 08:03] Eknoor02 opened #467 "Adding the moving text on the laughing thereapy page"
![Screenshot (201)](https://user-images.githubusercontent.com/65605024/191916883-ed644c5e-e55d-4c4a-8cf5-d87bdb78ada5.png)

[2022-09-23 09:41] itsmdasifraza commented on #450
I will add animation on elements like translate, scale and transform to move the elements
ex: fadeIn, fadeOut

[2022-09-23 10:08] Vanshiii203 commented on #457
Fixed this in #415

[2022-09-23 10:09] Vanshiii203 commented on #454
Fixed this in #449

[2022-09-23 10:11] Susmita-Dey commented on #457
@ShivanshAr97 It's a duplicate issue

[2022-09-23 10:12] #457 closed

[2022-09-23 10:12] Susmita-Dey commented on #454
@ShivanshAr97 duplicate issue

[2022-09-23 11:09] #442 closed

[2022-09-23 11:12] Stk-79 commented on #442
Closing this issue as playlists are already  present perfectly.

[2022-09-23 13:22] #418 closed

[2022-09-23 13:23] #419 closed

[2022-09-23 14:15] #222 closed

[2022-09-23 15:03] Shivam-Katare commented on #460
Hey, @Susmita-Dey I have implemented the 3D books. Is this look good?

### Preview

![Screenshot (34)](https://user-images.githubusercontent.com/91705825/191990793-013308ba-ee23-4154-94d5-911b364a65b5.png)

![Screenshot (33)](https://user-images.githubusercontent.com/91705825/191990859-a598f9be-0d35-4222-820d-914cd0aaab58.png)

But since there are some issues with raising the "PR" for this one, co

[2022-09-24 03:36] Vanshiii203 opened #475 "Fixing the alignment of lets explore button"
![Screenshot (402)](https://user-images.githubusercontent.com/94471189/192078422-e8818134-ee5b-448d-a4b2-260c2499d802.png)

[2022-09-24 13:33] Akayush-17 commented on #447
![Screenshot 2022-09-24 185353](https://user-images.githubusercontent.com/94730528/192100795-ffa68846-c351-41f9-84e5-d841e002fde2.png)
![Screenshot 2022-09-24 185504](https://user-images.githubusercontent.com/94730528/192100827-382127e0-dc8a-43a9-8c28-601545951798.png)
@Susmita-Dey @myhacktech please review it

[2022-09-24 13:41] Akayush-17 opened #480 "adding sliding image to yoga page header section"
![Screenshot 2022-09-24 190845](https://user-images.githubusercontent.com/94730528/192101158-ab972f92-ee88-4de3-a78f-7e78a8e2bf92.png)

adding more pictures would make page more engaging

[2022-09-24 14:39] #361 closed

[2022-09-24 16:39] Vanshiii203 opened #483 "Adding the new services to footer"
![Screenshot (405)](https://user-images.githubusercontent.com/94471189/192109164-8ecedd11-35cb-40ce-ad5b-d74f999fdcfc.png)

[2022-09-24 16:50] ShravaniAK commented on #458
please assign

[2022-09-24 17:09] #414 closed

[2022-09-24 17:29] MohitNamdev22 opened #484 "Font size of Navbar in Laughing Therapy page is small"
The font size of the elements on the laughing therapy page's navbar is too small compared to the landing page content. Can I work on this issue under SSOC'22?

![image](https://user-images.githubusercontent.com/89779447/192111094-6d0c3fe8-aa3b-45b4-b027-5be2559103ab.png)

[2022-09-24 17:33] #405 closed

[2022-09-24 17:35] #413 closed

[2022-09-24 17:44] #437 closed

[2022-09-24 17:45] Susmita-Dey commented on #458
@ShivanshAr97 Go ahead

[2022-09-24 17:45] Susmita-Dey commented on #458
@ShravaniAK If he fails within 2 days, then you can take up the issue.

[2022-09-24 17:46] Susmita-Dey commented on #484
@MohitNamdev22 I guess it's already fixed.

[2022-09-24 17:48] MohitNamdev22 commented on #484
@Susmita-Dey But on the latest deployment, changes aren't visible 🤔

[2022-09-24 17:49] Susmita-Dey commented on #484
https://sukoon-stress-free.netlify.app/html/laughtherapy

[2022-09-24 17:50] Susmita-Dey commented on #484
@MohitNamdev22 Go ahead

[2022-09-24 17:51] Susmita-Dey commented on #483
@Vanshiii203 Go ahead

[2022-09-24 18:21] #475 closed

[2022-09-24 18:45] bhattabhi013 opened #485 "Suggestion: Add "how to start contributing section" for new contributors."
What:
This is a suggestion to add a section "how to start contributing section" for the new contributors.

[2022-09-24 18:53] #397 closed

[2022-09-24 18:57] bhattabhi013 opened #486 "Placement of back button at 'Contact Us' page"
What:
The placement of the back button on the 'Contact Us' page is incorrect.
I suggest using a cross (x) button for going back or placing the button with alignment to the 'Submit' button.

Image:
<img width="465" alt="image" src="https://user-images.githubusercontent.com/47862474/192114214-e9a85c55-0fec-488f-b107-190ce5e07255.png">

How to replicate:
1. Open the application.
2. Go to the 'Contact

[2022-09-24 18:58] bhattabhi013 commented on #486
Please assign this issue to me.

[2022-09-24 19:02] Kirankp25 opened #487 "To Remove repeated/unwanted Testimonials"
I would like to contribute to this project to make it more genuine and professional. Here in Testimonial, section two same testimonials are in conflict which creates the wrong message in the user's mind. I want to change it.Pls assign me these issue
![Screenshot (276)](https://user-images.githubusercontent.com/87818185/192114287-9e01d5f4-1e02-4144-8ce9-19c27c5d088b.png)

[2022-09-24 19:05] Susmita-Dey commented on #487
@Kirankp25 duplicate issue.

[2022-09-24 19:05] #487 closed

[2022-09-24 19:06] Susmita-Dey commented on #486
@bhattabhi013 To me it looks good.

[2022-09-24 19:06] #486 closed

[2022-09-24 19:06] bhattabhi013 opened #488 "Making contributing.md more readable"
What:
Every point listed should start from a new line to make it more readable.

Image:
<img width="900" alt="image" src="https://user-images.githubusercontent.com/47862474/192114469-62f501c4-eb5f-4822-a28a-859b3f96ae4f.png">

[2022-09-24 19:07] Susmita-Dey commented on #488
@bhattabhi013 Are you an SSoC contributor?

[2022-09-24 19:09] bhattabhi013 commented on #488
Yes, earlier I was working on some other Flutter project.

[2022-09-24 19:11] #450 closed

[2022-09-24 19:11] Kirankp25 commented on #487
ok, but i didn't see these changes on site

[2022-09-24 19:11] Susmita-Dey commented on #488
@bhattabhi013 Go ahead

[2022-09-24 19:12] Susmita-Dey commented on #485
@bhattabhi013 Go ahead

[2022-09-24 19:36] #434 closed

[2022-09-24 19:37] Kirankp25 opened #490 "To Add audiobooks (at vacant space)"
I would like to add some more audiobooks to the vacant space on our site to provide more sources. Pls, assign me this issue.
![Screenshot (277)](https://user-images.githubusercontent.com/87818185/192115455-98cae0d6-167c-45ee-b719-9428015b52e3.png)

[2022-09-24 19:39] Susmita-Dey commented on #490
Add good ones. Go ahead

[2022-09-24 19:44] Kirankp25 commented on #490
Thank you, I will add the best one.

[2022-09-24 19:46] Stk-79 opened #491 "Arranging the Heading & buttons for Audiobooks."
'Play Now' Button is not properly placed.

![Screenshot (72)](https://user-images.githubusercontent.com/102925712/192115592-29a803c1-6277-49b0-80cd-c4df5357e818.png)
![Screenshot (73)](https://user-images.githubusercontent.com/102925712/192115595-1e423fab-2b71-41fd-a90c-9fb7a315c5b4.png)

[2022-09-24 20:50] bhattabhi013 opened #493 "Making text more readable on 'Yoga Therapy' page."
What:
It is difficult to read the text on the 'Yoga Therapy' page.

Images:
<img width="503" alt="image" src="https://user-images.githubusercontent.com/47862474/192118201-65e49402-6dff-430e-9128-1e7cd9ad98e8.png">

How to replicate:
1. Run the application.
2. Go to the 'Yoga therapy' page.
3. See the sub-title on the page.

[2022-09-24 21:09] bhattabhi013 opened #494 "Bug: Videos not properly aligned/ different sizes on 'yoga therapy' page."
What:
Different sizes of the recommended videos on the 'yoga therapy' page.

Image:
<img width="647" alt="image" src="https://user-images.githubusercontent.com/47862474/192118807-08514525-8d10-4dcd-9fc6-73669ab273f4.png">

How to replicate:

1. Run the application.
2. Go to the 'Yoga therapy' page.
3. See the sdifference between the first and second recommended video.

[2022-09-25 03:23] Vanshiii203 opened #496 ""home" is removed from the navbar of home page"
if we scroll down the home option should be present.

https://user-images.githubusercontent.com/94471189/192126808-f9ae8405-bfc6-4e6d-ae6b-2c1498c230ad.mp4

[2022-09-25 03:46] adityyaa-10 commented on #494
## @bhattabhi013 Is this issue fixed?

![image](https://user-images.githubusercontent.com/103577578/192127384-4f4cb705-f5f1-4783-a0c6-23cf55bb55a1.png)

seems fine to me

[2022-09-25 03:47] adityyaa-10 commented on #491
Hi, can I work on this issue?

[2022-09-25 03:55] adityyaa-10 opened #498 "Margin from right in yoga therapy page"
![image](https://user-images.githubusercontent.com/103577578/192127560-59ce4fce-f3fe-4c6f-8200-30f377dbb8dc.png)

### The background image does not occupy the complete width of my device and leaves some empty space in the end

[2022-09-25 05:31] myhacktech commented on #491
i am assigning,but u have to come with a better ui

[2022-09-25 06:14] Stk-79 opened #499 "Drastic changes in the Laugh Therapy due to some bugs making contents invisible."
1.Previous and next arrows for Memes
2.Standups
3.Footer Content

This can be corrected reviewing the code properly.

![Screenshot (74)](https://user-images.githubusercontent.com/102925712/192130714-e8647cbb-b1cc-40ea-95ab-f7fdf67699ec.png)

[2022-09-25 07:35] bhattabhi013 commented on #494
Hi Aditya,
I think this is fixed in the latest commits.

[2022-09-25 07:35] #494 closed

[2022-09-25 07:46] Susmita-Dey commented on #499
@Stk-79 go ahead

[2022-09-25 08:32] Vanshiii203 opened #503 "font family of FAQ"
I made the font family of all headings on home page similar but due to a merge of  a PR the FAQ's font family is changed
![Screenshot (411)](https://user-images.githubusercontent.com/94471189/192134915-ab3b15c5-9124-407a-a1a5-b844f63c768d.png)

[2022-09-25 08:39] Vanshiii203 opened #504 "change is background of FAQ section"
from-
![Screenshot (412)](https://user-images.githubusercontent.com/94471189/192135131-070f5101-6ecc-4b8e-b8d3-9b4de3053322.png)

to-
https://user-images.githubusercontent.com/94471189/192135115-c4c59661-87f0-4083-9536-a09eebe1efb1.mp4

[2022-09-25 08:41] Vanshiii203 opened #505 "making the social links open in new tab"
making the social links on footer  open in new tab
https://user-images.githubusercontent.com/94471189/192135192-e753ccf0-3065-40f1-ad9f-fd176608e3a9.mp4

[2022-09-25 08:59] Vanshiii203 commented on #309
@Susmita-Dey If no one is working on this issue, I would like to work on it.

[2022-09-25 09:50] #423 closed

[2022-09-25 10:02] itsmdasifraza opened #507 "App size is too bulky because of images folder which costs 50mb"
Because of that, website is taking too much time to load, so I want to compress the images using  https://imagecompressor.com/

[2022-09-25 11:02] Susmita-Dey commented on #503
@Vanshiii203 fix it.

[2022-09-25 12:43] EmilieFlores commented on #493
Hello, I would like to be assigned this issue if it's still available. Thank you.

[2022-09-25 13:13] Anubhavgupta14 opened #511 "Responsive bug in Main Page."
Responsiveness of main Page is not good.
I will fix it.
![Screenshot_2022-09-25-18-40-31-97_40deb401b9ffe8e1df2f1cc5ba480b12](https://user-images.githubusercontent.com/97956667/192145308-e12bd45e-60df-4483-afa5-76c7665c7f22.jpg)
@myhacktech Please Assign it to me.

[2022-09-26 01:01] Vanshiii203 opened #513 "Linking child therapy page to home page"

[2022-09-26 03:04] #367 closed

[2022-09-26 03:49] #460 closed

[2022-09-26 06:12] Stk-79 commented on #499
Should I close this issue as the page is updated and fixed? @Susmita-Dey @myhacktech

This PR contains the fixes #501 .

[2022-09-26 06:35] #499 closed

[2022-09-26 07:24] Stk-79 opened #514 "Adding some more videos to Talking Therapy & styling."
https://youtu.be/8jPQjjsBbIc

https://youtu.be/4ZQkYSpmOdU

https://youtu.be/71_NkXgAK1g

https://youtu.be/m3-O7gPsQK0

[2022-09-26 07:44] bhattabhi013 commented on #493
Hi @EmilieFlores,
Currently, this issue is assigned to me and I've also raised the PR for the same.

[2022-09-26 08:23] #488 closed

[2022-09-26 17:25] #462 closed

[2022-09-26 17:41] #458 closed

[2022-09-26 17:41] #461 closed

[2022-09-26 18:14] Stk-79 opened #516 "Updating Contributing.md more."
Links inside file need some fix on clicking.

[video.webm](https://user-images.githubusercontent.com/102925712/192350048-f534c461-16ed-4edd-a55a-62f146ec7274.webm)

[2022-09-27 00:28] AliReza1083 opened #518 "Adding Hacktoberfest"
Don't you want to add hacktoberfest in `topic` section?
![image](https://user-images.githubusercontent.com/99729607/192404082-bcae3cad-a5cc-4a98-b582-d286f3fbf937.png)

[2022-09-27 03:12] Yash-RajSingh commented on #427
Hey, I'm sorry I won't be able to finish this issue till Oct 1 as I'm tangled up in some important work. You can go ahead and assign this to @chakradhar4

[2022-09-28 06:16] Susmita-Dey commented on #518
@AliReza1083 No not this repo

[2022-09-28 06:16] #518 closed

[2022-09-28 06:23] #409 closed

[2022-09-28 06:43] #299 closed

[2022-09-28 06:50] #485 closed

[2022-09-28 07:12] #444 closed

[2022-09-28 07:12] #516 closed

[2022-09-28 07:18] #511 closed

[2022-09-28 12:48] #467 closed

[2022-09-28 13:19] #277 closed

[2022-09-28 13:23] #407 closed

[2022-09-28 13:23] #408 closed

[2022-09-28 13:28] SahilDahekar opened #526 "Fixing the background image on the child therapy page"
The background image on the chlid therapy page is broken

[2022-09-28 13:36] #526 closed

[2022-09-28 13:37] #505 closed

[2022-09-28 13:37] #503 closed

[2022-09-28 13:46] #496 closed

[2022-09-28 14:54] Vanshiii203 opened #528 "Fixing the Meet out members section"
![Screenshot (415)](https://user-images.githubusercontent.com/94471189/192812137-873781b4-9e90-47f3-9f07-4798c02ec7ab.png)

[2022-09-28 17:43] #411 closed

[2022-09-28 18:01] #491 closed

[2022-09-28 18:37] #464 closed

[2022-09-28 19:05] #456 closed

[2022-09-28 19:10] ShivanshAr97 commented on #463
Solved in PR #472

[2022-09-28 19:10] #463 closed

[2022-09-28 19:11] ShivanshAr97 commented on #459
Solved in PR https://github.com/Susmita-Dey/Sukoon/pull/472

[2022-09-28 19:11] #459 closed

[2022-09-29 07:49] #504 closed

[2022-09-30 12:51] #490 closed

[2022-09-30 18:08] #410 closed

[2022-10-01 04:22] #528 closed

[2022-10-02 04:11] #513 closed

[2022-10-02 06:18] bhattabhi013 commented on #493
Hi, please close this issue as this is resolved.

[2022-10-02 06:18] #493 closed

[2022-10-07 12:05] rishabh3231 commented on #424
please assign me this issue

[2022-10-09 08:03] Aniket1026 commented on #424
Thanks for assigning 😄

[2022-10-10 11:30] rani620 commented on #300
i did the pr plz close this  issue

[2022-10-15 05:03] Susmita-Dey opened #537 "Fix button in Reading Therapy Page"
Align the `read` button in center like others and remove the buttons of `Child Therapy` and `Spiritual Therapy` from this particular card.

![image](https://user-images.githubusercontent.com/79099734/195969645-e5b3ae8c-80b7-414f-889a-0fa3abb1f999.png)

Folks who want to take up this issue, comment below.

[2022-10-15 05:06] #507 closed

[2022-10-15 05:35] Athi223 commented on #537
Hey, I'd like to contribute to this

[2022-10-15 06:56] MohitNamdev22 opened #538 "There is issue in function calling in Carousel of Child page"
On the child page, the buttons in the carousel work opposite, the right button scrolls to the left and vice versa. It can be corrected by changing the function names. So can I contribute to it?

https://user-images.githubusercontent.com/89779447/195973688-c9a3d211-8c28-447d-aae4-091d7293232a.mp4

[2022-10-15 12:45] #538 closed

[2022-10-15 12:47] #537 closed

[2022-10-16 11:35] Vanshiii203 commented on #514
@Susmita-Dey I would like to work on this issue

[2022-10-16 11:43] Vanshiii203 opened #541 "adding smooth scroll to reading and child therapy page"
![Screenshot (480)](https://user-images.githubusercontent.com/94471189/196033497-612344e3-b594-4dca-87b0-e11864abed4f.png)
![Screenshot (481)](https://user-images.githubusercontent.com/94471189/196033500-89a6feb8-ec0e-4c87-b16b-4dce76082fd2.png)

[2022-10-16 12:23] MohitNamdev22 commented on #385
@Susmita-Dey Can I again start working on it? Under Hacktoberfest 2022

[2022-10-16 15:05] MohitNamdev22 opened #542 "Adding basic definition and Benefits of Reading in Reading Therapy Page"
On the reading therapy page, upon scrolling content starts from articles. So, I'll add a section to define reading therapy and its Benefits of it.

[2022-10-16 15:18] Susmita-Dey commented on #385
Yeah, go ahead

[2022-10-16 15:19] Susmita-Dey commented on #514
@Vanshiii203 Go ahead.

[2022-10-16 15:20] Susmita-Dey commented on #542
@MohitNamdev22

@Vanshiii203 is also working on Reading therapy so make sure both of you don't conflict.

[2022-10-16 15:24] MohitNamdev22 commented on #542
Yeah sure @Susmita-Dey I'll coordinate with her 🫡

[2022-10-16 17:48] SarojWasti opened #545 "Incorrect Links in CONTRIBUTING.md and CODE_OF_CONDUCT.md"
2 of the Quick Links in [CONTRIUBTING.md](https://github.com/Susmita-Dey/Sukoon/blob/main/CONTRIBUTING.md#quicklinks) aren't working and Mozilla code of conduct enforcement ladder link in [CODE_OF_CONDUCT.md](https://github.com/Susmita-Dey/Sukoon/blob/main/CODE_OF_CONDUCT.md#attribution) is pointing towards just mozilla inclusion repo instead of actual enforcement ladder documentation.

[2022-10-16 17:51] SarojWasti commented on #545
@Susmita-Dey Would like to help if the issue is applicable to the repo.

[2022-10-17 03:46] zugzwang03 opened #546 "Add Special therapy page"
I wish to add the special therapy page on the website. But the UI, and design, I am not completely sure of. It would be great if you could help me in that process, Once I get the UI, I can continue with the page formation. Can I also contribute it under hacktoberfest'22?

![special](https://user-images.githubusercontent.com/95460021/196085030-f73db435-2138-4ac7-aa8e-ca0fa7b5fc35.png)

[2022-10-17 16:56] Susmita-Dey commented on #427
@Yash-RajSingh Are you still working on it?

[2022-10-18 10:33] bhattabhi013 opened #548 "Feature: Add issue template"
Add issue template in the project.

[2022-10-18 10:34] bhattabhi013 commented on #548
Please assign this to me.

[2022-10-18 13:50] Vanshiii203 opened #550 "Removing extra space in the footer"
Removing the extra space below the footer
https://user-images.githubusercontent.com/94471189/196448275-ef21f150-7d53-4c7a-80ae-a67fd95969f6.mp4

[2022-10-18 14:30] devpawann commented on #550
Can I take this issue?

[2022-10-18 18:56] #424 closed

[2022-10-19 06:43] Susmita-Dey commented on #550
@Vanshiii203 How will you remove the extra space in the footer? Don't you think that things will gather together in one place conflicting with each other?

[2022-10-19 06:46] #548 closed

[2022-10-19 15:40] Vanshiii203 commented on #550
I am talking about this space
![Screenshot (486)](https://user-images.githubusercontent.com/94471189/196739056-7ce3d90f-58d7-435e-bd1d-8b346ed25550.png)
I'll just adjust the height of footer

[2022-10-22 14:17] bhattabhi013 opened #551 "[FEATURE] Pull Request Template"
### Description

Add pull request template.

### Screenshots

_No response_

### Additional information

_No response_

[2022-10-22 14:18] bhattabhi013 commented on #551
Please assign this to me.

[2022-10-22 16:15] DashShantanu commented on #480
Hello! I want to contribute on this issue.

[2022-10-22 16:18] DashShantanu commented on #546
Hello! I want to contribute on this issue. Could you assign this to me?

[2022-10-22 16:24] Susmita-Dey commented on #546
@zugzwang03 Special therapy is something like real-time interaction thing which one may use it. For example, we can make a chatbot or a system where users can use it to express his/her feelings and chat to reduce his/her stress

[2022-10-22 16:40] zugzwang03 commented on #546
Okay, then probably I can't make it now. I need to lean a lot of things before that.

[2022-10-23 05:21] kumarsonsoff3 opened #553 "feat: github action for greeting FTCs"
### Description

**What do you think of adding a GitHub action for greeting the first-time contributors on the project!?**

It seems more engaging and encouraging to the new contributors, and to the ones who are getting started with open-source!! 🙂

### Screenshots

Some thing like this!

![image](https://user-images.githubusercontent.com/88786642/197375246-20d133fb-3314-42b1-9bfb-51de705ad1e9.png

[2022-10-23 11:02] edilson258 opened #554 "migrate to rectjs"
### Description

The code base is comming bigger, and write new feature and making sure that this new feature wont break nothing is hard. So with react deviding our source code into small peaces will be easy to address this issue

### Screenshots

_No response_

### Additional information

_No response_

[2022-10-24 04:44] #304 closed

[2022-10-24 04:44] #300 closed

[2022-10-24 04:53] #541 closed

[2022-10-24 04:55] #514 closed

[2022-10-24 04:56] #551 closed

[2022-10-24 04:57] #545 closed

[2022-10-24 10:49] Vanshiii203 opened #556 "[FEATURE] <description>Adding preloader to child therapy page"
### Description

I would like to add to  preloader child therapy page

### Screenshots

_No response_

### Additional information

_No response_

[2022-10-24 10:59] Vanshiii203 commented on #426
@Susmita-Dey plz assign me this issue

[2022-10-25 05:35] MohitNamdev22 commented on #436
Can I work on this?

[2022-10-25 06:59] Rohit22-dev opened #560 "Changing ui for pages based on theme"
### Description

Changing ui for pages like faq-items on hover changes to white background but the whole website have dark vibe.

### Screenshots

_No response_

### Additional information

_No response_

[2022-10-25 07:00] Rohit22-dev commented on #560
Hi ma'am, can i work on this issue ?

[2022-10-25 07:21] BhavyaJain711 commented on #498
@Susmita-Dey please add hacktoberfest label. i solved the issue, opening pull request.

[2022-10-25 07:37] #498 closed

[2022-10-25 08:24] #550 closed

[2022-10-25 08:25] #426 closed

[2022-10-25 10:58] #542 closed

[2022-10-25 12:44] Vanshiii203 opened #564 "making "benefits of reading" section responsive"
### Description

the "benefits of reading" section is not responsive

### Screenshots

![Screenshot (503)](https://user-images.githubusercontent.com/94471189/197776282-81d7b6fc-be06-4586-9840-85930c786244.png)

### Additional information

_No response_

[2022-10-25 14:58] BhavyaJain711 commented on #484
The font size is set to 13px in navbar of many sections...
 Should i change it to appropriate size(1rem, using clamp) in all of them? @Susmita-Dey

[2022-10-25 22:00] elijahlc commented on #564
Hi there! I am a first time contributor to this project, but would like to help with this issue. Could you assign it to me?

[2022-10-26 05:20] #436 closed

[2022-10-27 17:36] Athi223 opened #566 "Navbar link clicks hide Section Title below Navbar"
### Description

Whenever we `click` on any **Navbar Link** (_About & Services_) and are _navigated_ to that section, but its title itself is **overshadowed** by the _Navbar_.

### Screenshots

**About:**
![image](https://user-images.githubusercontent.com/31766648/198359365-f5711409-a8e6-4a7b-88f1-b1e5fd9bc2e3.png)

**Services:**
![image](https://user-images.githubusercontent.com/31766648/19835963

[2022-10-31 07:41] #385 closed

[2022-11-07 04:26] Susmita-Dey commented on #484
@BhavyaJain711 do it

[2022-11-13 09:09] Shyamjitripathi commented on #365
Hey, @Susmita-Dey after going through your project I felt you and others are doing a great job by focusing on a stress-free environment and I would also like to contribute.

**Have some ideas for website landing page**
I'm sharing my ideas watch the attached video down below.

https://user-images.githubusercontent.com/59613166/201514276-33731b5e-0c3e-453f-a08d-10a5e59f94e9.mp4

[2022-11-15 04:23] joshl26 commented on #546
I can help with this feature!

[2022-11-24 07:45] Ash9311 commented on #441
I would like to take this issue